<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>환경설정
		</h2>
	</div>

	<ul class="my_menu_set">
		<li class="m1">
			<a href="">로그인해주세요</a>
		</li>
		<li>
			<p>자동 로그인</p>
			<div class="toggle"></div>
		</li>
		<li>
			<p>푸쉬 알림 받기</p>
			<div class="toggle"></div>
			<div class="set_body">모바일 특사 상품, 기획전, 이벤트소식 등 다양한 쇼핑혜택 정보를 푸쉬(PUSH) 알람으로 바로 안내 받을 수 있습니다.</div>
		</li>
		<li>
			<a href="">현재 버전 1.4 ㅣ 최신 버전 1.4</a>
			<div class="option">최신버전 사용중</div>
		</li>
	</ul>

	<div class="my_btnWrap1 ty1">
		<a class="common_btn2">고객기쁨센터 <img src="../../images/my/ico_phone.png" alt="" width="11" class="select_vertical3" /></a>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
