<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>회원 등급 혜택
		</h2>
	</div>

	<div class="my_classWrap silver"><!-- 등급에 따라 클래스 변경 family, silver, gold, vip -->
		<div class="ico_classWrap"></div>
		<div class="txt_classWrap">
			<p class="my_class">최용지님의 여름등급은 <span>SILVER</span> 입니다.</p>
			<p class="my_class_info">등급 유지기간 : 2016. 06. 01 ~ 2016. 08. 31<br/>등급 업데이트 : 2016. 05. 30</p>
		</div>
	</div>

	<ul class="my_class_list">
		<li>
			<div class="ico_classWrap">
				<p><img src="../../images/my/ico_vip.png" alt=""  width="32" /></p>
				<p>VIP</p>
			</div>
			<div class="txt_classWrap">
				<p class="class_info_tit">최근 3개월간 50만원 이상 구매 고객</p>
				<p class="class_info">· VIP 등급 할인쿠폰 3종 매월 1일 자동발급<br/>· 1만원 쿠폰, 5천원 쿠폰, 3천원 쿠폰</p>
			</div>
		</li>
		<li>
			<div class="ico_classWrap">
				<p><img src="../../images/my/ico_gold.png" alt=""  width="32" /></p>
				<p>GOLD</p>
			</div>
			<div class="txt_classWrap">
				<p class="class_info_tit">최근 3개월간 30만원 이상 구매 고객</p>
				<p class="class_info">· GOLD 등급 할인쿠폰 2종 매월 1일 자동발급<br/>· 5천원 쿠폰, 3천원 쿠폰</p>
			</div>
		</li>
		<li>
			<div class="ico_classWrap">
				<p><img src="../../images/my/ico_silver.png" alt=""  width="32" /></p>
				<p>SILVER</p>
			</div>
			<div class="txt_classWrap">
				<p class="class_info_tit">최근 3개월간 10만원 이상 구매 고객</p>
				<p class="class_info">· SILVER 등급 할인쿠폰 매월 1일 자동발급<br/>· 3천원 쿠폰</p>
			</div>
		</li>
		<li>
			<div class="ico_classWrap">
				<p><img src="../../images/my/ico_family.png" alt=""  width="32" /></p>
				<p>FAMILY</p>
			</div>
			<div class="txt_classWrap">
				<p class="class_info_tit">신규 회원</p>
				<p class="class_info">· 가입 시 1회 3천원 할인쿠폰 자동발급</p>
			</div>
		</li>
	</ul>

	<ul class="my_bullet_list">
		<li>회원등급은 봄(3월1일), 여름(6월1일), 가을(9월1일), 겨울(12월1일) 새로 부여되며, 등급유지기간은 3개월입니다.</li>
		<li>회원등급일 이전 3개월 기간의 배송이 완료된 구매금액을 기준으로 산정되며, 잔여 기간 내 취소/반품 내역에 따라 등급이 변경될 수 있습니다.</li>
		<li>등급별 할인쿠폰은 매월 발행되며, 유효기간은 매월 1일~말일까지입니다. (미사용 시 자동 소멸)</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
