<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>적립금
		</h2>
	</div>

	<ul class="my_savingWrap2">
		<li>
			<p class="my_saving_tit">사용가능 적립금</p>
			<p class="my_saving_price"><strong>10,000</strong>원</p>
		</li>
		<li>
			<p class="my_saving_tit">소멸예정 적립금<span>(매월 말일)</span></p>
			<p class="my_saving_price"><strong>10,000</strong>원</p>
		</li>
	</ul>

	<div class="my_stitWrap2 border2p">적립 내역</div>

	<table class="my_tbl_ty01" summary="적립 내역 정보">
		<colgroup>
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col">적립 날짜/구분</th>
				<th scope="col">적립금액</th>
				<th scope="col">사용금액</th>
				<th scope="col">만료일</th>
			</tr>
		</thead>
		<tbody>
			<tr class="saving">
				<td>
					<p>2016. 05. 30</p>
					<p>상품 구매 적립</p>
					<p><span>주문번호</span></p>
					<p><a>1609121133097417</a></p>
				</td>
				<td>100,000원</td>
				<td>-</td>
				<td>2017.01.01</td>
			</tr>
			<tr class="saving">
				<td>
					<p>2016. 05. 30</p>
					<p>적립금 환불</p>
				</td>
				<td>100,000원</td>
				<td>-</td>
				<td>2017.01.01</td>
			</tr>
			<tr class="saving">
				<td>
					<p>2016. 05. 30</p>
					<p>상품 구매 적립</p>
					<p><span>주문번호</span></p>
					<p><a>1609121133097417</a></p>
				</td>
				<td>100,000원</td>
				<td><span class="fc1">-100,000원</span></td>
				<td>
					<p>2016. 05. 30</p>
					<p>사용완료</p>
				</td>
			</tr>
			<tr class="saving">
				<td colspan="4">
					<p><img src="../../images/my/ico_no_saving.png" alt="" width="35" /></p>
					<p class="my_mt1">적립금 내역이 없습니다.</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
