<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>주문/배송 조회
		</h2>
	</div>

	<div class="my_stitWrap2 border2p">
		2016. 01. 01
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>
	</div>
	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<span class="fl prod_sub mr5">총 결제금액</span>
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
						<span class="prod_delivery-info"><strong class="color01">결제완료</strong><span>3곳으로 배송</span></span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="my_stitWrap2 border2p">
		2016. 01. 01
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>
	</div>
	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<span class="fl prod_sub mr5">총 결제금액</span>
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
						<span class="prod_delivery-info"><strong class="color01">결제완료</strong><span>3곳으로 배송</span></span>
					</span>
				</a>
			</div>
		</div>
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<span class="fl prod_sub mr5">총 결제금액</span>
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
						<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="my_stitWrap2 border2p">
		[정기배송] 2016. 01. 01
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>
	</div>
	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<span class="fl prod_sub mr5">총 결제금액</span>
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
						<span class="prod_delivery-info"><strong class="color01">결제완료</strong><span>총 5회 정기배송</span></span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="my_btnWrap1 ty4">
		<a href="" class="common_btn4">더보기</a>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
