<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>MY 쿠폰함
		</h2>
	</div>

	<div class="tab-v3">
		<a href="" class="tab-v3__link"><span>My 쿠폰</span> (3장)</a>
		<a href="" class="tab-v3__link is-active"><span>다운로드 가능 쿠폰</span> (3장)</a>
	</div>

	<div class="my_btnWrap1 ty5">
		<a href="" class="common_btn2">전체 다운로드 받기</a>
	</div>

	<div class="my_prodWrap2">
		<div class="my_coupon_info">
			<div class="coupon_img"><p class="tt1">30%</p></div>
			<p class="coupon_tit">[상품 쿠폰] <strong>말랑군고구마 30% 할인</strong></p>
			<p class="coupon_info">
				100만원 이상 구매 시 사용 가능<br/>
				2016. 03. 24 ~ 2017. 01. 01
			</p>

			<div class="my_btnWrap1 ty2">
				<a href="" class="common_btn2">다운로드 받기</a>
			</div>
		</div>

		<div class="my_coupon_info">
			<div class="coupon_img"><p>배송비 무료</p></div>
			<p class="coupon_tit">[배송비 쿠폰] <strong>말랑군고구마 30% 할인</strong></p>
			<p class="coupon_info">
				100만원 이상 구매 시 사용 가능<br/>
				2016. 03. 24 ~ 2017. 01. 01
			</p>

			<div class="my_btnWrap1 ty2">
				<a href="" class="common_btn2">다운로드 받기</a>
			</div>
		</div>

		<div class="my_coupon_info">
			<div class="coupon_img"><p>10,000원</p></div>
			<p class="coupon_tit">[장바구니 쿠폰] <strong>말랑군고구마 30% 할인</strong></p>
			<p class="coupon_info">
				100만원 이상 구매 시 사용 가능<br/>
				2016. 03. 24 ~ 2017. 01. 01
			</p>

			<div class="my_btnWrap1 ty2">
				<a href="" class="common_btn2">다운로드 받기</a>
			</div>
		</div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
