<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<!-- 작업본 -->
<div class="section my_main_bg">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>MY 풀무원
		</h2>
	</div>

	<section class="my_titWrap">
		<div class="my_class family"><a href="">회원등급혜택 ></a></div><!-- 등급에 따라 클래스 변경 family, silver, gold, vip -->
		<div class="my_name"><strong>최용지</strong>님 <a href="">회원정보수정</a></div>
		<div class="my_set"><a href="">설정</a></div>
	</section>

	<section class="my_savingWrap">
		<a href="">
			쿠폰 <strong>2</strong>장
		</a>
		<a href="">
			적립금 <strong>1,000</strong>원
		</a>
	</section>

	<section class="my_orderingWrap">
		<header><strong>진행중인 주문</strong> (최근 1개월)</header>
		<ul>
			<li>
				<div class="ing_count">0</div>
				<div class="ing_bar"></div>
				<div class="ing_tit">주문완료</div>
			</li>
			<li class="ing_on">
				<div class="ing_count ing">1</div>
				<div class="ing_bar"></div>
				<div class="ing_tit">결제완료</div>
			</li>
			<li>
				<div class="ing_count">0</div>
				<div class="ing_bar"></div>
				<div class="ing_tit">상품중비중</div>
			</li>
			<li>
				<div class="ing_count">0</div>
				<div class="ing_bar"></div>
				<div class="ing_tit">배송중</div>
			</li>
			<li>
				<div class="ing_count">0</div>
				<div class="ing_bar"></div>
				<div class="ing_tit">배송완료</div>
			</li>
		</ul>
	</section>

	<ul class="my_prod">
		<li>
			<a href="">
				<img src="../../images/my/ico_prod1.png" alt="" width="24" />
				자주 구매 상품
			</a>
		</li>
		<li>
			<a href="">
				<img src="../../images/my/ico_prod2.png" alt="" width="24" />
				최근 본 상품
			</a>
		</li>
		<li>
			<a href="">
				<img src="../../images/my/ico_prod3.png" alt="" width="24" />
				MY 풀패스
			</a>
		</li>
	</ul>

	<ul class="my_menu">
		<li class="m1">
			<a href="">주문/배송 내역</a>
		</li>
		<li class="m2">
			<a href="">취소/반품 내역</a>
		</li>
		<li class="m3">
			<a href="">정기, 일일배송/ 렌탈 관리</a>
		</li>
		<li class="m4">
			<a href="">상품평</a>
		</li>
		<li class="m5">
			<a href="">문의 내역</a>
		</li>
		<li class="m6">
			<a href="">배송지/계좌정보 관리</a>
		</li>
	</ul>

</div>
<!--// 작업본 -->

<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
