<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>주문상세
		</h2>
	</div>

	<section class="my_stitWrap1">
		<strong>2016. 01. 01</strong>(주문번호 : 1609121133097417)
	</section>

	<h3 class="my_stitWrap2">주문 상품</h3>
	<div class="my_prod_option tar">
		<a href="" class="common_btn1">선택상품 주문 취소</a>
		<a href="" class="common_btn1">주문 전체 취소</a>
	</div>
	<ul class="my_accordian1_list">
		<li class="accordian1_item position">
			<div class="prod_check_head">
				<input type="checkbox" name="sl" id="test9" class="checkbox1"><label for="test9" class="solo">선택</label>
			</div>
			<div class="accordian1_item_header">
				<div class="accordian1_item_header_wrap">
					<h3 class="accordian1_tit">01. 우리집 - 경기도 성남시 분당구 판교아파트 301동 1508호</h3>
				</div>
			</div>
			<div class="accordian1_item_body">

				<div class="my_prod_info">
					<header>08.24(화) 도착예정 <a href="" class="common_btn1">배송예정일 변경</a></header>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test1" class="checkbox1"><label for="test1" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test2" class="checkbox1"><label for="test2" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<div class="my_prod_info">
					<header>08.24(화) 도착예정 <a href="" class="common_btn1">배송예정일 변경</a></header>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test3" class="checkbox1"><label for="test3" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</li>
		<li class="accordian1_item position">
			<div class="prod_check_head">
				<input type="checkbox" name="s2" id="test10" class="checkbox1"><label for="test10" class="solo">선택</label>
			</div>
			<div class="accordian1_item_header">
				<div class="accordian1_item_header_wrap">
					<h3 class="accordian1_tit">02. 엄마집 - 경기도 성남시 분당구 판교아파트 301동 1508호</h3>
				</div>
			</div>
			<div class="accordian1_item_body">

				<div class="my_prod_info">
					<header>08.24(화) 도착예정 <a href="" class="common_btn1">배송예정일 변경</a></header>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="s2" id="test5" class="checkbox1"><label for="test5" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="s2" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
				</div>

				<div class="my_prod_info">
					<header>08.24(화) 도착예정 <a href="" class="common_btn1">배송예정일 변경</a></header>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="s2" id="test7" class="checkbox1"><label for="test7" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="s2" id="test8" class="checkbox1"><label for="test8" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
									<span class="prod_delivery-info"><strong class="color01">결제완료</strong></span>
								</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</li>
	</ul>

	<h3 class="my_stitWrap2 my_mt1">결제 정보</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="결제 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>총 상품금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>총 배송비</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>총 할인금액</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr>
					<th>적립금 사용</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr class="total">
					<th>총 결제 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="boxWrap1 pt0">
		<table class="my_tbl_ty02" summary="결제 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th><strong>무통장 입금</strong></th>
					<td class="tar"></td>
				</tr>
				<tr>
					<th>입금액</th>
					<td class="tar">30,000원</td>
				</tr>
				<tr>
					<th>입금 정보</th>
					<td class="tar">신한은행 / 123412******</td>
				</tr>
				<tr>
					<th>예금주</th>
					<td class="tar">풀무원</td>
				</tr>
				<tr>
					<th>입금 기한</th>
					<td class="tar">2016. 01. 01. 18:59:59</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">보내는 사람</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="보내는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>보내는 사람</th>
					<td>홍길동</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">받는 사람 01 - 우리집</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="받는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는 사람</th>
					<td>홍길동</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>02-1234-1234</td>
				</tr>
				<tr>
					<th>휴대폰번호</th>
					<td>010-1234-1234</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>경기도 성남시 분당구 판교아파트 301호 경기도 성남시 분당구 판교아파트 301호 </td>
				</tr>
				<tr>
					<th>배송메시지</th>
					<td>잘 부탁드려요~</td>
				</tr>
			</tbody>
		</table>
		<div class="my_btnWrap1">
			<div class="w50"><a href="" class="common_btn2">배송메시지 수정</a></div>
			<div class="w50"><a href="" class="common_btn2">배송지 변경</a></div>
		</div>
	</div>

	<h3 class="my_stitWrap2">받는 사람 02 - 엄마집</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="받는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는 사람</th>
					<td>홍길동</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>02-1234-1234</td>
				</tr>
				<tr>
					<th>휴대폰번호</th>
					<td>010-1234-1234</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>경기도 성남시 분당구 판교아파트 301호 경기도 성남시 분당구 판교아파트 301호 </td>
				</tr>
				<tr>
					<th>배송메시지</th>
					<td>잘 부탁드려요~</td>
				</tr>
			</tbody>
		</table>
		<div class="my_btnWrap1">
			<div class="w50"><a href="" class="common_btn2">배송메시지 수정</a></div>
			<div class="w50"><a href="" class="common_btn2">배송지 변경</a></div>
		</div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
