<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>정기배송 주문상세
		</h2>
	</div>

	<section class="my_stitWrap1">
		<strong>2016. 01. 01</strong>(주문번호 : 1609121133097417)
	</section>

	<h3 class="my_stitWrap2">주문 상품</h3>

	<ul class="my_accordian1_list my_mt1">
		<li class="accordian1_item">
			<div class="accordian1_item_header">
				<div class="accordian1_item_header_wrap">
					<h3 class="accordian1_tit">01. 우리집 - 경기도 성남시 분당구 판교아파트 301동 1508호</h3>
				</div>
			</div>
			<div class="accordian1_item_body">

				<div class="my_prod_info my_mt1">
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
								</span>
							</a>
						</div>
						<div class="my_btnWrap1 ty2">
							<div class="w50"><a href="" class="common_btn2">배송 조회</a></div>
							<div class="w50"><a href="" class="common_btn2">상품평 작성</a></div>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(수량 1개)</span>
									</span>
								</span>
							</a>
						</div>
						<div class="my_btnWrap1 ty2">
							<div class="w50"><a href="" class="common_btn2">배송 조회</a></div>
							<div class="w50"><a href="" class="common_btn2">상품평 작성</a></div>
						</div>
					</div>
				</div>

			</div>
		</li>
	</ul>

	<h3 class="my_stitWrap2">정기배송 정보</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty01" summary="정기배송 정보">
			<colgroup>
				<col width="140" />
				<col />
				<col width="140" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">회차 수</th>
					<th scope="col">정기배송일</th>
					<th scope="col">상태</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1회차</td>
					<td>2016.05.04</td>
					<td>결제 완료</td>
				</tr>
				<tr class="fc1">
					<td>2회차</td>
					<td>2016.05.04</td>
					<td>상품준비중</td>
				</tr>
				<tr>
					<td>3회차</td>
					<td>2016.05.04</td>
					<td>결제 완료</td>
				</tr>
				<tr>
					<td>4회차</td>
					<td>2016.05.04</td>
					<td>취소 완료</td>
				</tr>
			</tbody>
		</table>
		<div class="my_btnWrap1">
			<div class="w50"><a href="" class="common_btn2">정기배송 관리</a></div>
			<div class="w50"><a href="" class="common_btn2">정기배송 취소</a></div>
		</div>
	</div>

	<h3 class="my_stitWrap2">결제 정보</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="결제 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>총 상품금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>총 배송비</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>총 할인금액</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr>
					<th>적립금 사용</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr class="total">
					<th>총 결제 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="boxWrap1 pt0">
		<table class="my_tbl_ty02" summary="결제 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th><strong>카카오페이</strong></th>
					<td class="tar"></td>
				</tr>
				<tr>
					<th>입금액</th>
					<td class="tar">30,000원</td>
				</tr>
				<tr>
					<th>입금 정보</th>
					<td class="tar">신한은행 / 123412******</td>
				</tr>
				<tr>
					<th>예금주</th>
					<td class="tar">풀무원</td>
				</tr>
				<tr>
					<th>입금 기한</th>
					<td class="tar">2016. 01. 01. 18:59:59</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">보내는 사람</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="보내는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>보내는 사람</th>
					<td>홍길동</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">받는 사람 - 우리집</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="받는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는 사람</th>
					<td>홍길동</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>02-1234-1234</td>
				</tr>
				<tr>
					<th>휴대폰번호</th>
					<td>010-1234-1234</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>경기도 성남시 분당구 판교아파트 301호 경기도 성남시 분당구 판교아파트 301호 </td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">취소/반품 정보</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="취소/반품 정보">
			<colgroup>
				<col width="145px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>상품 취소 예정 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>할인 금액 차감</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr>
					<th>배송비</th>
					<td class="tbl_price">2,000<span>원</span></td>
				</tr>
				<tr class="sty1">
					<th>계좌 환불</th>
					<td class="tar">3,000<span>원</span></td>
				</tr>
				<tr class="sty2">
					<th>적립금 환불</th>
					<td class="tar">3,000<span>원</span></td>
				</tr>
				<tr class="total">
					<th>총 환불 예정 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="boxWrap1 pt0">
		<table class="my_tbl_ty02" summary="취소/반품 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>취소 구분</th>
					<td class="tar">부분 취소</td>
				</tr>
				<tr>
					<th>취소 접수일자</th>
					<td class="tar">2016.01.01</td>
				</tr>
				<tr>
					<th>취소 완료일자</th>
					<td class="tar">2016.01.01</td>
				</tr>
				<tr>
					<th>환불 수단</th>
					<td class="tar">신용카드 (현대카드)</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
