<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>정기배송 취소 완료
		</h2>
	</div>

	<div class="boxWrap2">
		<div class="boxWrap2_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>

		<table class="my_tbl_ty02" summary="">
			<colgroup>
				<col width="65" />
				<col />
			</colgroup>
			<tbody>
				<tr class="tbl_b">
					<th scope="row">주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">주문번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">정기배송</th>
					<td>총 6회</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">정기배송 예정일</h3>
	<div class="boxWrap1 my_pb1">
		<table class="my_tbl_ty01" summary="정기배송 예정일 정보">
			<colgroup>
				<col width="15%" />
				<col width="30%" />
				<col width="20%" />
				<col width="35%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">회차 수</th>
					<th scope="col">배송 예정일</th>
					<th scope="col">상태</th>
					<th scope="col">관리</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1회차</td>
					<td>2016.05.04</td>
					<td>배송 완료</td>
					<td>-</td>
				</tr>
				<tr class="fc1">
					<td>2회차</td>
					<td>2016.05.04</td>
					<td>상품준비중</td>
					<td>-</td>
				</tr>
				<tr>
					<td>3회차</td>
					<td>2016.05.04</td>
					<td>결제 완료</td>
					<td><a href="" class="common_btn1">배송예정일 변경</a></td>
				</tr>
				<tr>
					<td>4회차</td>
					<td>2016.05.04</td>
					<td>결제 완료</td>
					<td><a href="" class="common_btn1">배송예정일 변경</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">정기배송 상품</h3>
	<div class="boxWrap1">
		<ul class="my_prod_list">
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
			<li>국산콩 나또(1개)</li>
		</ul>
		<div class="my_btnWrap1">
			<a href="" class="common_btn2">장바구니 다시담기</a>
		</div>
	</div>

	<h3 class="my_stitWrap2">정기배송지 정보</h3>
	<div class="boxWrap1">
		<div class="small_txt">
			<strong>우리집</strong><br/>
			성남시 분당구 산오리 90번지
		</div>
		<div class="my_btnWrap1 ty1">
			<div class="w50"><a href="" class="common_btn2">배송지 일괄 변경</a></div>
			<div class="w50"><a href="" class="common_btn2">정기배송 취소</a></div>
		</div>
		<ul class="my_bullet_list">
			<li>결제완료 단계인 회차의 배송지를 일괄변경합니다.</li>
			<li>상품준비중 이후 단계에서는 배송지 변경이 불가합니다.</li>
		</ul>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
