<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>정기배송 취소 신청
		</h2>
	</div>

	<section class="my_stitWrap1">
		<strong>2016. 01. 01</strong>(주문번호 : 1609121133097417)
	</section>

	<h3 class="my_stitWrap2">취소 상품</h3>
	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
							<span class="prod_sub">(수량 30개)</span>
						</span>
						<span class="prod_delivery-info">취소수량 <strong class="color01 ml10">30</strong></span>
					</span>
				</a>
			</div>

			<div class="prod_detail_bottom">
				<div class="prod__order">
					<span class="prod__order-txt">금액</span>
					<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
				</div>
			</div>
		</div>

		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
							<span class="prod_sub">(수량 30개)</span>
						</span>
						<span class="prod_delivery-info">취소수량 <strong class="color01 ml10">30</strong></span>
					</span>
				</a>
			</div>

			<div class="prod_detail_bottom">
				<div class="prod__order">
					<span class="prod__order-txt">금액</span>
					<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
				</div>
			</div>
		</div>
	</div>

	<div class="prod_detail_bottom my_sty1">
		<div class="prod__cancel">취소사유</div>
		<div class="prod__select-wrap my_sty1">
			<div class="prod__select wd50p">
				<div class="select__box wd100p">
					<select class="js-default select1 select30">
						<option>대분류</option>
						<option>작성자</option>
						<option>내용</option>
					</select>
				</div>
			</div>
			<div class="prod__select wd50p">
				<div class="select__box wd100p">
					<select class="js-default select1 select30">
						<option>중분류</option>
						<option>작성자</option>
						<option>내용</option>
					</select>
				</div>
			</div>
		</div><!-- //prod__select-wrap-->
	</div>

	<h3 class="my_stitWrap2">취소 배송 정보</h3>
	<div class="boxWrap1 my_pb1">
		<table class="my_tbl_ty01" summary="취소 배송 정보">
			<colgroup>
				<col width="140" />
				<col />
				<col width="140" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">회차 수</th>
					<th scope="col">정기배송일</th>
					<th scope="col">주문 단계</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1회차</td>
					<td>2016.05.04</td>
					<td>주문 완료</td>
				</tr>
				<tr>
					<td>2회차</td>
					<td>2016.05.04</td>
					<td>주문 완료</td>
				</tr>
				<tr>
					<td>3회차</td>
					<td>2016.05.04</td>
					<td>주문 완료</td>
				</tr>
				<tr>
					<td>4회차</td>
					<td>2016.05.04</td>
					<td>주문 완료</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">환불 정보</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="환불 정보">
			<colgroup>
				<col width="145px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>상품 취소 예정 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
				<tr>
					<th>할인 금액 차감</th>
					<td class="tbl_price">-30,000<span>원</span></td>
				</tr>
				<tr>
					<th>배송비</th>
					<td class="tbl_price">2,000<span>원</span></td>
				</tr>
				<tr class="sty1">
					<th>계좌 환불</th>
					<td class="tar">3,000<span>원</span></td>
				</tr>
				<tr class="sty2">
					<th>적립금 환불</th>
					<td class="tar">3,000<span>원</span></td>
				</tr>
				<tr class="total">
					<th>총 환불 예정 금액</th>
					<td class="tbl_price">30,000<span>원</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="boxWrap1 pt0">
		<table class="my_tbl_ty02" summary="취소/반품 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th><strong>카드 환불</strong></th>
					<td class="tar"></td>
				</tr>
				<tr>
					<th>취소 구분</th>
					<td class="tar">전체 취소</td>
				</tr>
				<tr>
					<th>환불 금액</th>
					<td class="tar">2016.01.01</td>
				</tr>
				<tr>
					<th>환불 수단</th>
					<td class="tar">신용카드(하나)</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_btnWrap1 ty3 border1p2">
		<div class="w50"><a href="" class="common_btn2">취소</a></div>
		<div class="w50"><a href="" class="common_btn2">주문취소 신청</a></div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
