<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>일일배달 관리
		</h2>
	</div>

	<div class="boxWrap2">
		<div class="boxWrap2_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>

		<table class="my_tbl_ty02" summary="">
			<colgroup>
				<col width="65" />
				<col />
			</colgroup>
			<tbody>
				<tr class="tbl_b">
					<th scope="row">주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">주문번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">배달정보</th>
					<td>주 3회(월·수·금) × 1개월(4주) = 총 12회</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="my_stitWrap2">
		배달 스케쥴
		<div class="my_stitWrap_option">
			<span class="select__box wd80">
				<select class="select1 select28">
					<option>1월</option>
					<option>2월</option>
					<option>3월</option>
					<option>4월</option>
					<option>5월</option>
					<option>6월</option>
					<option>7월</option>
					<option>8월</option>
					<option>9월</option>
					<option>10월</option>
					<option>11월</option>
					<option>12월</option>
				</select>
			</span>
			<span class="select_vertical2"><a href="" class="common_btn3">상세보기</a></span>
		</div>
	</h3>
	<div class="boxWrap1">
		<table class="my_tbl_ty01" summary="배달 스케쥴 정보">
			<colgroup>
				<col width="90" />
				<col />
				<col width="100" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">회차 수</th>
					<th scope="col">배송 예정일</th>
					<th scope="col">관리</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>09.01 (일)</td>
					<td class="tal">아임리얼 스트로베리(100ml) / 1개</td>
					<td>배송완료</td>
				</tr>
				<tr>
					<td>09.01 (일)</td>
					<td class="tal">아임리얼 스트로베리(100ml) / 1개</td>
					<td>배송완료</td>
				</tr>
				<tr>
					<td>09.01 (일)</td>
					<td class="tal">아임리얼 스트로베리(100ml) / 1개</td>
					<td><a href="" class="common_btn1">건너뛰기</a></td>
				</tr>
				<tr>
					<td>09.01 (일)</td>
					<td class="tal">2016.05.04</td>
					<td><a href="" class="common_btn1">건너뛰기</a></td>
				</tr>
			</tbody>
		</table>
		<ul class="my_bullet_list">
			<li>배달 건너뛰기 신청을 하실 경우 건너뛰기 된 상품은 예정된 마지막 배송예정일 이후 같은 요일로 연기됩니다.</li>
		</ul>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
