<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>정기배송 취소 완료
		</h2>
	</div>

	<section class="my_stitWrap1 tac">
		<strong>정기배송 취소 신청이 완료되었습니다.</strong>
	</section>

	<div class="boxWrap1 border1p">
		<table class="my_tbl_ty02" summary="받는 사람 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>환불 예상 금액</th>
					<td>3,000원</td>
				</tr>
				<tr>
					<th>환불수단</th>
					<td>신한카드</td>
				</tr>
			</tbody>
		</table>

		<ul class="my_bullet_list border1p">
			<li>환불 완료 시 적립금 3,000원이 재적립됩니다. MY풀무원 > 적립금에서 확인하실 수 있습니다.</li>
			<li>결제 시 사용하셨던 쿠폰 [올가상품 10% 할인 쿠폰]은 환불완료 시 재발급됩니다. MY풀무원 > 쿠폰함에서 확인하실 수 있습니다.</li>
		</ul>
	</div>

	<div class="my_btnWrap1 ty4">
		<div class="w50"><a href="" class="common_btn2">주문 상세보기</a></div>
		<div class="w50"><a href="" class="common_btn2">쇼핑 계속하기</a></div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
