<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>정기/일일/렌탈 관리
		</h2>
	</div>

	<div class="my_stitWrap2 border2p">
		[정기배송] 옛두부 외 3건
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">관리</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="정기/일일/렌탈 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr>
					<th>주분번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr>
					<th>배송정보</th>
					<td>총 6회 정기배송</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_stitWrap2 border2p">
		[일일배달] 옛두부 외 3건
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">관리</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="정기/일일/렌탈 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr>
					<th>주분번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr>
					<th>배달정보</th>
					<td>주 3회(월·수·금)×12개월(48주) = 총 144회</td>
				</tr>
				<tr>
					<th>배달기간</th>
					<td>2016. 01. 01 ~ 2016. 06. 06</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_stitWrap2 border2p">
		[렌탈서비스] 건강한 청소기
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">관리</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="정기/일일/렌탈 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr>
					<th>주분번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr>
					<th>렌탈기간</th>
					<td>2016. 01. 01 ~ 2016. 06. 06 (12개월)</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_btnWrap1 ty4">
		<a href="" class="common_btn4">더보기</a>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
