<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품평
		</h2>
	</div>

	<div class="tab-v3 my_mb1">
		<a href="" class="tab-v3__link"><span>상품평 작성</span> (5)</a>
		<a href="" class="tab-v3__link is-active"><span>내 상품평</span> (10)</a>
	</div>

	<ul class="prod_post my_mt1">
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star0"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디123123123~ <span class="file"><img src="../../images/my/ico_file.png" alt="" width="12" /></span></p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star1"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star2"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star3"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star4"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton">
					<div class="star_count star5"></div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
				맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
