<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품평 작성
		</h2>
	</div>

	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<ul class="star_control star1"><!-- star1, star2, star3, star4, star5 -->
		<li class="star1"></li>
		<li class="star2"></li>
		<li class="star3"></li>
		<li class="star4"></li>
		<li class="star5"></li>
	</ul>

	<div class="inpuit_form">
		<input type="text" value="아임리얼 스무디 구매했습니다." />
		<textarea>아임리얼 스무디 진짜 맛있어요.
	아임리얼 스무디 진짜 맛있어요 다음에 또 시킬까봐요.</textarea>
		<div class="btn"><a href="" class="common_btn3">사진첨부</a></div>
		<div class="file">
			<input type="text" value="Pulmuonefood_image_20160720.jpg" />
			<p class="btn_del"><a href="" class="common_btn1">X</a></p>
		</div>
		<div class="file">
			<input type="text" value="Pulmuonefood_image_20160720.jpg" />
			<p class="btn_del"><a href="" class="common_btn1">X</a></p>
		</div>
	</div>
	<ul class="my_bullet_list">
		<li>최대용량 2MB 이내의 jpeg, png, gif 파일형식만 등록하세요.</li>
		<li>파일은 3개까지 등록 가능합니다.</li>
		<li>제품문의, 주문, 배송 관련 문의는 별도 문의 바랍니다.(전화 , 1:1상담, 상품문의)</li>
	</ul>
	<div class="my_btnWrap1 ty1 mt5">
		<div class="w50"><a href="" class="common_btn4">확인</a></div>
		<div class="w50"><a href="" class="common_btn4">취소</a></div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
