<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품평
		</h2>
	</div>

	<div class="tab-v3 my_mb1">
		<a href="" class="tab-v3__link is-active"><span>상품평 작성</span> (5)</a>
		<a href="" class="tab-v3__link"><span>내 상품평</span> (10)</a>
	</div>

	<ul class="my_accordian1_list my_accordian1_list2">
		<li class="accordian1_item">
			<div class="accordian1_item_header">
				<div class="accordian1_item_header_wrap">
					<h3 class="accordian1_tit">주문일 2016.05.20</h3>
				</div>
			</div>
			<div class="accordian1_item_body">

				<div class="my_prod_info">
					<div class="prod_info type-wide my_mt1">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								</span>
							</a>
						</div>

						<div class="my_btnWrap1 ty2">
							<a href="" class="common_btn2">상품평 작성</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								</span>
							</a>
						</div>
						<div class="my_btnWrap1 ty2">
							<a href="" class="common_btn2">상품평 작성</a>
						</div>
					</div>
				</div>

			</div>
		</li>
		<li class="accordian1_item">
			<div class="accordian1_item_header accordian1_item_header2">
				<div class="accordian1_item_header_wrap">
					<h3 class="accordian1_tit">주문일 2016.05.20</h3>
				</div>
			</div>
			<div class="accordian1_item_body">

				<div class="my_prod_info">
					<div class="prod_info type-wide my_mt1">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								</span>
							</a>
						</div>

						<div class="my_btnWrap1 ty2">
							<a href="" class="common_btn2">상품평 작성</a>
						</div>
					</div>
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								</span>
							</a>
						</div>
						<div class="my_btnWrap1 ty2">
							<a href="" class="common_btn2">상품평 작성</a>
						</div>
					</div>
				</div>

			</div>
		</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
