<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>문의내역
		</h2>
	</div>

	<div class="tab-v3 my_mb1">
		<a href="" class="tab-v3__link"><span>상품문의</span></a>
		<a href="" class="tab-v3__link is-active"><span>1:1 문의</span></a>
	</div>

	<div class="my_btnWrap1 ty1">
		<a href="" class="common_btn2">1:1 문의하기</a>
	</div>

	<ul class="prod_post my_mt1">
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton post_qna">
					<div class="date"><span>문의접수</span>2016.09.09</div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디123123123~ <span class="file"><img src="../../images/my/ico_file.png" alt="" width="12" /></span></p>
				</a>
			</div>
			<div class="post_body">
				<ul>
					<li class="qna_q">
						결제하기 버튼을 누르면 에러가 나고 설치만 계속 하라고 해요.
					</li>
				</ul>
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<ul class="my_mt1">
					<li class="qna_a">
						익스플로러 버전을 확인해주세요.<br/>
						풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 합니다.<br/>
						2016.09.13  12:00
					</li>
				</ul>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton post_qna">
					<div class="date"><span>답변완료</span>2016.09.09</div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<ul>
					<li class="qna_q">
						결제하기 버튼을 누르면 에러가 나고 설치만 계속 하라고 해요.
					</li>
				</ul>
				<div class="main__slide my_mt1">
					<div class="swiper-wrapper">
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
						<div class="main__item swiper-slide">
							<img src="../../images/temp/post_img01.png" alt="">
						</div>
					</div>
					<div class="swiper-pagination my_swiper-pagination"></div>
				</div>
				<ul class="my_mt1">
					<li class="qna_a">
						익스플로러 버전을 확인해주세요.<br/>
						풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 합니다.<br/>
						2016.09.13  12:00
					</li>
				</ul>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
