<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품 문의
		</h2>
	</div>

	<div class="my_prodWrap">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="inpuit_form pt0">
		<input type="text" placeholder="제목을 입력해주세요." />
		<textarea placeholder="문의하실 사항을 입력해주세요."></textarea>
	</div>
	<div class="my_btnWrap1 ty3">
		<div class="w50"><a href="" class="common_btn4">확인</a></div>
		<div class="w50"><a href="" class="common_btn4">취소</a></div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
