<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>1:1 문의
		</h2>
	</div>

	<div class="inpuit_form">
		<input type="text" placeholder="제목을 입력해주세요." />

		<div class="file search">
			<input type="text" />
			<p class="btn_del"><a href="" class="common_btn3">주문내역찾기</a></p>
		</div>

		<div class="prod_detail_bottom my">
			<div class="prod__select wd50p">
				<div class="select__box wd100p">
					<select class="js-default select1 select30">
						<option>문의유형 01</option>
					</select>
				</div>
			</div>
			<div class="prod__select wd50p">
				<div class="select__box wd100p">
					<select class="js-default select1 select30">
						<option>문의유형 02</option>
					</select>
				</div>
			</div>
		</div>

		<textarea placeholder="문의하실 사항을 입력해주세요."></textarea>

		<div class="btn"><a href="" class="common_btn3">사진첨부</a></div>
	</div>
	<ul class="my_bullet_list my_pb1">
		<li>최대용량 2MB 이내의 jpeg, png, gif 파일형식만 등록 가능합니다.<br/>(파일 3개까지 등록 가능)</li>
	</ul>

	<div class="boxWrap1 border1p">
		<table class="my_tbl_ty02" summary="내 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th rowspan="2">E-mail</th>
					<td><input type="text" class="sty1" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="sl" id="test1" class="checkbox1"><label for="test1" class="solo mr5">선택</label> 이메일 답변받기</td>
				</tr>
				<tr>
					<th rowspan="2">휴대폰</th>
					<td><input type="text" class="sty1" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="sl" id="test1" class="checkbox1"><label for="test1" class="solo mr5">선택</label> SMS 답변받기</td>
				</tr>
			</tbody>
		</table>

		<ul class="my_bullet_list">
			<li>답변알리미는 풀무원샵 회원의 기본정보와 관계없이 설정하신대로 발송됩니다.</li>
		</ul>
	</div>

	<div class="my_btnWrap1 ty4">
		<div class="w50"><a href="" class="common_btn4">확인</a></div>
		<div class="w50"><a href="" class="common_btn4">취소</a></div>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
