<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>문의내역
		</h2>
	</div>

	<div class="tab-v3 my_mb1">
		<a href="" class="tab-v3__link is-active"><span>상품문의</span></a>
		<a href="" class="tab-v3__link"><span>1:1 문의</span></a>
	</div>

	<ul class="prod_post my_mt1">
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton post_qna">
					<div class="date"><span>문의접수</span>2016.09.09</div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<ul>
					<li class="qna_q">
						<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
						맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
					</li>
					<li class="qna_a">
						<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
						맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
					</li>
				</ul>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
		<li>
			<div class="post_title">
				<a href="#none" class="postbutton post_qna">
					<div class="date"><span>답변완료</span>2016.09.09</div>
					<p>[선물박스] 아임리얼 BEST 세트 아임리얼 BEST 세트 평가에 대해 한마디~</p>
				</a>
			</div>
			<div class="post_body">
				<ul>
					<li class="qna_q">
						<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
						맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
					</li>
					<li class="qna_a">
						<strong>다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</strong><br>
						맛과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~ 내용도 충실하고 소스도 아주 맛있습니다.
					</li>
				</ul>
				<div class="my_mt1 tar">
					<a class="common_btn3">수정</a>
					<a class="common_btn3">삭제</a>
				</div>
			</div>
		</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
