<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>렌탈 관리
		</h2>
	</div>

	<div class="boxWrap2">
		<div class="boxWrap2_option">
			<a href="" class="common_btn3">주문 상세보기</a>
		</div>

		<table class="my_tbl_ty02" summary="">
			<colgroup>
				<col width="65" />
				<col />
			</colgroup>
			<tbody>
				<tr class="tbl_b">
					<th scope="row">주문일</th>
					<td>2016.01.01</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">주문번호</th>
					<td>1609121133097417</td>
				</tr>
				<tr class="tbl_b">
					<th scope="row">렌탈기간</th>
					<td>2016.08.08 ~ 2017.08.08 (1년)</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_prodWrap border1p2">
		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="my_btnWrap1 ty4">
		<a href="" class="common_btn2">1:1 문의</a>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
