<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>자주 구매하는 상품 <span>(10)</span>
		</h2>
	</div>

	<div class="my_stitWrap3">
		<input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">전체선택</label>
		<div class="my_stitWrap_option">
			<span class="select__box wd120">
				<select class="js-default select1 select30">
					<option>구매 횟수 순</option>
				</select>
			</span>
		</div>
	</div>

	<div class="my_prodWrap">

		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<div class="prod_check">
					<input type="checkbox" name="sl" id="test1" class="checkbox1"><label for="test1" class="solo">선택</label>
				</div>
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
							<span class="prod_price_prev"><span>10,200</span>원</span>
						</span>
					</span>
				</a>
				<a href="#" class="prod_btn_cart">
					<img src="../../images/btn_prod_cart.png" alt="장바구니 담기">
				</a>
			</div>
		</div>

		<div class="prod_info type-wide">
			<a href="#" class="prod_img">
				<div class="prod_check">
					<input type="checkbox" name="sl" id="test2" class="checkbox1"><label for="test2" class="solo">선택</label>
				</div>
				<img src="../../images/temp/prod_img01.jpg" alt="">
			</a>
			<div class="prod_detail">
				<a href="#">
					<span class="prod_detail_top">
						<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
						<span class="prod_price">
							<strong class="prod_price_now">
								<span>2,900</span>원
							</strong>
							<span class="prod_price_prev"><span>10,200</span>원</span>
						</span>
					</span>
				</a>
				<a href="#" class="prod_btn_cart">
					<img src="../../images/btn_prod_cart.png" alt="장바구니 담기">
				</a>
			</div>
		</div>
	</div>

	<div class="my_btnWrap1 ty4">
		<ul class="buytab__btn-list">
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">선택상품 장바구니 담기</a></li>
		</ul>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
