<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>배송지/계좌정보 관리
		</h2>
	</div>

	<div class="tab-v3">
		<a href="" class="tab-v3__link is-active">배송지관리</a>
		<a href="" class="tab-v3__link">환불계좌관리</a>
	</div>

	<div class="my_btnWrap1 ty5 my_mb1">
		<a href="" class="common_btn2">배송지 추가</a>
	</div>

	<div class="my_stitWrap2 border2p">
		우리집[기본]
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">수정</a>
			<a href="" class="common_btn3">삭제</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="배송지 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는사람</th>
					<td>이연지</td>
				</tr>
				<tr>
					<th>연락처</th>
					<td>02-1231-1231 / 010-1230-1231</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지<br/>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_stitWrap2 border2p">
		회사
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">수정</a>
			<a href="" class="common_btn3">삭제</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="정기/일일/렌탈 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는사람</th>
					<td>이연지</td>
				</tr>
				<tr>
					<th>연락처</th>
					<td>02-1231-1231 / 010-1230-1231</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지<br/>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="my_stitWrap2 border2p">
		회사
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">수정</a>
			<a href="" class="common_btn3">삭제</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="정기/일일/렌탈 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>받는사람</th>
					<td>이연지</td>
				</tr>
				<tr>
					<th>연락처</th>
					<td>02-1231-1231 / 010-1230-1231</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지<br/>
						[14480] 충북 괴산군 청안면 문방리 청안면 문방리 4구 400번지
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
