<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<link rel="stylesheet" href="../../css/my.css" />
<div class="section">
	<div class="section__header my_mb1">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>배송지/계좌정보 관리
		</h2>
	</div>

	<div class="tab-v3 my_mb1">
		<a href="" class="tab-v3__link">배송지관리</a>
		<a href="" class="tab-v3__link is-active">환불계좌관리</a>
	</div>

	<div class="my_stitWrap2 border2p">
		환불계좌 정보
		<div class="my_stitWrap_option">
			<a href="" class="common_btn3">계좌 변경</a>
		</div>
	</div>
	<div class="boxWrap1">
		<table class="my_tbl_ty02" summary="환불계좌 정보">
			<colgroup>
				<col width="125px">
				<col width="auto">
			</colgroup>
			<tbody>
				<tr>
					<th>은행</th>
					<td>신한은행</td>
				</tr>
				<tr>
					<th>계좌번호</th>
					<td>110116*********</td>
				</tr>
				<tr>
					<th>예금주</th>
					<td>이연지</td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="my_bullet_list border1p">
		<li>무통장 입금 혹은 가상계좌 결제, 휴대폰 전월 주문내역을 취소할 경우 등록된 계좌로 환불해드립니다.</li>
		<li>단 고객님 본인 명의의 계좌만 등록 가능합니다.</li>
	</ul>

</div>
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
