.order__info { margin-top: 10px; padding: 10px; box-sizing: border-box; border-top: 1px solid #888888; border-bottom: 1px solid #888888; }
.order__info-tit { font-size: 12px; }
.order__info-txt { margin-top: 15px; font-size: 11px; }
.order__cart-wrap { padding: 10px; box-sizing: border-box; }
.order__cart-wrap .prod_info + .prod_info { margin-top: 8px; }
.order__price { margin-top: 10px; border: 1px solid #c8c8c8; }
.order__price:after { display: block; clear: both; content: ''; }
.order__price__dl { position: relative; }
.order__price__dl:before { position: absolute; top: 3px; left: -26px; width: 17px; height: 17px; background: url("../images/content/cart_total.png"); background-size: 17px 17px; display: block; content: ''; }
.order__price__dt { float: left; width: 38%; font-size: 15px; color: #000; }
.order__price__dd { color: #f98c2b; font-size: 18px; text-align: right; font-weight: 700; }
.order__price__dd span { font-size: 13px; }
.order__price__dd p { margin-top: 5px; color: #555; font-weight: 400; font-size: 11px; }
.order__price__dd a { color: #f98c2b; text-decoration: underline; }
.order__price-box { float: left; display: inline-block; box-sizing: border-box; }
.order__price-box.nth-1 { width: 43%; padding: 10px; background-color: #f1ece8; }
.order__price-box.nth-2 { width: 57%; padding: 25px 10px 0px 18px; }
.order__price-box__dl + .order__price-box__dl { position: relative; }
.order__price-box__dl + .order__price-box__dl:before { display: block; width: 100%; height: 0; margin: 10px 0px; border-top: 1px solid #c8c8c8; content: ''; }
.order__price-box__dl + .order__price-box__dl:after { position: absolute; top: -8px; left: 37%; display: inline-block; width: 22px; height: 17px; background: url("../images/content/cart_plus.png"); background-size: 22px 17px; content: ''; }
.order__price-box__dt { float: left; width: 37%; font-size: 12px; }
.order__price-box__dd { font-size: 12px; color: #000; text-align: right; font-weight: 700; }
.order__btn1 { display: inline-block; height: 25px; padding: 0px 10px; border: 1px solid #c8c8c8; font-size: 12px; line-height: 23px; text-align: center; box-sizing: border-box; vertical-align: middle; }
.order__btn2 { position: absolute; top: 0; right: 10px; display: inline-block; width: 10px; height: 45px; background: url("../images/content/cart_btn_up.png") no-repeat center center; background-size: 10px 6px; }
.order__btn3 { display: block; width: 100%; padding: 7px 0px; border: 1px solid #c8c8c8; text-align: center; font-size: 13px; }
.order__btn3 span { position: relative; }
.order__btn3 span:after { position: absolute; right: -11px; top: 4px; display: inline-block; width: 8px; height: 5px; background: url("../images/content/detail_btn.png"); background-size: 8px 5px; content: ''; }
.order__point { display: inline-block; font-size: 12px; color: #f98c2b; text-decoration: underline; }
.order__body { padding: 0px 10px; box-sizing: border-box; }
.order__body.is-active { display: block; }
.order__body.type-another { padding: 0px; }
.order__body-wrap { margin: 0px -10px; }
.order__body-header { padding: 5px 0px; font-size: 14px; text-align: right; }
.order__body-header + .order-delivery { margin-top: 0; }
.order__body-header-txt { display: inline-block; margin-right: 5px; }
.order__terms { margin-top: 10px; padding: 10px; border-top: 1px solid #888888; border-bottom: 1px solid #888888; box-sizing: border-box; }
.order__terms-tit { font-size: 14px; }
.order__terms-box { overflow: auto; height: 60px; margin-top: 10px; padding: 5px; background-color: #f1ece8; box-sizing: border-box; font-size: 12px; }
.order__terms-check { margin-top: 10px; }
.order__address-box { padding: 6px 10px; box-sizing: border-box; margin: 0px -10px; }
.order__address-tit { height: 35px; padding: 0px 10px; color: #000; font-size: 14px; line-height: 35px; border-top: 1px solid #888; box-sizing: border-box; }
.order__address-content { display: none; padding: 6px 0px; box-sizing: border-box; }
.order__address-content.is-active { display: block; }
.order__address-btn { display: inline-block; height: 30px; padding: 0px 15px; box-sizing: border-box; border: 1px solid #c8c8c8; line-height: 28px; }
.order__means-list { margin-left: -4px; }
.order__means-list:after { display: block; clear: both; content: ''; }
.order__means-item { float: left; display: inline-block; width: 33.33%; margin-top: 4px; padding-left: 4px; box-sizing: border-box; }
.order__means-item:nth-child(1) { margin-top: 0; }
.order__means-item:nth-child(2) { margin-top: 0; }
.order__means-item:nth-child(3) { margin-top: 0; }
.order__means-link { display: table-cell; width: 1%; height: 50px; border: 1px solid #c8c8c8; box-sizing: border-box; background-color: #f5f5f5; vertical-align: middle; text-align: center; font-size: 13px; color: #999; }
.order__means-link.is-active { border: 2px solid #fe9821; color: #fe9821; font-weight: 700; background-color: #fff; }
.order__means-box { padding: 10px; box-sizing: border-box; margin: 0px -10px; }
.order__means-box + .order__means-box { border-top: 1px solid #eeeeee; }
.order__means-box + .order__means-case { border-top: 1px solid #eeeeee; margin: 0px -10px; padding: 0px 10px; }
.order__means-box.type-info { padding: 15px 10px; box-sizing: border-box; }
.order__means-box .btn__group { padding: 0px; }
.order__means-case { display: none; font-size: 13px; }
.order__means-case.is-active { display: block; }
.order__means-case + .order__means-box { border-top: 1px solid #eeeeee; }
.order__means-case + .order__means-case { border-top: 1px solid #eeeeee; margin: 0px -10px; padding: 0px 10px; }
.order__header { padding: 0px 0px; text-align: center; box-sizing: border-box; }
.order__header.type-complete { padding: 14px 0px; }
.order__header-tit { font-size: 16px; font-weight: 700; color: #000; }
.order__header-txt { margin-top: 14px; font-size: 13px; line-height: 1.4; }
.order__complete { border-top: 1px solid #888888; border-bottom: 1px solid #888888; }
.order__complete-box { padding: 0px 10px; box-sizing: border-box; }
.order__complete-box + .order__complete-box { padding: 10px; border-top: 1px solid #e1e1e1; }
.order__complete-item + .order__complete-item { margin-top: 8px; }
.order__complete-delivery { margin-top: -10px; color: #f98c2b; }
.order__complete-delivery:after { display: block; clear: both; content: ''; }
.order__complete-subject { display: inline-block; width: 100px; font-size: 13px; vertical-align: middle; }
.order__complete-date { display: inline-block; font-size: 14px; font-weight: 700; vertical-align: middle; }

.payment__list { padding: 10px; box-sizing: border-box; }
.payment__list:after { display: block; clear: both; content: ''; }
.payment__wrap { height: 30px; line-height: 30px; }
.payment__wrap:after { display: block; clear: both; content: ''; }
.payment__item { float: left; width: 100%; }
.payment__item.total .payment__wrap { height: 40px; line-height: 40px; margin: 0px -10px; padding: 0px 10px; border-top: 1px solid #eee; border-bottom: 1px solid #c8c8c8; }
.payment__item.total .payment__subject { font-size: 13px; font-weight: 700; }
.payment__item.total .payment__money { color: #f98c2b; font-size: 18px; font-weight: 700; }
.payment__item.total .payment__money span { font-size: 16px; }
.payment__item.on .payment__btn { transform: rotate(180deg) !important; }
.payment__item.on .payment__sub { display: block !important; }
.payment__subject { position: relative; float: left; font-size: 13px; }
.payment__money { float: right; font-size: 16px; font-weight: 700; color: #000; }
.payment__money span { font-size: 13px; }
.payment__sub { display: none; padding: 10px 20px; margin: 0px -10px; box-sizing: border-box; background-color: #f8f8f8; font-size: 12px; }
.payment__sub:after { display: block; clear: both; content: ''; }
.payment__sub-wrap { height: 20px; line-height: 20px; }
.payment__sub-subject { float: left; }
.payment__sub-money { float: right; }
.payment__btn { position: absolute; top: 0px; right: -25px; overflow: hidden; display: inline-block; width: 30px; height: 30px; background: url("../images/content/payment_btn_down.png") no-repeat center center; background-size: 8px 5px; text-indent: -999px; }

.reqular__table { width: 100%; border-bottom: 1px solid #c8c8c8; border-spacing: 0; border-collapse: collapse; }
.reqular__th { height: 35px; font-size: 14px; font-weight: 700; text-align: center; vertical-align: middle; }
.reqular__td { height: 64px; border-top: 1px solid #c8c8c8; font-size: 13px; vertical-align: middle; text-align: center; }
.reqular__txt { margin-top: 8px; font-size: 12px; color: #555; }

.order-delivery { margin-top: 10px; }
.order-delivery__item + .order-delivery__item { margin-top: 10px; }
