@charset "UTF-8";
.top__banner { position: relative; width: 100%; max-height: 200px; -webkit-transition: all 0.5s; transition: all 0.5s; }
.top__banner.is-hidden { overflow: hidden; max-height: 0; }
.top__banner-img { width: 100%; }
.top__banner-close { position: absolute; top: 0; bottom: 0; right: 10px; margin: auto 0; width: 23px; height: 23px; background: url("../images/common/top_banner_close.png"); background-size: 23px 23px; }
.top__btn { position: fixed; display: none; right: 10px; bottom: 60px; z-index: 9999; width: 40px; height: 40px; background: url("../images/common/top_btn.png"); background-size: 40px 40px; }
.top__btn a { overflow: hidden; display: inline-block; width: 100%; height: 100%; text-indent: -999px; }

.section__header { -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; display: inline-block; width: 100%; height: 38px; padding: 0 10px; /* padding:6px 5px 7px 5px; */ background-color: #00400f; text-align: center; vertical-align: middle; line-height: 1; text-indent: 0; }
.section__header:after { display: inline-block; height: 100%; vertical-align: middle; content: ''; }
.section__header .section__tit { display: inline-block; vertical-align: middle; }
.section__tit { overflow: hidden; font-size: 17px; color: #fff; font-weight: 700; text-align: center; }
.section__box { position: relative; height: 41px; padding: 8px 32px; border-top: 1px solid #c8c8c8; box-sizing: border-box; line-height: 41px; }
.section__box.type-border { border-top: none; }
.section__box:after { display: block; clear: both; content: ''; }
.section__top { height: 35px; padding: 0px 10px; background-color: #a7b335; color: #fff; }
.section__top:after { display: block; clear: both; content: ''; }
.section__top-tit { display: inline-block; font-size: 15px; font-weight: 700; line-height: 35px; }
.section__top-btn { position: relative; display: inline-block; padding-right: 10px; font-size: 12px; line-height: 35px; }
.section__top-btn:after { position: absolute; top: 0; bottom: 2px; right: 0; display: block; width: 7px; height: 4px; margin: auto 0; background-image: url("../images/content/top_icon.png"); content: ''; background-size: 7px 4px; }
.section__bottom + .section__top { margin-top: 15px; }

.event__menu { margin-top: 10px; line-height: 32px; }
.event__menu:after { display: block; clear: both; content: ''; }
.event__menu-btn { float: left; display: inline-block; width: 40%; border-top: 1px solid #c8c8c8; border-bottom: 1px solid #000; background-color: #f5f5f5; font-size: 13px; color: #999; text-align: center; }
.event__menu-btn.is-active { width: 60%; border-top: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #fff; background-color: #fff; box-sizing: border-box; color: #000; font-weight: 700; }
.event__content { margin-top: 10px; }
.event__content-box { margin-top: 10px; padding: 0px 10px; }
.event__content-box:after { display: block; clear: both; content: ''; }
.event__content-item + .event__content-item { margin-top: 10px; border-top: 2px solid #878787; }
.event__content-tit { font-size: 13px; font-weight: 700; }
.event__content-date { margin-top: 10px; font-size: 12px; line-height: 20px; }
.event__announcement { float: right; display: inline-block; width: 93px; height: 20px; font-size: 12px; border: 1px solid #7ab023; color: #7ab023; box-sizing: border-box; line-height: 20px; text-align: center; }
.event__announcement.type-wait { border: 1px solid #c8c8c8; background-color: #f5f5f5; color: #999; }

.prod__slide { position: relative; overflow: hidden; border: 1px solid #c8c8c8; box-sizing: border-box; }

.detail__header { padding-bottom: 10px; }
.detail__tit { padding: 10px; font-size: 15px; color: #000; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; }
.detail__dl { font-size: 13px; }
.detail__info { padding: 12px 10px; box-sizing: border-box; }
.detail__dt { float: left; width: 75px; }
.detail__dt + .detail__dd + .detail__dt { margin-top: 15px; }
.detail__dt.type-line { line-height: 27px; }
.detail__dd { padding-left: 75px; box-sizing: border-box; }
.detail__dd + .detail__dt + .detail__dd { margin-top: 15px; }
.detail__dd + a { margin-left: 5px; }
.detail__price { font-size: 20px; color: #000; font-weight: 700; line-height: 27px; }
.detail__price .detail__before { margin: 0px 4px; }
.detail__won { font-size: 20px; }
.detail__before { font-size: 18px; color: #999; text-decoration: line-through; font-weight: 400; }
.detail__sale { font-size: 18px; color: #ff0000; font-weight: 400; }
.detail__banner + .detail__banner { margin-top: 5px; }
.detail__content-set { position: relative; padding: 0px 10px; box-sizing: border-box; }
.detail__content-set.is-active .prod_set-btn { background: url("../images/common/prod_set_down.png") no-repeat center center; background-size: 12px 6px; }
.detail__content-set.is-active .content-set__list { height: auto; }
.detail__delivery { margin-top: 10px; padding: 0px 10px; font-size: 11px; }

/*아코디언1*/
.accordian1_tit { position: relative; font-size: 15px; color: #595959; font-weight: 700; }

.accordian1_tit:after { position: absolute; top: 0; bottom: 0; right: 0; display: inline-block; width: 11px; height: 7px; background: url("../images/content/accordian_btn.png") 0px -7px; background-size: 11px 14px; margin: auto 0; content: ''; }

.accordian1_item { border-top: 1px solid #c8c8c8; }
.accordian1_item.on .accordian1_tit:after { background-position: 0px 0px; }

.accordian1_item_header { display: table-cell; width: 1%; height: 35px; vertical-align: middle; cursor: pointer; background-color: #eeeeee; }

.accordian1_item_header_wrap { padding: 0px 10px; box-sizing: border-box; }

.accordian1_item_body { display: none; padding: 5px 10px; box-sizing: border-box; }

/*아코디언2*/
.accordian2_tit { position: relative; font-size: 13px; color: #595959; font-weight: 700; padding-right: 20px; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; height: 20px; line-height: 20px; }
.accordian2_tit.review__file:after { position: absolute; top: 5px; right: 5px; display: inline-block; width: 11px; height: 11px; background: url("../images/common/btn_file.png"); background-size: 11px 11px; content: ''; }

.accordian2_list { border-bottom: 1px solid #c8c8c8; }

.accordian2_item { border-top: 1px solid #c8c8c8; }
.accordian2_item.on .accordian2_tit:after { background-position: 0px 0px; }

.accordian2_id { display: block; word-break: break-all; }

.accordias2_state { color: #f98c2b; }

.accordian2_date { display: block; }

.accordian2_item_header { padding: 0px 10px; box-sizing: border-box; cursor: pointer; }

.accordian2_item_q p { position: relative; padding-left: 13px; box-sizing: border-box; }
.accordian2_item_q p:before { position: absolute; top: 1px; left: 0; display: inline-block; content: 'Q'; }
.accordian2_item_q + .accordian2_item_a { margin-top: 8px; }

.accordian2_item_a h4 { position: relative; padding-left: 13px; box-sizing: border-box; }
.accordian2_item_a h4:before { position: absolute; top: 1px; left: 0; display: inline-block; content: 'A'; }
.accordian2_item_a h4 + p { margin-top: 8px; }
.accordian2_item_a p { padding-left: 13px; }

.accordian2_table { vertical-align: middle; border-spacing: 0; border-collapse: collapse; }
.accordian2_table th { vertical-align: middle; padding: 8px 0px; }
.accordian2_table td { vertical-align: middle; padding: 8px 0px; font-size: 13px; }

.accordian2_th { width: auto; }

.accordian2_td1 { width: 60px; }

.accordian2_td2 { width: 80px; }

.accordian2_item_body { display: none; padding: 10px; box-sizing: border-box; border-top: 1px solid #e1e1e1; background-color: #f1ece8; font-size: 13px; }

.accordian2_item_bottom { margin-top: 10px; text-align: right; font-size: 0; }

/*아코디언3*/
.accordian3_tit { position: relative; font-size: 13px; box-sizing: border-box; }
.accordian3_tit strong { color: #000; }

.accordian3_txt { margin-top: 10px; font-size: 12px; box-sizing: border-box; }

.accordian3_tit:after { position: absolute; top: 5px; right: 0; display: inline-block; width: 11px; height: 7px; background: url("../images/content/accordian_btn.png") 0px -7px; background-size: 11px 14px; margin: auto 0; content: ''; }

.accordian3_list { overflow: auto; max-height: 350px; }

.accordian3_item + .accordian3_item { border-top: 1px solid #c8c8c8; }
.accordian3_item.on .accordian3_tit:after { background-position: 0px 0px; }

.accordian3_item_header { position: relative; padding: 12px 10px 12px 40px; box-sizing: border-box; }

.accordian3_item_body { display: none; padding: 10px 10px 10px 40px; box-sizing: border-box; background-color: #f1ece8; }

.accordian3_item_body label { font-size: 12px !important; color: #555; }

.accordian3_prod_item + .accordian3_prod_item { margin-top: 8px; }

/*아코디언4*/
.accordian4_no { position: absolute; left: 10px; }

.accordian4_date { position: absolute; top: 15px; right: 10px; font-size: 12px; }

.accordian4_tit { padding-left: 35px; font-size: 13px; box-sizing: border-box; }

.accordian4_txt { margin-top: 10px; font-size: 12px; box-sizing: border-box; }

.accordian4_list { border-top: 1px solid #c8c8c8; }

.accordian4_item { border-bottom: 1px solid #c8c8c8; }

.accordian4_item_header { position: relative; font-size: 13px; padding: 12px 10px; box-sizing: border-box; cursor: pointer; }

.accordian4_item_body { display: none; padding: 10px 10px 10px 45px; box-sizing: border-box; background-color: #f1ece8; border-top: 1px solid #e1e1e1; font-size: 13px; }

.accordian4_list.type-notice .accordian4_tit { padding-left: 0px; padding-right: 35px; }
.accordian4_list.type-notice .accordian4_item_body { padding: 10px; }

.content__wrap { padding: 0% 13px; }
.content__list { margin-top: 12px; }
.content__item + .content__item { margin-top: 4px; }
.content__tit { margin-top: 13px; font-size: 18px; font-weight: 700; color: #000; }

.buytab { padding: 14px 10px; box-sizing: border-box; background-color: #f1ece8; border: 1px solid #c8c8c8; width: 100%; }
.buytab__list { overflow: auto; max-height: 190px; }
.buytab__content { position: relative; max-height: 0px; overflow: hidden; -webkit-transition: all 0.5s; transition: all 0.5s; }
.buytab.is-active .buytab__content { max-height: 400px; }
.buytab.is-active .buytab__open { background-position-y: -11px; }
.buytab__btn-list:after { display: block; clear: both; content: ''; }
.buytab__btn-list.type-multi { margin-left: -6px; }
.buytab__btn-list.type-multi .buytab__btn-item { float: left; width: 36%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-multi .buytab__btn-item:first-child { width: 28%; }
.buytab__btn-list.type-multi .buytab__btn-item:first-child .buytab__btn-link { background-color: #fff; border: 1px solid #fe9821; color: #fe9821; box-sizing: border-box; }
.buytab__btn-list.type-multi .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-link { display: inline-block; width: 100%; padding: 10px 0px; background-color: #fe9821; color: #fff; font-size: 17px; font-weight: 700; text-align: center; }
.buytab__open { position: absolute; top: -10px; left: 0; right: 0; display: inline-block; margin: 0px auto; width: 40px; height: 11px; background: url("../images/buytab_btn.png"); background-size: 40px 22px; }
.buytab__item { width: 100%; padding: 10px; box-sizing: border-box; background-color: #fff; border: 1px solid #c8c8c8; }
.buytab__item + .buytab__item { margin-top: 5px; }
.buytab__option { margin-bottom: 8px; }
.buytab__subject { font-size: 13px; color: #000; }
.buytab__box { margin-top: 15px; }
.buytab__box:after { display: block; clear: both; content: ''; }
.buytab__price { float: right; display: inline-block; font-size: 16px; color: #000; font-weight: 700; line-height: 25px; }
.buytab__price-won { font-size: 14px; }
.buytab__total { margin-top: 10px; }
.buytab__total:after { display: block; clear: both; content: ''; }
.buytab__total-subject { display: inline-block; float: left; font-size: 15px; font-weight: 700; line-height: 26px; }
.buytab__total-price { display: inline-block; float: right; color: #fe9821; font-size: 20px; font-weight: 700; }
.buytab__total-price-won { font-size: 18px; }

.option__tit { margin-bottom: 10px; font-size: 12px; }

.content-set__wrap { position: relative; height: 62px; margin: 10px 0px; }
.content-set__list { position: absolute; overflow: hidden; height: 62px; transition: all 0.2s; }
.content-set__item + .content-set__item .prod_info { border-top: none; }

.review__wrap { display: table-cell; width: 1%; height: 55px; vertical-align: middle; padding: 0px 10px; box-sizing: border-box; }
.review__tit { position: relative; display: inline-block; padding-right: 20px; font-size: 15px; color: #555; vertical-align: middle; line-height: 34px; }
.review:after { display: block; clear: both; content: ''; }
.review__btn { float: right; display: inline-block; padding: 7px 10px; border: 2px solid #77a22e; color: #77a22e; font-size: 13px; box-sizing: border-box; text-align: center; font-weight: 700; }
.review__more { display: block; width: 100%; margin-top: 10px; padding: 7px 0px; border: 1px solid #c8c8c8; text-align: center; font-size: 13px; }
.review__inquiry { display: block; width: 100%; margin-top: 10px; padding: 7px 0px; border: 2px solid #81b823; color: #77a22e; text-align: center; font-size: 13px; font-weight: 700; }
.review__list { width: 100%; margin-left: -4px; }
.review__list:after { display: block; clear: both; content: ''; }
.review__item { float: left; display: inline-block; width: 33.33%; padding-left: 4px; box-sizing: border-box; }
.review__item-wrap { position: relative; overflow: hidden; width: 100%; height: 0; padding-bottom: 74.4%; }
.review__img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.layer-popup { display: none; position: fixed; top: 0; right: 0; left: 0; margin: auto; z-index: 9999; max-width: 640px; padding: 0px 10px; box-sizing: border-box; }
.layer-popup.type-sns { width: 300px; bottom: 0; height: 120px; background-color: #fff; }
.layer-popup.type-tooltip { top: 50%; bottom: auto; transform: translateY(-50%); width: 240px; padding: 20px 0px; font-size: 14px; font-weight: 700; background-color: rgba(0, 0, 0, 0.7); box-sizing: border-box; color: #fff; text-align: center; border-radius: 5px; }
.layer-popup.type-address { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup.type-calendar { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup.type-custom { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup.type-order { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup.type-edit { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup.type-refund { top: 50%; bottom: auto; transform: translateY(-50%); }
.layer-popup__responsive { background-color: #fff; }
.layer-popup__header { position: relative; height: 40px; border-bottom: 1px solid #888888; text-align: center; }
.layer-popup__tit { font-size: 18px; font-weight: 700; line-height: 40px; }
.layer-popup__tit.type-another { font-size: 18px; }
.layer-popup__sns { padding: 10px 16px; box-sizing: border-box; text-align: justify; }
.layer-popup__sns:after { display: inline-block; width: 100%; content: ''; }
.layer-popup__link { display: inline-block; width: 57px; height: 57px; background: url("../images/common/sns_icon.png"); background-size: 57px 228px; }
.layer-popup__link.nth-2 { background-position-y: -57px; }
.layer-popup__link.nth-3 { background-position-y: -114px; }
.layer-popup__link.nth-4 { background-position-y: -171px; }
.layer-popup__close { overflow: hidden; position: absolute; top: 0; bottom: 0; right: 10px; width: 13px; height: 13px; margin: auto 0; background: url("../images/common/sns_close.png"); background-size: 13px 13px; text-indent: -999px; }
.layer-popup__menu { padding: 5px 10px; border-bottom: 1px solid #c8c8c8; }
.layer-popup__menu:after { display: block; clear: both; content: ''; }
.layer-popup__menu-btn { float: left; display: inline-block; padding: 5px; box-sizing: border-box; font-size: 12px; border: 1px solid #c8c8c8; color: #999; background-color: #f5f5f5; }
.layer-popup__menu-btn.is-active { border: 1px solid #fe9821; color: #fe9821; background-color: #fff; }
.layer-popup__menu-btn + .layer-popup__menu-btn { margin-left: 5px; }
.layer-popup__list { overflow: auto; padding-bottom: 10px; box-sizing: border-box; height: 350px; }
.layer-popup__item { position: relative; padding: 10px; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; }
.layer-popup__item-btn { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); padding: 7px 10px; border: 1px solid #c8c8c8; font-size: 12px; color: #555; box-sizing: border-box; line-height: 1; }
.layer-popup__address { font-size: 12px; color: #555; }
.layer-popup__address-box { display: none; }
.layer-popup__address-box.is-active { display: block; }
.layer-popup__calender-list { margin-left: -10px; margin-top: -10px; padding: 10px; box-sizing: border-box; }
.layer-popup__calender-list:after { display: block; clear: both; content: ''; }
.layer-popup__calender-item { float: left; display: inline-block; width: 25%; margin-top: 10px; padding-left: 10px; box-sizing: border-box; font-size: 13px; }
.layer-popup__calender-item.is-active { font-weight: 700; }
.layer-popup__calender-item.is-active .layer-popup__calender-link { border: 2px solid #fe9821; color: #fe9821; background-color: #fff; }
.layer-popup__wrap { padding: 10px; box-sizing: border-box; }
.layer-popup__calender-link { display: table-cell; width: 1%; height: 50px; border: 1px solid #c8c8c8; background-color: #f5f5f5; text-align: center; vertical-align: middle; box-sizing: border-box; }
.layer-popup .counter { float: left !important; }
.layer-popup .prod_detail { padding-top: 11px !important; padding-bottom: 11px !important; height: 100px !important; }
.layer-popup .prod_img img { width: 100px !important; height: 100px !important; }
.layer-popup__box { padding: 10px; box-sizing: border-box; border-top: 1px solid #c8c8c8; }
.layer-popup__info { margin-top: 10px; }
.layer-popup__info__item { position: relative; padding-left: 7px; font-size: 12px; }
.layer-popup__info__item:before { position: absolute; top: 0px; left: 0px; content: '·'; }
.layer-popup__info__item + .layer-popup__info__item { margin-top: 5px; }

.tooltip__btn { display: inline-block; margin-top: 10px; padding: 7px 10px; border: 2px solid #fff; box-sizing: border-box; font-size: 13px; }

.nonmember__tit { font-size: 16px; color: #000; text-align: center; }
.nonmember__box { padding: 15px 10px; box-sizing: border-box; }
.nonmember__box + .nonmember__box { border-top: 1px solid #c8c8c8; }
.nonmember__wrap { padding: 0px 25px; box-sizing: border-box; }
.nonmember__wrap:after { display: block; clear: both; content: ''; }
.nonmember__info { position: relative; margin-top: 15px; padding-left: 8px; font-size: 12px; line-height: 1.4; }
.nonmember__info:before { position: absolute; top: 1px; left: 0px; content: '·'; }
.nonmember__cs { position: relative; padding-right: 15px; }
.nonmember__cs:after { position: absolute; top: -1px; right: 0; display: inline-block; width: 10px; height: 19px; background: url("../images/common/mobile_icon.png"); background-size: 10px 19px; content: ''; }
.nonmember__benefit-tit { width: 100%; height: 40px; border-top: 2px solid #c8c8c8; background-color: #eeeeee; box-sizing: border-box; font-size: 16px; line-height: 38px; font-weight: 700; text-align: center; }
.nonmember__img { position: relative; padding-left: 67px; box-sizing: border-box; }
.nonmember__img:before { position: absolute; top: 0; left: 0; bottom: 0; display: inline-block; width: 44px; height: 33px; margin: auto 0; background: url("../images/common/nonmember_icon.png"); background-size: 44px 99px; content: ''; }
.nonmember__img.nth-2:before { background-position-y: -33px; }
.nonmember__img.nth-3:before { background-position-y: -66px; }
.nonmember__item { border-bottom: 1px solid #c8c8c8; }
.nonmember__item-wrap { display: table-cell; width: 1%; height: 85px; padding: 0px 35px; box-sizing: border-box; vertical-align: middle; }
.nonmember__item-tit { font-size: 13px; font-weight: 700; }
.nonmember__item-txt { margin-top: 4px; font-size: 13px; }

.green__btn { display: block; width: 100%; height: 35px; line-height: 33px; color: #77a22e; border: 1px solid #81b823; font-size: 14px; font-weight: 700; text-align: center; box-sizing: border-box; }
.green__btn + .green__btn { margin-top: 5px; }

.input__box + .input__box { margin-top: 5px; }

.employee { padding: 10px 0px; box-sizing: border-box; }
.employee__tit { margin-top: 5px; font-size: 16px; color: #000; font-weight: 700; text-align: center; }
.employee__box { padding: 0px 35px; box-sizing: border-box; }
.employee__wrap { margin-top: 10px; }
.employee__wrap:after { display: block; clear: both; content: ''; }

.list__header { padding: 17px 0px; box-sizing: border-box; border-bottom: 1px solid #888888; font-size: 15px; font-weight: 700; color: #000; text-align: center; }
