@charset "UTF-8";
/*헤더*/
.header { position: relative; height: 52px; width: 100%; background-color: #fff; text-align: left; }
.header__menu-btn { position: absolute; top: 0px; left: 0px; padding: 18px 9px; z-index: 50; }
.header__menu-bar { height: 0px; width: 23px; border-bottom: 3px solid #81b926; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; border-radius: 3px; }
.header__menu-bar + p { margin-top: 4px; }
.header__logo { position: absolute; z-index: 50; display: inline-block; width: 55px; height: 52px; margin-left: 47px; background-image: url("../images/logo.png"); background-repeat: no-repeat; background-size: 55px 33px; background-position: center center; }
.header__logo a { display: block; width: 41px; height: 45px; text-indent: -9999px; }
.header__search { position: absolute; left: 0; display: inline-block; padding: 13px 60px 14px 110px; box-sizing: border-box; }
.header__search .input1 { padding-right: 25px; box-sizing: border-box; }
.header__search-wrap { position: relative; }
.header__search-btn { position: absolute; top: 0; right: 0px; display: inline-block; width: 20px; height: 25px; background: url("../images/search_btn.png") no-repeat center left; background-size: 15px 15px; text-indent: -9999px; }
.header__after { display: block; clear: both; content: ''; }
.header__input { border: 1px solid #81b926; border-radius: 3px; background: url("../images/hader_search.png") no-repeat center center; background-size: 41px 13px; }
.header__gnb { border-bottom: 1px solid #a5a5a5; }

.basket__btn { position: relative; display: inline-block; float: right; margin-right: 9px; height: 45px; }
.basket__btn img { width: 35px; margin-top: 11px; line-height: 45px; }
.basket__num { position: absolute; display: inline-block; top: 8px; left: -5px; width: 20px; height: 14px; background-color: #fe9821; border: 1px solid #fff; border-radius: 20%; font-size: 11px; color: #fff; line-height: 14px; text-align: center; }

.gnb__wrap li a, .hero__list__item-over a { display: block; width: 100%; height: 100%; }

.gnb { display: none; position: relative; top: -45px; z-index: 999; background-color: #fff; max-width: 640px; }
.gnb__wrap { position: absolute; top: -2px; width: 100%; max-width: 640px; left: 0; }
.gnb__1depth { border-bottom: 1px solid #c8c8c8; }
.gnb__1depth-list { padding-left: 45px; font-size: 15px; color: #555; font-weight: bold; text-transform: uppercase; border-top: 1px solid #c8c8c8; box-sizing: border-box; }
.gnb__1depth-list a { position: relative; height: 35px; line-height: 35px; }
.gnb__1depth-list a:after { position: absolute; top: 0; bottom: 0; right: 20px; content: ''; display: block; width: 13px; height: 6px; margin: auto 0px; background: url("../images/menu_btn.png"); background-size: 13px 13px; background-position: 0px -7px; }
.gnb__1depth-cont { background-color: #63ade7; color: #fff; border-bottom: none; }
.gnb__1depth-cont > a:before { display: none; }
.gnb__1depth-cont > a:after { display: none; }
.gnb__1depth .on > a:after { background-position: 0px 0px; }
.gnb__1depth .on .gnb__icon { background-position-x: -35px; }
.gnb__2depth { display: none; background-color: #f1ece8; border-top: 1px solid #e1e1e1; }
.gnb__2depth li { border-bottom: 1px solid #e1e1e1; background-color: #f1ece8; font-size: 13px; color: #555; }
.gnb__2depth li a { float: left; display: inline-block; width: 50%; padding: 10px; border-right: 1px solid #e1e1e1; box-sizing: border-box; }
.gnb__2depth li a + a { border-right: none; }
.gnb__2depth li:after { display: block; clear: both; content: ''; }
.gnb__2depth li:last-child { border-bottom: none; }
.gnb__2depth:after { display: block; clear: both; content: ''; }
.gnb__content { max-width: 610px; margin-right: 30px; background-color: #fff; }
.gnb__icon { position: absolute; top: 0; left: -45px; display: inline-block; width: 35px; height: 35px; background: url("../images/menu_icon.png") no-repeat; background-size: 70px 350px; text-indent: -999px; }
.gnb__icon.nth-002 { background-position-y: -35px; }
.gnb__icon.nth-003 { background-position-y: -70px; }
.gnb__icon.nth-004 { background-position-y: -105px; }
.gnb__icon.nth-005 { background-position-y: -140px; }
.gnb__icon.nth-006 { background-position-y: -175px; }
.gnb__icon.nth-007 { background-position-y: -210px; }
.gnb__icon.nth-008 { background-position-y: -245px; }
.gnb__icon.nth-009 { background-position-y: -280px; }
.gnb__icon.nth-010 { background-position-y: -315px; }
.gnb__menu { height: 35px; line-height: 35px; font-size: 16px; background-color: #00400f; color: #fff; text-align: center; }
.gnb__menu-item { float: left; display: inline-block; width: 33.33%; }
.gnb__menu-item:nth-child(2) { position: relative; }
.gnb__menu-item:nth-child(2):before { position: absolute; left: 0; top: 1px; bottom: 0; margin: auto 0; width: 0; height: 11px; border-left: 1px solid #909491; content: ''; }
.gnb__menu-item:nth-child(2):after { position: absolute; right: 0; top: 1px; bottom: 0; margin: auto 0; width: 0; height: 11px; border-left: 1px solid #909491; content: ''; }
.gnb__tit { margin-top: 12px; font-size: 18px; color: #000; font-weight: 700; }
.gnb__menu-list:after { display: block; clear: both; content: ''; }
.gnb__best { padding: 0px 15px; box-sizing: border-box; }
.gnb__best-list { margin-top: 10px; margin-left: -8px; }
.gnb__best-list:after { display: block; clear: both; content: ''; }
.gnb__best-item { float: left; width: 33.33%; padding-left: 8px; box-sizing: border-box; }
.gnb__best-item img { width: 100%; }
.gnb__best-link { border: 1px solid #c8c8c8; }
.gnb__list { margin-top: 20px; }
.gnb__box { margin-top: 10px; }
.gnb__btn { position: absolute; top: 0px; right: 0px; display: inline-block; width: 30px; height: 30px; z-index: 50; background: url("../images/close_btn.png") no-repeat center center; background-size: 26px 26px; text-indent: -999px; }
.gnb__footer { padding: 16px 0px; text-align: center; }
.gnb__link { display: inline-block; width: 116px; height: 20px; background-color: #00400f; color: #fff; font-size: 12px; line-height: 20px; }
.gnb__center { position: relative; display: inline-block; padding-right: 12px; }
.gnb__center:after { position: absolute; top: 4px; right: 0; display: block; width: 6px; height: 11px; background: url("../images/gnb_icon.png"); background-size: 6px 11px; content: ''; }
.gnb__num { display: inline-block; width: 25px; height: 18px; margin-left: 6px; background-color: #fe9821; border-radius: 10%; font-size: 14px; color: #fff; line-height: 18px; text-align: center; vertical-align: middle; }

/*푸터*/
.footer { position: absolute; right: 0; bottom: 0px; left: 0; background-color: #5c6851; text-align: center; padding-top: 11px; padding-bottom: 50px; }
.footer.is-active { margin-bottom: 50px; }
.footer__wrap { padding: 0px 20px; box-sizing: border-box; }
.footer__menu1 { background-color: #eaeddc; color: #164614; font-weight: 700; }
.footer__menu1-list { padding: 10px 0px; margin-left: -10px; vertical-align: middle; box-sizing: border-box; font-size: 0; }
.footer__menu1-list:after { display: block; clear: both; content: ''; }
.footer__menu1-link { font-size: 13px; }
.footer__menu1-item { display: inline-block; width: 26%; padding-left: 10px; box-sizing: border-box; vertical-align: middle; line-height: 1.2; text-align: center; }
.footer__menu1-item:first-child { width: 22%; }
.footer__menu1-item:nth-child(2) { width: 22%; }
.footer__menu1-item:nth-child(3) { width: 28%; }
.footer__menu1-item:nth-child(4) { width: 28%; }
.footer__menu2 { color: #164614; font-weight: 700; }
.footer__menu2-list { padding: 10px 0px; vertical-align: middle; box-sizing: border-box; }
.footer__menu2-list:after { display: block; clear: both; content: ''; }
.footer__menu2-link { font-size: 12px; }
.footer__menu2-item { position: relative; display: inline-block; padding: 0px 10px; color: #eaeddc; }
.footer__menu2-item + li:before { position: absolute; top: 3px; bottom: 0; left: 0; width: 0; height: 9px; margin: auto 0; border-left: 1px solid #eaeddc; content: ''; }
.footer__menu2-item:first-child { padding-left: 0px; }
.footer__menu2-item:last-child { padding-right: 0px; }
.footer__txt { display: inline-block; font-size: 11px; color: #eaeddc; }

.footer-fix { display: block; position: fixed; bottom: -50px; z-index: 900; transition: all 1s; -webkit-transition: all 1s; }
.footer-fix.is-active { bottom: 0; }
.footer-fix__list { display: table-cell; width: 1%; height: 50px; vertical-align: middle; text-align: center; background-color: #00400f; font-size: 12px; color: #fff; }
.footer-fix__list:after { display: block; clear: both; content: ''; }
.footer-fix__item { float: left; width: 25%; line-height: 1; }
.footer-fix__link:before { display: block; width: 27px; height: 19px; margin: 0px auto 5px; background: url("../images/footer_icon.png"); background-size: 27px 76px; content: ''; }
.footer-fix__link.nth-2:before { background-position: 0px -19px; }
.footer-fix__link.nth-3:before { background-position: 0px -38px; }
.footer-fix__link.nth-4:before { background-position: 0px -57px; }

.white { display: none; position: absolute; z-index: 100; top: 0px; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); }

.black { display: none; position: absolute; z-index: 150; top: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); }
