.login__box { overflow: hidden; height: 30px; line-height: 30px; padding: 0px 15px 0px 13px; box-sizing: border-box; }
.login__tit { float: left; position: relative; display: inline-block; padding-left: 13px; font-size: 15px; vertical-align: middle; }
.login__tit:before { position: absolute; top: 0; bottom: 0; left: 0; display: block; width: 9px; height: 14px; margin: auto 0; background: url("../images/login_icon.png") no-repeat; background-size: 9px 14px; content: ''; }
.login__tit.type-login { padding-left: 25px; font-size: 15px; }
.login__tit.type-login span { font-size: 13px; }
.login__tit.type-login:before { width: 21px; height: 21px; top: 4px; bottom: auto; background: url("../images/member_icon.png") no-repeat; background-size: 21px 21px; }
.login__txt { float: left; display: inline-block; font-size: 12px; vertical-align: middle; }
.login__txt + .login__txt { margin-left: 13px; }

.main__slide { overflow: hidden; position: relative; }
.main__banner { margin-top: 12px; }
.main__banner-area { overflow: hidden; position: relative; width: 100%; height: 0%; padding-bottom: 34.44%; text-indent: -999px; }
.main__banner-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url("../images/main/main_banner02.jpg"); background-size: cover; }
.main__banner-link { position: absolute; bottom: 10px; right: 10px; width: 22px; height: 22px; background-image: url("../images/main/setting_btn.png"); background-size: cover; }
.main__item { text-align: center; }
.main__item img { width: 100%; }
.main__slide-btn { position: absolute; top: 0; bottom: 0; display: inline-block; width: 34px; height: 40px; margin: auto 0; background: url("../images/main/main_slide_btn.png"); background-size: 68px 40px; z-index: 10; cursor: pointer; }
.main__btn-prev { left: 0; }
.main__btn-next { right: 0; background-position-x: 34px; }
.main__btn-more { position: absolute; bottom: 16px; right: 10px; width: 25px; height: 25px; background: url("../images/main/main_slide_more.png"); background-size: 25px 25px; z-index: 10; }
.main__tit { display: block; margin: 0px auto; }
.main__tit.nth-1 { width: 90px; height: 17px; }
.main__tit.nth-3 { width: 95px; height: 17px; margin: 16px 0 0 0; }
.main__tit.nth-4 { width: 104px; height: 17px; margin: 16px 0 0 0; }
.main__tit.nth-5 { width: 157px; height: 17px; margin: 16px 0 0 0; }
.main__tit.nth-6 { width: 197px; height: 17px; margin: 16px 0 0 0; }
.main__tit.nth-7 { width: 147px; height: 18px; margin: 16px 0 0 0; }
.main__tit.nth-8 { width: 103px; height: 18px; margin: 16px 0 0 0; }
.main__tit.nth-9 { width: 141px; height: 18px; margin: 0; }
.main__tit.nth-10 { width: 146px; height: 18px; margin: 0; }
.main__tit.nth-11 { width: 91px; height: 18px; margin: 13px 0 0 0; }
.main__tit img { width: 100%; }
.main__content { position: relative; margin-top: 10px; }
.main__content.type-border { border-top: 1px solid #e1e1e1; }
.main__content.type-bg1 { padding: 13px 0px; background-color: #fefaf0; box-sizing: border-box; }
.main__content.type-bg2 { padding: 13px 0px; background-color: #eaeddc; }
.main__content-list { margin-left: -10px; box-sizing: border-box; text-align: center; }
.main__content-list:after { display: block; clear: both; content: ''; }
.main__content-item { float: left; display: inline-block; width: 50%; margin-top: 10px; padding-left: 10px; box-sizing: border-box; }
.main__sub-tit { margin-top: 9px; font-size: 14px; color: #000; text-align: center; }
.main__best-list:after { display: block; clear: both; content: ''; }
.main__best-item { float: left; display: inline-block; width: 33.33%; text-align: center; }
.main__best-txt { font-size: 13px; }
.main__best-txt:before { display: block; width: 63px; height: 63px; margin: 12px auto 7px; background-size: 63px 63px; content: ''; }
.main__best-txt.nth-1:before { background-image: url("../images/main/best_icon01.png"); }
.main__best-txt.nth-2:before { background-image: url("../images/main/best_icon02.png"); }
.main__best-txt.nth-3:before { background-image: url("../images/main/best_icon03.png"); }
.main__best-txt.nth-4:before { background-image: url("../images/main/best_icon04.png"); }
.main__best-txt.nth-5:before { background-image: url("../images/main/best_icon05.png"); }
.main__best-txt.nth-6:before { background-image: url("../images/main/best_icon06.png"); }
.main__more { overflow: hidden; position: absolute; top: 19px; right: 10px; display: block; width: 12px; height: 12px; background-image: url("../images/main/main_more.png"); background-size: 12px 12px; text-indent: -999px; }
.main__board { padding: 6px; border: 1px solid #c8c8c8; box-sizing: border-box; }
.main__board-list { border-top: 1px solid #c8c8c8; }
.main__board-item { padding: 7px 0px; box-sizing: border-box; border-bottom: 1px solid #c8c8c8; }
.main__board-tit { font-size: 13px; color: #000; font-weight: 700; }
.main__board-txt { overflow: hidden; margin-top: 5px; font-size: 12px; color: #333; white-space: nowrap; text-overflow: ellipsis; }
.main__sale { text-align: center; }
.main__sale .main__tit { position: relative; margin: 12px 0 0; }
.main__sale-date { margin: 18px 0 4px; font-size: 18px; font-weight: 700; color: #fe9821; }
.main__sale-number { position: absolute; bottom: -2px; right: -35px; font-size: 12px; color: #000; }

.remind { border: 1px solid #c8c8c8; }
.remind img { width: 100%; }
.remind__box { padding: 4px 0px; border-top: 1px solid #c8c8c8; text-align: center; }
.remind__txt { font-size: 13px; color: #000; line-height: 1.3; }
.remind__txt span { font-size: 14px; font-weight: 700; }

.review__banner { position: relative; height: 25px; margin: 13px -10px 0px -10px; padding-left: 11.5%; background-image: url("../images/main/review_bg.jpg"); font-size: 12px; color: #fff; line-height: 25px; }
@media only screen and (max-width: 330px) { .review__banner { font-size: 10px; } }
.review__banner-point { margin-left: 5px; font-size: 14px; font-weight: 700; }
@media only screen and (max-width: 330px) { .review__banner-point { font-size: 12px; } }
.review__banner-link { position: absolute; top: 0; bottom: 0; right: 10px; overflow: hidden; display: inline-block; width: 50px; height: 13px; margin: auto 0; background-image: url("../images/main/review_btn.jpg"); background-size: 50px 13px; text-indent: -999px; }

.recipe__list { position: relative; overflow: hidden; margin: 11px -10px 0px; }

.brand__header { position: relative; width: 214px; height: 40px; background-color: #b4a48e; border: 2px solid #9e8b71; border-radius: 5px; margin: 12px auto 0px; box-sizing: border-box; }
.brand__btn { overflow: hidden; display: inline-block; width: 40px; height: 36px; text-indent: -999px; box-sizing: border-box; }
.brand__btn-prev { position: absolute; top: 0; left: 0; border-right: 1px solid #9e8b71; background: url("../images/main/brand_prev.png") no-repeat center center; background-size: 9px 18px; }
.brand__btn-next { position: absolute; top: 0; right: 0; border-left: 1px solid #9e8b71; background: url("../images/main/brand_next.png") no-repeat center center; background-size: 9px 18px; }
.brand__logo-list { overflow: hidden; width: 130px; height: 36px; margin: 0px auto 0px; }
.brand__logo-item { width: 130px; height: 36px; }
.brand__logo-item img { width: 100%; height: 36px; }
.brand__content { overflow: hidden; }

.more__list { text-align: justify; padding: 0px 2%; box-sizing: border-box; margin-top: 12px; margin-bottom: -8px; }
.more__list:after { display: inline-block; width: 100%; content: ''; }
.more__item { display: inline-block; width: 76px; height: 72px; }
.more__item img { width: 100%; }

.sale__wrap { position: relative; }
.sale__list { overflow: hidden; }
.sale__item { display: inline-block; width: 50%; padding: 0px 15px; box-sizing: border-box; }
.sale__bg { display: block; position: absolute; top: -1px; left: -1px; width: 100%; height: 100%; padding: 1px; z-index: 60; background-color: rgba(255, 255, 255, 0.7); }

.slick-center .sale__bg { display: none; }

.plan__list { margin-top: 10px; }
.plan__item + .plan__item { margin-top: 2px; }
