@charset "UTF-8";
span.selectboxit.select28, span.selectboxit.select28 span { height: 28px !important; line-height: 28px !important; }

.fr { float: right !important; }

.fl { float: left; }

.tac { text-align: center !important; }

.tar { text-align: right; }

.tal { text-align: left; }

.cb { clear: both; }

.clear { *zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.dib { display: inline-block; }

.db { display: block; }

.my_mt1 { margin-top: 10px !important; }

.my_mb1 { margin-bottom: 10px !important; }

.my_mlmr { margin: 0 9px !important; }

.my_pt1 { padding-top: 10px !important; }

.my_pb1 { padding-bottom: 10px !important; }

.my_plpr { padding: 0 9px !important; }

.p0 { padding: 0px !important; }

.pt0 { padding-top: 0px !important; }

.pb0 { padding-bottom: 0px !important; }

.m0 { margin: 0px !important; }

.mt0 { margin-top: 0px !important; }

.mb0 { margin-bottom: 0px !important; }

.ml5 { margin-left: 5px !important; }

.ml10 { margin-left: 10px !important; }

.mr5 { margin-right: 5px !important; }

.mr10 { margin-right: 10px !important; }

.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }

.fwb { font-weight: bold; }

.fwn { font-weight: normal; }

.w20 { float: left; width: 20%; box-sizing: border-box; }

.w25 { float: left; width: 25%; box-sizing: border-box; }

.w50 { float: left; width: 50%; box-sizing: border-box; }

.w30_first { float: left; width: 33.3%; box-sizing: border-box; }

.w30_last { float: left; width: 33.4%; box-sizing: border-box; }

.border_none { border: none !important; }

.border1p { border-top: solid 1px #c8c8c8 !important; }

.border1p2 { border-top: solid 1px #888 !important; }

.border2p { border-top: solid 2px #c8c8c8 !important; }

/* a */
.common_btn1 { display: inline-block; line-height: 1; color: #555; font-size: 12px; height: 20px; box-sizing: border-box; padding: 5px; border: solid 1px #c8c8c8; background: #fff; font-weight: normal; }

.common_btn2 { display: block; color: #755645; font-size: 14px; font-weight: 700; height: 30px; line-height: 30px; text-align: center; box-sizing: border-box; border: solid 1px #755645; background: #fff; }

.common_btn3 { display: inline-block; line-height: 1; color: #555; font-size: 13px; box-sizing: border-box; padding: 7px 10px; border: solid 1px #c8c8c8; background: #fff; font-weight: normal; }

.common_btn4 { display: block; line-height: 1; color: #555; font-size: 13px; box-sizing: border-box; padding: 7px 10px; border: solid 1px #c8c8c8; text-align: center; background: #fff; font-weight: normal; }

/* 신규 */
.my_main_bg { background: #f1ece8; }

.my_titWrap { position: relative; overflow: hidden; height: 45px; margin: 10px 0 0; padding: 0 9px; line-height: 1; background: #755645; *zoom: 1; }

.my_titWrap:after { content: ''; display: block; clear: both; }

.my_titWrap .my_class { float: left; color: #fff; font-size: 13px; padding: 28px 0 0; margin: 0 10px 0 0; }

.my_titWrap .my_class.family { background: url("../images/my/ico_family.png") no-repeat center 8px; background-size: 16px 16px; }

.my_titWrap .my_class.silver { background: url("../images/my/ico_silver.png") no-repeat center 8px; background-size: 16px 16px; }

.my_titWrap .my_class.gold { background: url("../images/my/ico_gold.png") no-repeat center 8px; background-size: 16px 16px; }

.my_titWrap .my_class.vip { background: url("../images/my/ico_vip.png") no-repeat center 8px; background-size: 16px 16px; }

.my_titWrap .my_class span { font-size: 12px; }

.my_titWrap .my_name { float: left; font-size: 18px; color: #fff; line-height: 45px; padding: 0 0 0 10px; background: url("../images/my/line_tit_wrap.png") no-repeat left 10px; background-size: 1px 25px; }

.my_titWrap .my_name strong { font-weight: 800; }

.my_titWrap .my_name a { color: #fff; font-size: 13px; text-decoration: underline; vertical-align: 2px; }

.my_titWrap .my_set { position: absolute; right: 9px; top: 10px; }

.my_titWrap .my_set a { display: inline-block; line-height: 1; background: #fff; color: #555; font-size: 13px; padding: 6px 10px; border: solid 1px #c8c8c8; }

.my_savingWrap { height: 28px; background: #fff; line-height: 28px; border-bottom: solid 2px #755645; *zoom: 1; }

.my_savingWrap:after { content: ''; display: block; clear: both; }

.my_savingWrap a { position: relative; display: block; float: left; width: 50%; height: 28px; text-align: center; box-sizing: border-box; font-size: 14px; color: #000; }

.my_savingWrap a + a { border-left: solid 1px #755645; }

.my_savingWrap a strong { font-size: 16px; color: #f98c2b; }

/*.my_savingWrap a .my_saving_tit{position:absolute; left:9px; top:0; font-size:14px; color:#000;}
.my_savingWrap a .my_saving_count{position:absolute; right:9px; top:0; font-size:14px; color:#000; padding:0 10px 0 0; background:url("../images/my/ico_saving_arrow.png") no-repeat right center; background-size:5px 9px;}
.my_savingWrap a .my_saving_count strong{font-size:16px; color:#f98c2b;}*/
.my_savingWrap2 { border-bottom: solid 2px #c8c8c8; margin: 0 0 10px; *zoom: 1; }

.my_savingWrap2:after { content: ''; display: block; clear: both; }

.my_savingWrap2 li { float: left; width: 50%; padding: 16px 0; border-right: solid 1px #c8c8c8; text-align: center; color: #000; font-size: 14px; line-height: 1; box-sizing: border-box; }

.my_savingWrap2 li:last-child { border: none; }

.my_savingWrap2 .my_saving_tit span { font-size: 13px; color: #555; }

.my_savingWrap2 .my_saving_price { margin: 10px 0 0; }

.my_savingWrap2 .my_saving_price strong { font-size: 16px; }

.my_classWrap { border-bottom: solid 2px #c8c8c8; margin: 0 0 10px; *zoom: 1; }

.my_classWrap:after { content: ''; display: block; clear: both; }

.my_classWrap .ico_classWrap { float: left; width: 93px; height: 93px; border-right: solid 1px #c8c8c8; margin: 0 10px 0 0; }

.my_classWrap .txt_classWrap { padding: 16px 0; }

.my_classWrap .txt_classWrap .my_class { font-size: 16px; font-weight: 700; line-height: 1; color: #000; }

.my_classWrap .txt_classWrap .my_class_info { margin: 10px 0 0; font-size: 14px; }

.my_classWrap.family .ico_classWrap { background: url("../images/my/ico_family.png") no-repeat center; background-size: 50px 50px; }

.my_classWrap.silver .ico_classWrap { background: url("../images/my/ico_silver.png") no-repeat center; background-size: 50px 50px; }

.my_classWrap.gold .ico_classWrap { background: url("../images/my/ico_gold.png") no-repeat center; background-size: 50px 50px; }

.my_classWrap.vip .ico_classWrap { background: url("../images/my/ico_vip.png") no-repeat center; background-size: 50px 50px; }

.my_classWrap.family .txt_classWrap .my_class span { color: #81b824; }

.my_classWrap.silver .txt_classWrap .my_class span { color: #b8b8b6; }

.my_classWrap.gold .txt_classWrap .my_class span { color: #f3c959; }

.my_classWrap.vip .txt_classWrap .my_class span { color: #ad3d3d; }

.my_class_list { border-top: solid 1px #c8c8c8; }

.my_class_list li { position: relative; border-bottom: solid 1px #c8c8c8; padding: 10px 0; *zoom: 1; }

.my_class_list li:after { content: ''; display: block; clear: both; }

.my_class_list li .ico_classWrap { float: left; text-align: center; margin: 0 0 0 20px; width: 56px; }

.my_class_list li .ico_classWrap p + p { font-size: 13px; font-weight: 700; margin: 2px 0 0; }

.my_class_list li .txt_classWrap { margin: 0 0 0 111px; }

.my_class_list li .txt_classWrap .class_info_tit { font-size: 13px; color: #555; font-weight: 700; }

.my_class_list li .txt_classWrap .class_info { margin: 7px 0 0; font-size: 12px; color: #555; }

.my_orderingWrap { line-height: 1; margin: 10px 0 0; background: #fff; border-top: solid 1px #c8c8c8; border-bottom: solid 1px #c8c8c8; }

.my_orderingWrap header { padding: 10px 9px; border-bottom: solid 1px #e1e1e1; font-size: 16px; color: #000; }

.my_orderingWrap header strong { font-weight: 900; }

.my_orderingWrap ul { margin: 10px 0; *zoom: 1; }

.my_orderingWrap ul:after { content: ''; display: block; clear: both; }

.my_orderingWrap ul li { float: left; width: 20%; text-align: center; }

/*.my_orderingWrap ul li.ico_r{background:url("../images/my/ico_ing_arrowr.png") no-repeat right center; background-size:3px 9px;}
.my_orderingWrap ul li.ico_l{background:url("../images/my/ico_ing_arrowl.png") no-repeat left center; background-size:2px 9px;}
.my_orderingWrap ul li .ico_r{background:url("../images/my/ico_ing_arrowr.png") no-repeat right center; background-size:3px 9px;}
.my_orderingWrap ul li .ico_l{background:url("../images/my/ico_ing_arrowl.png") no-repeat left center; background-size:2px 9px;}*/
.my_orderingWrap ul li .ing_count { font-size: 20px; color: #999; }

.my_orderingWrap ul li .ing_bar { margin: 7px 6px 0; height: 3px; background: #f1ece8; }

.my_orderingWrap ul li:first-child .ing_bar { margin: 7px 6px 0 11px; }

.my_orderingWrap ul li:last-child .ing_bar { margin: 7px 11px 0 6px; }

.my_orderingWrap ul li .ing_tit { margin: 10px 0 0; font-size: 14px; color: #999; white-space: nowrap; overflow: hidden; }

.my_orderingWrap ul li.ing_on .ing_count { color: #000; }

.my_orderingWrap ul li.ing_on .ing_bar { background: #fe9821; }

.my_orderingWrap ul li.ing_on .ing_tit { color: #000; }

.my_prod { margin: 10px 0 0; background: #fff; border-top: solid 1px #c8c8c8; border-bottom: solid 1px #c8c8c8; line-height: 1; *zoom: 1; }

.my_prod:after { content: ''; display: block; clear: both; }

.my_prod li { float: left; width: 33.333%; border-left: solid 1px #c8c8c8; text-align: center; box-sizing: border-box; margin: 10px 0; }

.my_prod li a { display: block; font-size: 14px; color: #555; height: 24px; line-height: 24px; }

.my_prod li a img { vertical-align: -5px; }

/*.my_prod li p + p{margin:6px 0 0; font-size:14px; color:#000;}*/
.my_prod li:first-child { border: none; }

.my_menu { margin: 10px 0 0; background: #fff; border-top: solid 1px #c8c8c8; }

.my_menu li { position: relative; border-bottom: solid 1px #c8c8c8; height: 29px; line-height: 30px; }

.my_menu li a { display: block; height: 29px; font-size: 14px; padding: 0 0 0 40px; /*background:url("../images/my/ico_arrow1.png") no-repeat right center; background-size:15px 9px;*/ }

.my_menu li:after { position: absolute; top: 0; bottom: 0; right: 10px; display: inline-block; margin: auto 0; content: ''; width: 5px; height: 9px; background: url("../images/my/ico_arrow1.png") no-repeat right center; background-size: 5px 9px; }

.my_menu li.m1 { background: url("../images/my/ico_my_menu1.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_menu li.m2 { background: url("../images/my/ico_my_menu2.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_menu li.m3 { background: url("../images/my/ico_my_menu3.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_menu li.m4 { background: url("../images/my/ico_my_menu4.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_menu li.m5 { background: url("../images/my/ico_my_menu5.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_menu li.m6 { background: url("../images/my/ico_my_menu6.png") no-repeat 8px 6px; background-size: 18px 17px; }

.my_stitWrap1 { padding: 16px 9px; font-size: 14px; color: #555; line-height: 1; border-bottom: solid 1px #c8c8c8; }

.my_stitWrap1 strong { font-size: 16px; font-weight: 700; color: #000; }

.my_stitWrap2 { position: relative; padding: 0 9px; height: 40px; line-height: 40px; font-size: 16px; font-weight: 700; color: #555; border-top: solid 1px #c8c8c8; background: #eee; }

.my_stitWrap2 .my_stitWrap_option { position: absolute; top: 5px; right: 9px; line-height: 1 !important; }

.my_stitWrap3 { position: relative; padding: 14px 9px; font-size: 14px; color: #555; line-height: 1; border-bottom: solid 1px #888; }

.my_stitWrap3 .my_stitWrap_option { position: absolute; top: 10px; right: 9px; }

.my_prod_option { position: relative; height: 30px; padding: 5px 9px 0; box-sizing: border-box; font-size: 14px; color: #555; }

.my_menu_set { margin: 0 9px; }

.my_menu_set li { position: relative; border: solid 1px #c8c8c8; margin: 10px 0 0; }

.my_menu_set li a { display: block; height: 30px; line-height: 31px; font-size: 14px; padding: 0 0 0 5px; }

.my_menu_set li p { display: block; height: 30px; line-height: 31px; font-size: 14px; padding: 0 0 0 5px; }

.my_menu_set li.m1:after { position: absolute; top: 0; bottom: 0; right: 10px; display: inline-block; margin: auto 0; content: ''; width: 5px; height: 9px; background: url("../images/my/ico_arrow1.png") no-repeat right center; background-size: 5px 9px; }

.my_menu_set li .set_body { font-size: 13px; background: #f1ece8; border-top: solid 1px #c8c8c8; padding: 10px; }

.my_menu_set li .toggle { position: absolute; top: 5px; right: 5px; width: 54px; height: 20px; display: block; background: url("../images/my/btn_toggle_off.png") no-repeat; background-size: 54px 20px; cursor: pointer; }

.my_menu_set li .toggle.on { background: url("../images/my/btn_toggle_on.png") no-repeat; background-size: 54px 20px; }

.my_menu_set li .option { position: absolute; top: 7px; right: 5px; font-size: 13px; color: #f98c2b; font-weight: 500; }

.my_coupon_info { position: relative; width: 100%; margin: 0 0 8px; border: 1px solid #c8c8c8; text-align: left; min-width: 145px; box-sizing: border-box; background-color: #fff; }

.my_coupon_info { display: block; clear: both; content: ''; }

.my_coupon_info:last-child { margin: 0; }

.my_coupon_info .coupon_tit { margin: 10px 0 14px 110px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; height: 29px; font-size: 13px; line-height: 14px; color: #000; overflow: hidden; text-overflow: ellipsis; }

.my_coupon_info .coupon_info { margin: 0 0 7px 110px; font-size: 12px; color: #555; line-height: 1.4; }

.my_coupon_info .coupon_img { position: absolute; left: 20px; top: 28px; display: block; width: 72px; height: 32px; background: url("../images/my/bg_coupon.png") no-repeat center; background-size: 72px 32px; }

.my_coupon_info .coupon_img p { text-align: center; line-height: 33px; color: #585858; font-weight: 900; font-size: 11px; letter-spacing: -1px; }

.my_coupon_info .coupon_img p.tt1 { font-size: 18px; }

.my_prodWrap { padding: 10px 9px 2px; }

.my_prodWrap .prod_info.type-wide { position: relative; width: 100%; margin: 0 0 8px; }

.my_prodWrap2 { padding: 10px 9px 0; }

.my_prodWrap2 .prod_info.type-wide { position: relative; width: 100%; margin: 0 0 8px; }

.my_tbl_ty01 { width: 100%; text-align: center; color: #555; }

.my_tbl_ty01 th { padding: 5px 9px; font-size: 14px; border-bottom: solid 1px #c8c8c8; }

.my_tbl_ty01 td { padding: 5px 9px; font-size: 13px; border-bottom: solid 1px #c8c8c8; vertical-align: middle; }

.my_tbl_ty01 .fc1 td { color: #f98c2b; }

.my_tbl_ty01 .saving td { padding: 10px 9px; height: 84px; max-height: 84px; vertical-align: middle; line-height: 1; box-sizing: border-box; }

.my_tbl_ty01 .saving p + p { margin: 4px 0 0; }

.my_tbl_ty01 .saving p span { color: #000; font-size: 12px; }

.my_tbl_ty01 .saving p a { color: #000; font-size: 12px; text-decoration: underline; }

.my_tbl_ty01 .saving .fc1 { color: #f98c2b; }

.my_tbl_ty02 { width: 100%; font-size: 13px; text-align: left; color: #555; }

.my_tbl_ty02 th { padding: 5px 9px; font-weight: normal; }

.my_tbl_ty02 td { padding: 5px 9px 5px 16px; vertical-align: middle; }

.my_tbl_ty02 td.tbl_price { font-size: 16px; color: #000; font-weight: 700; text-align: right; }

.my_tbl_ty02 td.tbl_price span { font-size: 14px; }

.my_tbl_ty02 .total { border-top: solid 1px #e1e1e1; border-bottom: solid 1px #c8c8c8; }

.my_tbl_ty02 .total th { font-size: 15px; font-weight: 700; vertical-align: middle; }

.my_tbl_ty02 .total td.tbl_price { font-size: 20px; color: #ff9900; }

.my_tbl_ty02 .total td.tbl_price span { font-size: 18px; }

.my_tbl_ty02 .sty1 th, .my_tbl_ty02 .sty1 td { padding: 5px 9px 3px; background: #f1ece8; font-size: 12px; border-top: solid 1px #e1e1e1; }

.my_tbl_ty02 .sty2 th, .my_tbl_ty02 .sty2 td { padding: 3px 9px; background: #f1ece8; font-size: 12px; }

.my_tbl_ty02 tr.tbl_b th { padding: 5px 9px; vertical-align: middle; }

.my_tbl_ty02 tr.tbl_b td { padding: 5px 9px 5px 0; font-size: 16px; color: #000; font-weight: 700; }

.my_btnWrap1 { margin: 10px 9px 5px; /*zoom1*/ }

.my_btnWrap1:after { content: ''; display: block; clear: both; }

.my_btnWrap1 div:first-child { float: left; padding: 0 3px 0 0; }

.my_btnWrap1 div:last-child { float: left; padding: 0 0 0 3px; }

.my_btnWrap1.ty1 { margin: 10px 9px 0; }

.my_btnWrap1.ty2 { margin: 5px; }

.my_btnWrap1.ty3 { margin: 0; padding: 12px 9px 5px; }

.my_btnWrap1.ty3:last-child { margin: 0; padding: 12px 9px 0; }

.my_btnWrap1.ty4 { margin: 2px 9px 0; }

.my_btnWrap1.ty5 { margin: 10px 9px -2px; }

.select_vertical { vertical-align: -70%; }

.select_vertical2 { vertical-align: -25%; }

.select_vertical3 { vertical-align: -15%; }

.small_txt { font-size: 13px; padding: 5px 9px 0; }

.my_bullet_list { padding: 10px 0 5px; }

.my_bullet_list li { padding: 0 0 0 15px; font-size: 12px; color: #555; background: url("../images/my/bullet1.png") no-repeat 9px 6px; background-size: 2px 2px; }

.my_prod_list { padding: 10px 9px 0; *zoom: 1; }

.my_prod_list:after { content: ''; display: block; clear: both; }

.my_prod_list li { float: left; font-size: 13px; padding: 0 15px; background: url("../images/my/line_list1.png") no-repeat left 2px; background-size: 1px 7px; }

.my_prod_list li:first-child { padding: 0 15px 0 0; background: none; }

.boxWrap1 { padding: 5px 0; }

.boxWrap1:last-child { padding: 5px 0 0; }

.boxWrap1:last-child .my_btnWrap1 { margin: 10px 9px 0; }

.boxWrap2 { position: relative; padding: 5px 0; }

.boxWrap2 .boxWrap2_option { position: absolute; top: 7px; right: 9px; }

.prod_post { border-top: solid 1px #c8c8c8; }

.prod_post li { position: relative; border-bottom: solid 1px #c8c8c8; }

.prod_post li .post_title a { position: relative; padding: 0 85px 0 9px; display: block; height: 35px; line-height: 35px; font-size: 13px; }

.prod_post li .post_title a p { position: relative; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.prod_post li .post_title a p .file { position: absolute; top: 10px; left: auto; margin: 0 0 0 5px; }

.prod_post li .post_title a .star_count { position: absolute; top: 13px; right: 9px; display: block; width: 48px; height: 8px; }

.prod_post li .post_title a .star_count.star0 { background: url("../images/my/star_small0.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_title a .star_count.star1 { background: url("../images/my/star_small1.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_title a .star_count.star2 { background: url("../images/my/star_small2.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_title a .star_count.star3 { background: url("../images/my/star_small3.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_title a .star_count.star4 { background: url("../images/my/star_small4.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_title a .star_count.star5 { background: url("../images/my/star_small5.png") no-repeat; background-size: 48px 8px; }

.prod_post li .post_body { display: none; padding: 10px; font-size: 13px; background: #f1ece8; }

.prod_post li.active .post_body { display: block; }

.prod_post li .post_title a.post_qna { padding: 0 150px 0 9px; }

.prod_post li .post_title a .date { position: absolute; right: 9px; }

.prod_post li .post_title a .date span { color: #f98c2b; margin: 0 14px 0 0; }

.prod_post li .post_body ul li { border: none; padding: 0 0 0 15px; }

.prod_post li .post_body ul li + li { margin: 5px 0 0; }

.prod_post li .post_body ul li.qna_q { background: url("../images/my/ico_q.png") no-repeat left 3px; background-size: 11px 11px; }

.prod_post li .post_body ul li.qna_a { background: url("../images/my/ico_a.png") no-repeat left 3px; background-size: 11px 11px; }

.star_control { margin: 0 auto; width: 165px; height: 24px; background: url("../images/my/star_big0.png") no-repeat; background-size: 165px 24px; *zoom: 1; }

.star_control.star1 { background: url("../images/my/star_big1.png") no-repeat; background-size: 165px 24px; }

.star_control.star2 { background: url("../images/my/star_big2.png") no-repeat; background-size: 165px 24px; }

.star_control.star3 { background: url("../images/my/star_big3.png") no-repeat; background-size: 165px 24px; }

.star_control.star4 { background: url("../images/my/star_big4.png") no-repeat; background-size: 165px 24px; }

.star_control.star5 { background: url("../images/my/star_big5.png") no-repeat; background-size: 165px 24px; }

.star_control:after { content: ''; display: block; clear: both; }

.star_control li { float: left; width: 20%; height: 24px; }

input[type="text"].sty1 { font-size: 13px; width: 100%; padding: 0 9px; height: 24px; box-sizing: border-box; border: solid 1px #c8c8c8; }

.inpuit_form { padding: 10px 9px 0; }

.inpuit_form input[type="text"] { font-size: 13px; width: 100%; padding: 0 9px; height: 24px; box-sizing: border-box; border: solid 1px #c8c8c8; }

.inpuit_form textarea { -webkit-appearance: none; border-radius: 0; font-size: 13px; margin: 8px 0 0; width: 100%; padding: 9px; box-sizing: border-box; border: solid 1px #c8c8c8; height: 180px; line-height: 1.3; }

.inpuit_form .btn { margin: 8px 0 0; }

.inpuit_form .file { position: relative; margin: 8px 0 0; padding: 0 25px 0 0; }

.inpuit_form .file .btn_del { position: absolute; top: 2px; right: 0; }

.inpuit_form .file input[type="text"] { font-size: 13px; width: 100%; padding: 0 9px; height: 24px; box-sizing: border-box; border: solid 1px #c8c8c8; }

.inpuit_form .file.search { padding: 0 94px 0 0; }

.inpuit_form .file.search .btn_del { position: absolute; top: 0; right: 0; }

.inpuit_form .file.search .btn_del .common_btn3 { height: 24px; padding: 6px 10px; }

/* 기존수정 */
.prod_detail_bottom.my { border: none; padding: 8px 0 0; height: 38px; *zoom: 1; }

.prod_detail_bottom.my:after { content: ''; display: block; clear: both; }

.prod_detail_bottom.my .prod__select { padding: 0 2px 0 0; }

.prod_detail_bottom.my .prod__select:last-child { padding: 0 0 0 3px; }

.my_accordian1_list .accordian1_item { border: none; }

.my_accordian1_list .accordian1_item.position { position: relative; }

.my_accordian1_list .accordian1_item.position .prod_check_head { position: absolute; top: 7px; left: 9px; z-index: 200; }

.my_accordian1_list .accordian1_item_header { width: 100%; display: block; line-height: 35px; background-color: #f8f8f8; border-top: solid 1px #c8c8c8; border-bottom: solid 1px #c8c8c8; }

.my_accordian1_list .accordian1_item_header_wrap { padding: 0 9px; }

.my_accordian1_list .accordian1_tit { position: relative; font-size: 15px; padding: 0 30px 0 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.my_accordian1_list .accordian1_item.position .accordian1_tit { padding: 0 30px 0 29px; }

.my_accordian1_list .accordian1_item_body { padding: 0; }

.my_accordian1_list .my_prod_info { padding: 0 9px 2px; border-bottom: solid 1px #c8c8c8; }

.my_accordian1_list .my_prod_info header { position: relative; height: 30px; padding: 5px 0 0; box-sizing: border-box; text-align: right; font-size: 14px; color: #555; }

.my_accordian1_list .prod_info.type-wide { position: relative; width: 100%; margin: 0 0 8px; }

.my_accordian1_list .prod_info.type-wide .prod_img { float: left; display: inline-block; margin-right: 10px; }

.my_accordian1_list .prod_info.type-wide .prod_img .return { position: absolute; left: 0; bottom: 0; width: 100px; height: 25px; background: rgba(0, 0, 0, 0.4); text-align: center; line-height: 25px; font-size: 13px; color: #fff; font-weight: 700; }

.my_accordian1_list .prod_info.type-wide .prod_img img { width: 100px; height: 100px; }

.my_accordian1_list .prod_info.type-wide .prod_detail { height: 100px; margin-top: 0px; padding: 12px 5px; box-sizing: border-box; }

.my_accordian1_list .prod_info.type-wide .prod_price { margin-top: 4px !important; }

.my_accordian1_list .prod_info.type-wide .prod_tit { font-size: 13px; margin-bottom: 0px !important; }

.my_accordian1_list .prod_info.type-wide .prod_detail.return .prod_price { color: #999; }

.my_accordian1_list .prod_info.type-wide .prod_detail.return .prod_tit { color: #999; }

.my_accordian1_list .prod_info.type-wide:after { display: block; clear: both; content: ''; }

.my_accordian1_list .prod_info.type-wide .prod_btnWrap { position: absolute; right: 5px; bottom: 7px; }

.my_accordian1_list2 .accordian1_item_header { height: 40px; line-height: 40px; background-color: #eee; border-top: solid 2px #c8c8c8; border-bottom: none; }

.my_accordian1_list2 .my_prod_info { padding: 0 9px 2px; border-bottom: none; }

.my_accordian1_list2 li.on:last-child { margin-bottom: -10px; }

.checkbox1.disable + label { background: #f5f5f5; border-color: #c7c7c7; cursor: default; }

.checkbox1.disable + label:before { background: #f5f5f5; border-color: #c7c7c7; cursor: default; }

.checkbox1.disable:focus + label:before { background: #f5f5f5; border-color: #c7c7c7; }

.checkbox1.disable:checked + label:before { background: #f5f5f5; border-color: #c7c7c7; }

.checkbox1.disable:checked + label:after { background: #f5f5f5; border-color: #c7c7c7; }

.checkbox1.disable + label.solo:after { width: 20px; height: 20px; background: #f5f5f5; border: solid 1px #c7c7c7; }

.prod_detail_bottom.my_sty1 { position: relative; padding: 2px 9px 10px; box-sizing: border-box; border: none; }

.prod__select-wrap.my_sty1 { right: 10px; margin-left: -10px; padding-left: 64px; }

.section__tit span { font-size: 15px; }

.tab-v3__link span { font-size: 14px; }

.tab-v3__link.is-active:last-child { border-left: 1px solid #000; border-right: none; }
