
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품정보
			<a href="" class="set__btn">설정</a>
		</h2>
	</div>
	<div class="prod__slide">
		<div class="swiper-wrapper">
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="detail__header">
		<div class="detail__tit">
			<h3>냉동실 속 건강한 간편 한 끼! [20%할인] 생산직송 영양밥세트 (2종,14인분)</h3>
		</div>
		<div class="detail__info">
			<dl class="detail__dl">
				<dt class="detail__dt type-line">판매가</dt>
				<dd class="detail__dd">
					<p class="detail__price">
						11,911,600<span class="detail__won">원</span><span class="detail__before">11,911,600<span>원</span></span><span class="detail__sale">30%</span>
					</p>
				</dd>
				<dt class="detail__dt">배송비</dt>
				<dd class="detail__dd">4만원 이상 무료배송</dd>
				<dt class="detail__dt">배송일</dt>
				<dd class="detail__dd">지금 결제시 <strong class="color01">04.25(월)도착</strong></dd>
				<dt class="detail__dt">브랜드</dt>
				<dd class="detail__dd">풀무원 <a href="" class="btn__set btn__allview">전체 상품보기</a></dd>
				<dt class="detail__dt">상품정보</dt>
				<dd class="detail__dd">냉장보관 / 1인분, 193g</dd>
				<dt class="detail__dt">쿠폰혜택</dt>
				<dd class="detail__dd">상품 10% 할인 쿠폰 <a href="" class="btn__set btn__down">받기</a></dd></dd>
			</dl>
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice01.jpg" alt="배송안내사항">
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice02.jpg" alt="배송안내사항">
		</div>
	</div><!-- //detail__header -->
	<div class="detail__bottom">
		<div class="tab-v2" data-tab="true">
			<ul class="tab-v2__list">
				<li class="tab-v2__item"><a href="#tab1" class="tab-v2__link" data-title="">상품정보</a></li>
				<li class="tab-v2__item is-active"><a href="#tab2" class="tab-v2__link" data-title="">상품평 (111)</a></li>
				<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">상품문의(101)</a></li>
				<li class="tab-v2__item"><a href="#tab4" class="tab-v2__link" data-title="">배송/반품안내</a></li>
			</ul>
		</div><!-- //tab-v2 -->
		<div class="detail__content tab-content is-active" id="tab1">
			<div class="review">
				<div class="review__wrap">
					<h2 class="review__tit">총평점</h2>
					<span class="star_mark sc_0">구매만족도</span>
					<a href="" class="review__btn">상품평작성</a>
				</div>
			</div>
			<ul class="accordian2_list">
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<colgroup>
								<col width="auto">
								<col width="60px">
								<col width="80px">
							</colgroup>
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit review__file">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="star_mark_s sc_0">구매만족도 별0개</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요..맛
						과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~<br>
						정말 맛있는 아빠가 만들어도 맛있는 볶음면입니다.<br><br>
						<ul class="review__list">
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
						</ul>
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="star_mark_s sc_0">구매만족도 별0개</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요..맛
						과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~<br>
						정말 맛있는 아빠가 만들어도 맛있는 볶음면입니다.<br><br>
						<ul class="review__list">
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
							<li class="review__item">
								<div class="review__item-wrap">
									<img src="../../images/temp/board_img01.jpg" alt="" class="review__img">
								</div>
							</li>
						</ul>
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="section__wrap">
				<a href="#" class="review__more">더 보기</a>
			</div>
		</div><!-- //detail__content -->
	</div><!-- //detail__bottom -->
	<div class="buyfix">
		<div class="buytab">
			<div class="buytab__content">
				<div class="buytab__option">
					<h2 class="option__tit">9/25 화요일 도착 예정</h2>
					<ul class="buytab__list">
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1" />
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
					</ul>
					<div class="buytab__total">
						<p class="buytab__total-subject">구매 예정 금액</p>
						<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
					</div>
				</div>
			</div>
			<ul class="buytab__btn-list">
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">구매하기</a></li>
			</ul>
			<a href="" class="buytab__open" onclick="return false;"></a>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar2'); %>
<%- include('../_inc/_footer'); %>
