
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품정보
			<a href="" class="set__btn">설정</a>
		</h2>
	</div>
	<div class="prod__slide">
		<div class="swiper-wrapper">
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="detail__header">
		<div class="detail__tit">
			<h3>냉동실 속 건강한 간편 한 끼! [20%할인] 생산직송 영양밥세트 (2종,14인분)</h3>
		</div>
		<div class="detail__info">
			<dl class="detail__dl">
				<dt class="detail__dt type-line">판매가</dt>
				<dd class="detail__dd">
					<p class="detail__price">
						11,911,600<span class="detail__won">원</span><span class="detail__before">11,911,600<span>원</span></span><span class="detail__sale">30%</span>
					</p>
				</dd>
				<dt class="detail__dt">배송비</dt>
				<dd class="detail__dd">4만원 이상 무료배송</dd>
				<dt class="detail__dt">배송일</dt>
				<dd class="detail__dd">지금 결제시 <strong class="color01">04.25(월)도착</strong></dd>
				<dt class="detail__dt">브랜드</dt>
				<dd class="detail__dd">풀무원 <a href="" class="btn__set btn__allview">전체 상품보기</a></dd>
				<dt class="detail__dt">상품정보</dt>
				<dd class="detail__dd">냉장보관 / 1인분, 193g</dd>
				<dt class="detail__dt">쿠폰혜택</dt>
				<dd class="detail__dd">상품 10% 할인 쿠폰 <a href="" class="btn__set btn__down">받기</a></dd></dd>
			</dl>
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice01.jpg" alt="배송안내사항">
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice02.jpg" alt="배송안내사항">
		</div>
	</div><!-- //detail__header -->
	<div class="detail__bottom">
		<div class="tab-v2" data-tab="true">
			<ul class="tab-v2__list">
				<li class="tab-v2__item"><a href="#tab1" class="tab-v2__link" data-title="">상품정보</a></li>
				<li class="tab-v2__item"><a href="#tab2" class="tab-v2__link" data-title="">상품평 (111)</a></li>
				<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">상품문의(101)</a></li>
				<li class="tab-v2__item is-active"><a href="#tab4" class="tab-v2__link" data-title="">배송/반품안내</a></li>
			</ul>
		</div><!-- //tab-v2 -->
		<div class="detail__content tab-content is-active" id="tab4">
			<div class="detail__delivery">
				배송정책<br>
				배송비 3천원 (4만원 이상 주문시 무료배송)
			</div>
		</div>
	</div><!-- //detail__bottom -->
	<div class="buyfix">
		<div class="buytab">
			<div class="buytab__content">
				<div class="buytab__option">
					<h2 class="option__tit">9/25 화요일 도착 예정</h2>
					<ul class="buytab__list">
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1" />
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
					</ul>
					<div class="buytab__total">
						<p class="buytab__total-subject">구매 예정 금액</p>
						<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
					</div>
				</div>
			</div>
			<ul class="buytab__btn-list">
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">구매하기</a></li>
			</ul>
			<a href="" class="buytab__open" onclick="return false;"></a>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar2'); %>
<%- include('../_inc/_footer'); %>
