
<%- include('../_inc/_header'); %>
<%- include('../_inc/_popup2'); %>
<%- include('../_inc/_popup3'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>일반배송 주문 &middot; 결제
		</h2>
	</div>
	<div class="order">
		<div class="order__content">
			<div class="order__header">
				<div class="price mt10">
					<p class="price__tit">1. 주문상품<span>(3개)</span></p>
					<p class="price__money">
						31,800<span>원</span>
					</p>
				</div>
			</div><!-- //order__header -->
			<div class="order__body">
				<div class="order__body-header">
					<span class="order__body-header-txt">08.24(화) 도착예정</span><a href="#" class="order__btn1 js-popup-open3">배송예정일변경</a>
				</div>
				<ul class="order-delivery">
					<li class="order-delivery__item">
						<div class="prod_info type-wide">
							<a href="#" class="prod_img">
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(수량 1개)</span>
										</span>
									</span>
								</a>
							</div>

							<div class="prod_detail_bottom">
								<div class="prod__order">
									<span class="prod__order-txt">총 주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
									<span class="prod__order-save">(적립 20원)</span>
								</div>
							</div>
						</div>
					</li><!-- //order-delivery__item -->
					<li class="order-delivery__item">
						<div class="prod_info type-wide">
							<a href="#" class="prod_img">
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(수량 1개)</span>
										</span>
									</span>
								</a>
							</div>

							<div class="prod_detail_bottom">
								<div class="prod__order">
									<span class="prod__order-txt">총 주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
									<span class="prod__order-save">(적립 20원)</span>
								</div>
							</div>
						</div>
					</li><!-- //order-delivery__item -->
				</ul><!--//order-delivery-->
			</div><!-- //order__body -->
			<div class="order__terms">
				<h3 class="order__terms-tit">렌탈상품 약관동의</h3>
				<div class="order__terms-box">
					렌트상품이 있을 경우, 약관 동의란을 표기. 약관동의가 필요합니다. 약관내용은 추후 업데이트.<br><br>

					전체 약관 디스플레이
				</div>
				<a href="" class="order__btn3 mt10"><span>자세히보기</span></a>
				<div class="order__terms-check">
					<input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">렌탈상품 이용약관에 대한 내용을 확인하였으며, 이에 동의 합니다.</label>
				</div>
			</div>
			<div class="order__header">
				<div class="price mt10">
					<p class="price__tit">2. 배송정보</p>
				</div>
			</div><!-- //order__header -->
			<div class="order__body">
				<div class="order__address-box">
					<table class="table1">
						<colgroup>
							<col style="width:114px">
							<col style="width:auto">
							<col style="width:64px">
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th" rowspan="2">보내는 사람 이름</th>
								<td class="table1__td" colspan="2">
									<div class="input2__wrap1"><input type="text" value="김토니" class="input2 wd100p"></div>
								</td>
							</tr>
							<tr class="table1__tr">
								<td class="table1__td">
									동일상품 여러 주소로 배송하기
								</td>
								<td class="table1__td txt_r">
									<div class="input2__wrap2">
										<div class="select__box type-table wd60">
											<select class="js-default select1 select30">
												<option>2곳</option>
												<option>3곳</option>
												<option>4곳</option>
											</select>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- //order__address-box -->
				<div class="order__address-box">
					<div class="order__body-wrap">
						<h3 class="order__address-tit">배송지 정보 01</h3>
						<div class="tab-v4">
							<a href="#" class="tab-v4__link is-active js-delivery" data-name="default">기본배송지</a>
							<a href="#" class="tab-v4__link js-delivery" data-name="direct">직접입력</a>
						</div>
					</div>
					<div class="order__address-content js-default is-active">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
								<col style="width:64px">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<th class="table1__th">받는사람</th>
									<td class="table1__td">
										김토니
										<div class="input2__wrap2 fl_r">
											<a href="#" class="order__address-btn js-popup-open2">배송지목록</a>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										전화번호
									</td>
									<td class="table1__td">
										02-1234-5678
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										휴대폰번호
									</td>
									<td class="table1__td">
										010-1234-5678
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										주소
									</td>
									<td class="table1__td">
										경기도 성남시 분당구 판교로 255번길 9-22 우림 W-city B동 614호
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										배송메세지
									</td>
									<td class="table1__td">
										<div class="input2__wrap1">
											<div class="select__box type-table wd100p">
												<select class="js-default select1 select30">
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
												</select>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__address-content -->
					<div class="order__address-content js-direct">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
								<col style="width:64px">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<th class="table1__th">받는사람</th>
									<td class="table1__td">
										<div class="input2__wrap3">
											<input type="text" class="input2 wd100p js-input">
										</div>
										<div class="input2__wrap4">
											<a href="#" class="order__address-btn js-popup-open2">배송지목록</a>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										전화번호
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p" placeholder="예) 023123123">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										휴대폰번호
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p" placeholder="예) 01012345678">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										주소
									</th>
									<td class="table1__td">
										<div class="input2__wrap5">
											<input type="text" class="input2 wd100p js-input">
										</div>
										<div class="input2__wrap4">
											<a href="#" class="order__address-btn">우편번호 검색</a>
										</div>
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p">
										</div>
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										배송메세지
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<div class="select__box type-table wd100p">
												<select class="js-default select1 select30">
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
												</select>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__address-content -->
				</div><!-- //order__address-box -->
				<div class="order__address-box">
					<div class="order__body-wrap">
						<h3 class="order__address-tit">배송지 정보 02</h3>
						<div class="tab-v4">
							<a href="#" class="tab-v4__link js-delivery" data-name="default">기본배송지</a>
							<a href="#" class="tab-v4__link js-delivery is-active" data-name="direct">직접입력</a>
						</div>
					</div>
					<div class="order__address-content js-default">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
								<col style="width:64px">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<th class="table1__th">받는사람</th>
									<td class="table1__td">
										김토니
										<div class="input2__wrap2 fl_r">
											<a href="#" class="order__address-btn js-popup-open2">배송지목록</a>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										전화번호
									</td>
									<td class="table1__td">
										02-1234-5678
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										휴대폰번호
									</td>
									<td class="table1__td">
										010-1234-5678
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										주소
									</td>
									<td class="table1__td">
										경기도 성남시 분당구 판교로 255번길 9-22 우림 W-city B동 614호
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										배송메세지
									</td>
									<td class="table1__td">
										<div class="input2__wrap1">
											<div class="select__box type-table wd100p">
												<select class="js-default select1 select30">
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
												</select>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__address-content -->
					<div class="order__address-content js-direct is-active">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
								<col style="width:64px">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<th class="table1__th">받는사람</th>
									<td class="table1__td">
										<div class="input2__wrap3">
											<input type="text" class="input2 wd100p js-input">
										</div>
										<div class="input2__wrap4">
											<a href="#" class="order__address-btn js-popup-open2">배송지목록</a>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										전화번호
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p" placeholder="예) 023123123">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										휴대폰번호
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p" placeholder="예) 01012345678">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										주소
									</th>
									<td class="table1__td">
										<div class="input2__wrap5">
											<input type="text" class="input2 wd100p js-input">
										</div>
										<div class="input2__wrap4">
											<a href="#" class="order__address-btn">우편번호 검색</a>
										</div>
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p">
										</div>
										<div class="input2__wrap1">
											<input type="text" class="input2 wd100p">
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<th class="table1__th">
										배송메세지
									</th>
									<td class="table1__td">
										<div class="input2__wrap1">
											<div class="select__box type-table wd100p">
												<select class="js-default select1 select30">
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
													<option>배송 메모를 선택해주세요</option>
												</select>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__address-content -->
				</div><!-- //order__address-box -->
			</div>
			<div class="order__header">
				<div class="price">
					<p class="price__tit">3. 결제금액</p>
				</div>
			</div><!-- //order__header -->
			<div class="order__body type-another">
				<table class="table1 type-another">
					<thead>
						<col style="width:auto">
						<col style="width:100px">
					</thead>
					<tbody>
						<tr class="table1__tr">
							<th class="table1__th">
								총 주문금액<span class="fs_12">(배송비 포함)</span>
							</th>
							<td class="table1__td txt_r">
								<p class="table1__price">444,500<span>원</span></p>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">
								쿠폰할인
								<p class="table1__add">
									3만원 이상 구매시 10% 할인 쿠폰 적용 <a href="" class="table1__btn">쿠폰변경</a>
								</p>
							</th>
							<td class="table1__td type-price">
								<p class="table1__price">-3,000<span>원</span></p>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">
								적립금사용
								<p class="table1__add">
									보유 적립금: 3,000원 <a href="" class="table1__btn">전체사용</a>
								</p>
							</th>
							<td class="table1__td type-price">
								<div class="input2__wrap2">
									<input type="text" class="input2 wd60 txt_r" value="0">
								</div>
								<span class="table1__price"><span>원</span></span>
							</td>
						</tr>
						<tr class="table1__tr table1__total">
							<th class="table1__th vt_mid">
								<p class="table1__subject-total">최종 결제금액</p>
							</th>
							<td class="table1__td txt_r">
								<p class="table1__price-total">500,000<span>원</span></p>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- //order__body -->
			<div class="order__header">
				<div class="price">
					<p class="price__tit">4. 결제수단</p>
				</div>
			</div><!-- //order__header -->
			<div class="order__body">
				<div class="order__means-box">
					<ul class="order__means-list">
						<li class="order__means-item">
							<a href="" class="order__means-link is-active" data-name="case1">신용카드</a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case2"><span class="inline-block">실시간</span><span class="inline-block"> 계좌이체</span></a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case3"><span class="inline-block">무통장</span><span class="inline-block">(가상계좌)</span></a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case1">휴대폰</a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case1">PayNOW</a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case1">카카오페이</a>
						</li>
						<li class="order__means-item">
							<a href="" class="order__means-link" data-name="case1">Npay</a>
						</li>
					</ul>
				</div>
				<div class="order__means-case is-active js-case1">
					<div class="order__means-box">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<td class="table1__th">
										상품 품절시
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="radio" name="prod1" value="" id="prod1_1" class="radio1" checked><label for="prod1_1">적립금</label>
											<input type="radio" name="prod1" value="" id="prod1_2" class="radio1"><label for="prod1_2">주문시 결제수단으로 환불</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__means-box -->
				</div><!-- // order__means-case -->
				<div class="order__means-case js-case2">
					<div class="order__means-box type-info">
						결제와 동시에 풀무원샵에서 입금처리되며, 10분 이내에 입금 확인이 가능 합니다. (계좌이체 수수료는 풀무원에서 부담)
					</div>
					<div class="order__means-box">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<td class="table1__th">
										현금 영수증
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="radio" name="receipt1" value="" id="receipt1_1" class="radio1" checked><label for="receipt1_1">발행</label>
											<input type="radio" name="receipt1" value="" id="receipt1_2" class="radio1"><label for="receipt1_2">미발행</label>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										상품 품절시
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="radio" name="prod2" value="" id="prod2_1" class="radio1" checked><label for="prod2_1">적립금</label>
											<input type="radio" name="prod2" value="" id="prod2_2" class="radio1"><label for="prod2_2">주문시 결제수단으로 환불</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__means-box -->
				</div><!-- // order__means-case -->
				<div class="order__means-case js-case3">
					<div class="order__means-box">
						<table class="table1">
							<colgroup>
								<col style="width:114px">
								<col style="width:auto">
							</colgroup>
							<tbody>
								<tr class="table1__tr">
									<th class="table1__th">입금자</th>
									<td class="table1__td">
										<div class="input2__wrap1"><input type="text" value="김토니" class="input2 wd100p"></div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										예금주
									</td>
									<td class="table1__td">
										풀무원식품 주식회사
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										입금기한
									</td>
									<td class="table1__td">
										2016.03.06  23:56:56까지 (미입금 시 주문 취소)
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										SMS 안내
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="checkbox" name="sms" id="sms_1" class="checkbox1"><label for="sms_1" class="">계좌번호 SMS수신</label>
											<input type="checkbox" name="sms" id="sms_2" class="checkbox1"><label for="sms_2" class="">입금확인 SMS받기</label>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										현금 영수증
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="radio" name="receipt2" value="" id="receipt2_1" class="radio1" checked><label for="receipt2_1">발행</label>
											<input type="radio" name="receipt2" value="" id="receipt2_2" class="radio1"><label for="receipt2_2">미발행</label>
										</div>
									</td>
								</tr>
								<tr class="table1__tr">
									<td class="table1__th">
										상품 품절시
									</td>
									<td class="table1__td">
										<div class="input2__wrap2">
											<input type="radio" name="prod3" value="" id="prod3_1" class="radio1" checked><label for="prod3_1">적립금</label>
											<input type="radio" name="prod3" value="" id="prod3_2" class="radio1"><label for="prod3_2">주문시 결제수단으로 환불</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //order__means-box -->
				</div><!-- // order__means-case -->
				<div class="order__means-box">
					<div class="btn__group">
						<div class="btn__wrap">
							<span class="btn1 wd100p"><a href="" class="btn1__link type-2">결제하기</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
