
<%- include('../_inc/_header'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			주문완료<a href="" class="home__btn">홈버튼</a>
		</h2>
	</div>
	<div class="order">
		<div class="order__header type-complete">
			<h3 class="order__header-tit">고객님의 주문이 완료되었습니다.</h3>
			<p class="order__header-txt">
				주문내역 및 배송에 관한 안내는 주문조회를 통하여 확인 가능합니다.<br>
				<strong class="color01">2016.05.23 23:59:59까지 입금</strong>하시지 않으면 주문이 취소 될 수 있습니다.
			</p>
		</div>
		<div class="order__content">
			<div class="order__complete">
				<div class="order__complete-box">
					<table class="table1">
						<colgroup>
							<col style="width:110px;">
							<col style="width:auto;">
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th vt_mid">주문번호</th>
								<td class="table1__td"><span class="table1__color01">1609121133097417</span></td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt_mid">주문일</th>
								<td class="table1__td"><span class="table1__color01">2016. 01 .01</span></td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt_mid">총 결제금액</th>
								<td class="table1__td"><span class="table1__color01">500,000원</span></td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt_mid">입금은행</th>
								<td class="table1__td"><span class="table1__color01">신한은행(01234567890123  예금주: 풀무원)</span></td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt_mid">입금기한</th>
								<td class="table1__td"><span class="table1__color01">2016. 05. 05 23:59:59</span></td>
							</tr>
						</tbody>
					</table>
				</div><!-- //order__complete-box -->
				<div class="order__complete-box">
					<ul class="order__complete-list">
						<li class="order__complete-item">
							<div class="prod_info type-wide">
								<a href="#" class="prod_img">
									<img src="../../images/temp/prod_img01.jpg" alt="">
								</a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_sub">(수량 1개)</span>
											</span>
											<span class="prod_delivery-info">08.24(화) 도착 예정</span>
										</span>
									</a>
								</div>
							</div>
						</li>
						<li class="order__complete-item">
							<div class="prod_info type-wide">
								<a href="#" class="prod_img">
									<img src="../../images/temp/prod_img01.jpg" alt="">
								</a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_sub">(수량 1개)</span>
											</span>
											<span class="prod_delivery-info">08.24(화) 도착 예정</span>
										</span>
									</a>
								</div>
							</div>
						</li>
						<li class="order__complete-item">
							<div class="prod_info type-wide">
								<a href="#" class="prod_img">
									<img src="../../images/temp/prod_img01.jpg" alt="">
								</a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_sub">(수량 1개)</span>
											</span>
											<span class="prod_delivery-info">08.24(화) 도착 예정</span>
										</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- //order__complete-box -->
			</div>
			<div class="btn__group mt10">
				<div class="btn__wrap">
					<span class="btn1"><a href="" class="btn1__link type-1">주문 상세보기</a></span>
					<span class="btn1"><a href="" class="btn1__link type-2">쇼핑 계속하기</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
