
<%- include('../_inc/_header'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>장바구니
		</h2>
	</div>
	<div class="order">
		<div class="tab-v3">
			<a href="" class="tab-v3__link is-active">일반배송(111)</a>
			<a href="" class="tab-v3__link ">정기배송(111)</a>
		</div>
		<div class="order__info">
			<h2 class="order__info-tit">배송안내</h2>
			<p class="order__info-txt">배송 구분별로 상품이 각각 배송되며, 배송 구분의 상품별 배송일이 다를 경우, 가장 늦은 배송일에 맞춰 함께 배송됩니다.</p>
		</div>
		<div class="order__content">
			<div class="price mt10">
				<p class="price__tit">총 주문 예정금액<span>(4개)</span></p>
				<p class="price__money">
					31,800<span>원</span>
				</p>
			</div>
			<div class="check__box">
				<span class="check__all"><input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">전체선택</label></span>
				<a href="" class="fl_r prod_btn2">선택상품 삭제</a>
			</div>
			<ul class="order__list">
				<li class="order__item">
					<div class="delivery">
						<p class="delivery__tit">4만원이상 무료배송</p>
					</div>
					<div class="order__cart-wrap">
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="order__price">
							<div class="order__price-box nth-1">
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">상품</dt>
									<dd class="order__price-box__dd">50,000원</dd>
								</dl>
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">배송비</dt>
									<dd class="order__price-box__dd">3,000원</dd>
								</dl>
							</div>
							<div class="order__price-box nth-2">
								<dl class="order__price__dl">
									<dt class="order__price__dt">주문금액</dt>
									<dd class="order__price__dd">
										5,500,000<span>원</span><br>
										<p><a href="#">배송비절약 상품 추가 &gt;</a></p>
									</dd>
								</dl>
							</div>
						</div>
					</div><!-- //section__wrap -->
				</li><!-- //order__item-->
				<li class="order__item">
					<div class="delivery">
						<p class="delivery__tit">4만원이상 무료배송</p>
					</div>
					<div class="order__cart-wrap">
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="order__price">
							<div class="order__price-box nth-1">
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">상품</dt>
									<dd class="order__price-box__dd">50,000원</dd>
								</dl>
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">배송비</dt>
									<dd class="order__price-box__dd">3,000원</dd>
								</dl>
							</div>
							<div class="order__price-box nth-2">
								<dl class="order__price__dl">
									<dt class="order__price__dt">주문금액</dt>
									<dd class="order__price__dd">
										5,500,000<span>원</span><br>
										<p><a href="#">배송비 쿠폰 적용 &gt;</a></p>
									</dd>
								</dl>
							</div>
						</div>
					</div><!-- //section__wrap -->
				</li><!-- //order__item-->
				<li class="order__item">
					<div class="delivery">
						<p class="delivery__tit">무료배송</p>
					</div>
					<div class="order__cart-wrap">
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="prod_info type-wide type-close">
							<a href="#" class="prod_img">
								<div class="prod_check">
									<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
								</div>
								<img src="../../images/temp/prod_img01.jpg" alt="">
							</a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_sub">(적립 19원)</span>
										</span>
										<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
									</span>
								</a>
								<a href="" class="prod_btn-close">닫기</a>
							</div>
							<div class="prod_detail_bottom">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="prod__order">
									<span class="prod__order-txt">주문금액</span>
									<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
								</div>
							</div>
						</div><!-- //prod_info -->
						<div class="order__price">
							<div class="order__price-box nth-1">
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">상품</dt>
									<dd class="order__price-box__dd">50,000원</dd>
								</dl>
								<dl class="order__price-box__dl">
									<dt class="order__price-box__dt">배송비</dt>
									<dd class="order__price-box__dd">0원</dd>
								</dl>
							</div>
							<div class="order__price-box nth-2">
								<dl class="order__price__dl">
									<dt class="order__price__dt">주문금액</dt>
									<dd class="order__price__dd">
										5,500,000<span>원</span><br>
										<p>배송비 쿠폰 적용 <a href="#">쿠폰 취소 &gt;</a></p>
									</dd>
								</dl>
							</div>
						</div>
					</div><!-- //section__wrap -->
				</li><!-- //order__item-->
			</ul><!-- //order__list-->
			<div class="freebies">
				<div class="price mt10">
					<p class="price__tit">증정품 선택<span>(3개)</span></p>
					<div class="price__wrap">
						<p class="price__txt">
							증정품 받기 버튼해제 시 증정품이 발송되지 않습니다.
						</p>
					</div>
				</div>
				<div class="freebies__content">
					<div class="freebies__list">
						<div class="swiper-wrapper">


							<div class="freebies__item swiper-slide">
								<div class="freebies__prod">
									<div class="freebies__header">
										<input type="checkbox" name="sl" id="freebies1" class="checkbox1"><label for="freebies1">증정품받기</label>
									</div>
									<div class="freebies__body">
										<div class="freebies__img">
											<img src="../../images/temp/freebies_img01.jpg" alt="">
										</div>
									</div>
									<div class="freebies__footer">
										<p class="freebies__tit">4만원 이상 구매시 증정</p>
										<p class="freebies__txt">유자 냉우동 1개입</p>
									</div>
								</div>
							</div><!-- //freebies__item -->

							<div class="freebies__item swiper-slide">
								<div class="freebies__prod">
									<div class="freebies__header">
										<input type="checkbox" name="sl" id="freebies2" class="checkbox1"><label for="freebies2">증정품받기</label>
									</div>
									<div class="freebies__body">
										<div class="freebies__img">
											<img src="../../images/temp/freebies_img01.jpg" alt="">
										</div>
									</div>
									<div class="freebies__footer">
										<p class="freebies__tit">4만원 이상 구매시 증정</p>
										<p class="freebies__txt">유자 냉우동 1개입</p>
									</div>
								</div>
							</div><!-- //freebies__item -->

							<div class="freebies__item swiper-slide">
								<div class="freebies__prod">
									<div class="freebies__header">
										<input type="checkbox" name="sl" id="freebies3" class="checkbox1"><label for="freebies3">증정품받기</label>
									</div>
									<div class="freebies__body">
										<div class="freebies__img">
											<img src="../../images/temp/freebies_img01.jpg" alt="">
										</div>
									</div>
									<div class="freebies__footer">
										<p class="freebies__tit">4만원 이상 구매시 증정</p>
										<p class="freebies__txt">유자 냉우동 1개입</p>
									</div>
								</div>
							</div><!-- //freebies__item -->

						</div>

					</div><!-- //freebies__list -->
					<a class="freebies__slide-btn freebies__btn-prev" id="freebies__btn-prev"></a>
					<a class="freebies__slide-btn freebies__btn-next" id="freebies__btn-next"></a>
				</div>
			</div><!-- //freebies -->
			<div class="payment">
				<div class="price mt10">
					<p class="price__tit">결제 예정금액</p>
				</div>
				<ul class="payment__list">
					<li class="payment__item">
						<div class="payment__wrap">
							<span class="payment__subject">총 상품금액</span>
							<span class="payment__money">50,000<span>원</span></span>
						</div>
					</li>
					<li class="payment__item">
						<div class="payment__wrap">
							<span class="payment__subject">총 배송비</span>
							<span class="payment__money">50,00<span>원</span></span>
						</div>
					</li>
					<li class="payment__item">
						<div class="payment__wrap">
							<span class="payment__subject">총 할인금액<a href="#" class="payment__btn" >열기/닫기</a></span>
							<span class="payment__money">-3,500<span>원</span></span>
						</div>
						<div class="payment__sub">
							<div class="payment__sub-wrap">
								<span class="payment__sub-subject">상품쿠폰</span>
								<span class="payment__sub-money">500원</span>
							</div>
							<div class="payment__sub-wrap">
								<span class="payment__sub-subject">배송비쿠폰</span>
								<span class="payment__sub-money">3,000원</span>
							</div>
						</div>
					</li>
					<li class="payment__item total">
						<div class="payment__wrap">
							<span class="payment__subject">총 주문금액</span>
							<span class="payment__money">52,500<span>원</span></span>
						</div>
					</li>
				</ul>
			</div><!-- //payment -->
			<div class="btn__group">
				<div class="btn__wrap">
					<span class="btn1"><a href="" class="btn1__link type-1">선택상품 주문</a></span>
					<span class="btn1"><a href="" class="btn1__link type-2">전체상품 주문</a></span>
				</div>
			</div>
		</div><!-- //order__content -->
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
