
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>내마음대로 주문 STEP 03
		</h2>
	</div>
	<div class="custom">
		<div class="custom__tit">
			<div class="price">
				<p class="price__tit">주문내역 확인</p>
			</div>
		</div>
		<div class="custom__date">
			<div class="delivery">
				<p class="delivery__tit">1일차</p>
			</div>
			<div class="custom__body">
				<div class="prod_info type-wide">
					<a href="#" class="prod_img">
						<img src="../../images/temp/prod_img01.jpg" alt="">
					</a>
					<div class="prod_detail">
						<a href="#">
							<span class="prod_detail_top">
								<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								<span class="prod_price">
									<span class="prod_price_tit">판매가</span>
									<strong class="prod_price_now fl_n">
										<span>2,900</span>원
									</strong>
								</span>
								<span class="prod_delivery-info">총 12회(월수금x4주)x3개씩 배송</span>
							</span>
						</a>
					</div>

					<div class="prod_detail_bottom">
						<div class="prod__order">
							<span class="prod__order-txt">상품 합계 금액</span>
							<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="custom__date">
			<div class="delivery">
				<p class="delivery__tit">2일차</p>
			</div>
			<div class="custom__body">
				<div class="prod_info type-wide">
					<a href="#" class="prod_img">
						<img src="../../images/temp/prod_img01.jpg" alt="">
					</a>
					<div class="prod_detail">
						<a href="#">
							<span class="prod_detail_top">
								<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								<span class="prod_price">
									<span class="prod_price_tit">판매가</span>
									<strong class="prod_price_now fl_n">
										<span>2,900</span>원
									</strong>
								</span>
								<span class="prod_delivery-info">총 12회(월수금x4주)x3개씩 배송</span>
							</span>
						</a>
					</div>

					<div class="prod_detail_bottom">
						<div class="prod__order">
							<span class="prod__order-txt">상품 합계 금액</span>
							<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="custom__date">
			<div class="delivery">
				<p class="delivery__tit">3일차</p>
			</div>
			<div class="custom__body">
				<div class="prod_info type-wide">
					<a href="#" class="prod_img">
						<img src="../../images/temp/prod_img01.jpg" alt="">
					</a>
					<div class="prod_detail">
						<a href="#">
							<span class="prod_detail_top">
								<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
								<span class="prod_price">
									<span class="prod_price_tit">판매가</span>
									<strong class="prod_price_now fl_n">
										<span>2,900</span>원
									</strong>
								</span>
								<span class="prod_delivery-info">총 12회(월수금x4주)x3개씩 배송</span>
							</span>
						</a>
					</div>

					<div class="prod_detail_bottom">
						<div class="prod__order">
							<span class="prod__order-txt">상품 합계 금액</span>
							<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="custom__total">
			<div class="custom__total-wrap">
				<span class="custom__subject">총 주문금액</span>
				<span class="custom__money">52,500<span>원</span></span>
			</div>
		</div>
		<div class="btn__group">
			<div class="btn__wrap">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-2">주문하기</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
