
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>내마음대로 주문 STEP 01
		</h2>
	</div>
	<div class="custom">
		<div class="custom__header">
			녹즙음료를 요일별로 다르게 주문하세요.<br>
			매일매일 드시고 싶은 녹즙음료를 사전지정하여 주문하실 수 있습니다.<br>
			프로그램을 만드시기 전, 각 상품 상세정보를 충분히 확인하시고 주문해주세요.
		</div>
		<div class="custom__box">
			<div class="price">
				<p class="price__tit">배송주기</p>
			</div>
			<div class="custom__body">
				<ul class="custom__list type-two">
					<li class="custom__item"><a href="" class="custom__link is-active">주 3회(월수금)</a></li>
					<li class="custom__item"><a href="" class="custom__link">주 4회(월~목)</a></li>
					<li class="custom__item"><a href="" class="custom__link">주 5회(월~금)</a></li>
					<li class="custom__item"><a href="" class="custom__link">주 5회(월~금, 금2개)</a></li>
				</ul>
			</div>
		</div><!-- //custom__box-->
		<div class="custom__box">
			<div class="price">
				<p class="price__tit">배송기간</p>
			</div>
			<div class="custom__body">
				<ul class="custom__list type-three">
					<li class="custom__item"><a href="" class="custom__link is-active">1개월(4주)</a></li>
					<li class="custom__item"><a href="" class="custom__link">2개월(8주)</a></li>
					<li class="custom__item"><a href="" class="custom__link">3개월(12주)</a></li>
					<li class="custom__item"><a href="" class="custom__link">4개월(16주)</a></li>
					<li class="custom__item"><a href="" class="custom__link">5개월(20주)</a></li>
					<li class="custom__item"><a href="" class="custom__link">6개월(24주)</a></li>
				</ul>
			</div>
		</div><!-- //custom__box-->
		<div class="custom__box">
			<div class="price">
				<p class="price__tit">녹즙구입 경험</p>
			</div>
			<div class="custom__body">
				<ul class="custom__list type-two">
					<li class="custom__item"><a href="" class="custom__link">있음</a></li>
					<li class="custom__item"><a href="" class="custom__link">없음</a></li>
				</ul>
			</div>
		</div><!-- //custom__box-->
		<div class="custom__box">
			<div class="price">
				<p class="price__tit">제품 배송장소</p>
			</div>
			<div class="custom__body">
				<ul class="custom__list type-two">
					<li class="custom__item"><a href="" class="custom__link">있음</a></li>
					<li class="custom__item"><a href="" class="custom__link">없음</a></li>
				</ul>
			</div>
		</div><!-- //custom__box-->
		<div class="btn__group">
			<div class="btn__wrap">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-2">Step 02 일자별 배송제품 선택하기</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
