
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<%- include('../_inc/_popup4'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>내마음대로 주문 STEP 02
		</h2>
	</div>
	<div class="custom">
		<div class="custom__box">
			<div class="price mt10">
				<p class="price__tit">일자별 배송제품 선택하기</p>
			</div>
			<div class="custom__body">
				<ul class="custom__list type-three">
					<li class="custom__item"><a href="" class="custom__link is-active">1일차</a></li>
					<li class="custom__item"><a href="" class="custom__link">2일차</a></li>
					<li class="custom__item"><a href="" class="custom__link">3일차</a></li>
					<li class="custom__item"><a href="" class="custom__link">4일차</a></li>
					<li class="custom__item"><a href="" class="custom__link">5일차</a></li>
					<li class="custom__item"><a href="" class="custom__link">6일차</a></li>
				</ul>
			</div>
		</div><!-- //custom__box-->
		<div class="custom__prod">
			<ul class="custom__prod-list">
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
				<li class="custom__prod-item">
					<div class="prod_info">
						<a href="#" class="prod_img js-popup-open4"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
						<div class="prod_detail">
							<a href="#" class="js-popup-open4">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
									</span>
								</span>
							</a>
						</div>
					</div>
				</li><!-- custom__prod-item -->
			</ul><!-- custom__prod-list -->
		</div><!-- //custom__box-->
		<div class="btn__group">
			<div class="btn__wrap">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-2">Step 03 주문내역 확인하기</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
