
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>고객기쁨센터
		</h2>
	</div>
	<div class="cs">
		<div class="cs__box">
			<div class="price mt10">
				<p class="price__tit">자주묻는질문 (FAQ)</p>
				<a href="" class="price__btn">전체보기</a>
			</div>
			<div class="cs__body">
				<div class="cs__header">
					<div class="accordian4_item_header" tabindex="0">
						<div class="accordian4_no">
							NO
						</div>
						<div class="accordian4_tit">제목</div>
					</div>
				</div>
				<div class="cs__content">
					<ul class="accordian4_list">
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									05
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //cs__box -->
		<div class="cs__box">
			<div class="price mt10">
				<p class="price__tit">공지사항</p>
				<a href="" class="price__btn">전체보기</a>
			</div>
			<div class="cs__body">
				<div class="cs__content">
					<ul class="accordian4_list type-notice">
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_tit">개인정보취급(처리)방침 개정 안내</div>
								<div class="accordian4_date">
									2016.09.13
								</div>
							</div>
							<div class="accordian4_item_body">
								익스플로러 버전을 확인해주세요.
								풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 사용가능합니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_tit">개인정보취급(처리)방침 개정 안내</div>
								<div class="accordian4_date">
									2016.09.13
								</div>
							</div>
							<div class="accordian4_item_body">
								익스플로러 버전을 확인해주세요.
								풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 사용가능합니다.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //cs__box -->
		<div class="btn__group">
			<div class="btn__wrap mt5">
				<span class="btn1"><a href="" class="btn1__link type-4"><span class="nonmember__cs">고객기쁨센터</span></a></span>
				<span class="btn1"><a href="" class="btn1__link type-4">1:1문의</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
