
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>자주묻는질문
		</h2>
	</div>
	<div class="cs">

		<div class="cs__box">
			<div class="cs__search">
				<span class="cs__search-input"><input type="text" class="input2 wd100p js-input" placeholder="FAQ 검색"></span>
				<span class="cs__search-btn"><a href="" class="cs__btn btn2"><span>검색</span></a></span>
			</div>
			<ul class="sub-menu__list">
				<li class="sub-menu__item is-active"><a href="" class="sub-menu__link">전체</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">BEST 10</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">상품</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">주문결제</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">배송</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">반품/환불</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">회원/멤버쉽</a></li>
				<li class="sub-menu__item"><a href="" class="sub-menu__link">적립금</a></li>
				<li class="sub-menu__item type-hidden"><a href="" class="sub-menu__link">없음</a></li>
			</ul>
			<div class="cs__body">
				<div class="cs__header">
					<div class="accordian4_item_header" tabindex="0">
						<div class="accordian4_no">
							NO
						</div>
						<div class="accordian4_tit">제목</div>
					</div>
				</div>
				<div class="cs__content">
					<ul class="accordian4_list">
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									01
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
						<li class="accordian4_item">
							<div class="accordian4_item_header" tabindex="0">
								<div class="accordian4_no">
									05
								</div>
								<div class="accordian4_tit">풀무원샵의 판매 제품들은 한꺼번에 배송되나요?</div>
							</div>
							<div class="accordian4_item_body">
								주문하신 상품을 변경하는 것은 불가능하며, 상품 변경을 위하여
								배송전인 경우 이전 주문을 취소하고, 재 주문해주셔야 합니다. 배송
								지 변경은 배송 전(주문완료, 결제완료)에만 가능하며, 고객기쁨센
								터(080-022-0086)로 연락주시면 신속히 변경해드리도록 하겠
								습니다.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //cs__box -->
		<div class="btn__group">
			<div class="btn__wrap mt5">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-5">더보기</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
