
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>공지사항
		</h2>
	</div>
	<div class="cs">
		<div class="cs__box">
			<div class="cs__content">
				<ul class="accordian4_list type-notice">
					<li class="accordian4_item">
						<div class="accordian4_item_header" tabindex="0">
							<div class="accordian4_tit">개인정보취급(처리)방침 개정 안내</div>
							<div class="accordian4_date">
								2016.09.13
							</div>
						</div>
						<div class="accordian4_item_body">
							익스플로러 버전을 확인해주세요.
							풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 사용가능합니다.
						</div>
					</li>
					<li class="accordian4_item">
						<div class="accordian4_item_header" tabindex="0">
							<div class="accordian4_tit">개인정보취급(처리)방침 개정 안내</div>
							<div class="accordian4_date">
								2016.09.13
							</div>
						</div>
						<div class="accordian4_item_body">
							익스플로러 버전을 확인해주세요.
							풀무원에서 사용하고 있는 결제 pg사는 LGU+로 익스플로러 64bit에서는 관리자 권한으로 실행하셔야 사용가능합니다.
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="btn__group">
			<div class="btn__wrap mt5">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-5">더보기</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
