
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>
			<!-- <span class="select__tit">간편한끼식사</span> -->
			<div class="select__title">
				<select class="js-default select2">
					<option>간편한한끼식사</option>
					<option>작성자</option>
					<option>내용</option>
				</select>
			</div>
		</h2>
	</div>
	<div class="menu1">
		<ul class="menu1__list">
			<li class="menu1__item"><a href="" class="menu1__link is-active">전체</a><a href="" class="menu1__link">간편조리밥</a></li>
			<li class="menu1__item"><a href="" class="menu1__link">국/탕/찌개</a><a href="" class="menu1__link">우동/쌀국수/칼국수</a></li>
			<li class="menu1__item"><a href="" class="menu1__link">파스타/카레</a><a href="" class="menu1__link">짜장/짬뽕</a></li>
			<li class="menu1__item"><a href="" class="menu1__link">냉면/쫄면</a><a href="" class="menu1__link">생라면</a></li>
		</ul>
	</div>
	<div class="section__box txt_r type-border">
		<p class="prod__box-info"><span class="prod__box-num">38</span>개 상품</p>
		<div class="select__box wd80">
			<select class="js-default select1 select25">
				<option>판매순</option>
				<option>작성자</option>
				<option>내용</option>
			</select>
		</div>
		<a href="" class="list__style" id="listbtn" onclick="return false"></a>
	</div>
	<div class="section__prod">
		<div class="section__wrap">
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- //section__bottom -->
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
