<!-- footer시작 -->
	<div class="footer">
		<div class="footer__menu1">
			<div class="footer__wrap">
				<ul class="footer__menu1-list">
					<li class="footer__menu1-item"><a href="#tab1" class="footer__menu1-link" data-title="">로그인</a></li>
					<li class="footer__menu1-item"><a href="#tab2" class="footer__menu1-link" data-title="">회원가입</a></li>
					<li class="footer__menu1-item"><a href="#tab3" class="footer__menu1-link" data-title=""><span class="inline-block">최근</span><span class="inline-block"> 본 상품</span></a></li>
					<li class="footer__menu1-item"><a href="#tab3" class="footer__menu1-link" data-title=""><span class="inline-block">고객</span><span class="inline-block"> 기쁨센터</span></a></li>
				</ul>
			</div>
		</div><!-- //footer__menu1 -->
		<div class="footer__menu2">
			<ul class="footer__menu2-list">
				<li class="footer__menu2-item"><a href="#tab1" class="footer__menu2-link" data-title="">회사소개</a></li>
				<li class="footer__menu2-item"><a href="#tab2" class="footer__menu2-link" data-title="">이용약관</a></li>
				<li class="footer__menu2-item"><a href="#tab3" class="footer__menu2-link" data-title="">개인정보 취급방침</a></li>
				<li class="footer__menu2-item"><a href="#tab3" class="footer__menu2-link" data-title="">PC버전</a></li>
			</ul>
		</div><!-- //footer__menu1 -->
		<div class="footer__info">
			<span class="footer__txt">통신판매업 신고 제 2013-서울강남-0367호<span><br>
			<span class="footer__txt">건강식품 판매업신고 제 7490호<span><br>
			<span class="footer__txt">사업자등록번호 303-81-51649 풀무원식품주식회사 <span><br>
			<span class="footer__txt">서울특별시 강남구 광평로 280 로즈데일빌딩 </span><br>
			<span class="footer__txt">개인정보관리책임자 이우봉 wbong@pulmuone.com</span><br>
			<span class="footer__txt">개인정보관리담당자 강한성 hskang@pulmuone.com</span>
		</div>
		<div class="footer__menu2">
			<ul class="footer__menu2-list">
				<li class="footer__menu2-item"><a href="#tab1" class="footer__menu2-link" data-title="">고객 기쁨센터 전화걸기</a></li>
				<li class="footer__menu2-item"><a href="#tab2" class="footer__menu2-link" data-title="">임직원 로그인</a></li>
				<li class="footer__menu2-item"><a href="#tab3" class="footer__menu2-link" data-title="">사업자 정보 확인</a></li>
			</ul>
		</div><!-- //footer__menu1 -->
	</div>
	<div class="top__btn"><a href="#" onclick="return false;" id="topBtn">버튼</a></div>
</body>
</html>
<!-- footer끝 -->
