<!--header gnb시작 -->
	<div class="header">
		<a href="#" class="header__menu-btn">
			<p class="header__menu-bar header__menu-bar1"></p>
			<p class="header__menu-bar header__menu-bar2"></p>
			<p class="header__menu-bar header__menu-bar3"></p>
		</a>
		<h1 class="header__logo">
			<a href="./main_page1.html">풀무원</a>
		</h1>
		<div class="header__search wd100p">
			<div class="header__search-wrap">
				<input type="text" class="input1 wd100p header__input">
				<a href="" class="header__search-btn">검색</a>
			</div>
		</div>
		<a href="#" class="basket__btn"><span class="basket__num">13</span><img src="../../images/basket_icon.png" alt="장바구니"></a>
	</div><!-- header -->

	<div class="gnb">
		<div class="gnb__wrap">
			<a href="" class="gnb__btn" id="gnbClose">닫기</a>
			<div class="gnb__content">
				<div class="login__box">
					<p class="login__tit type-login"><a href="">최영지<span>님</span></a></p>
					<div class="fl_r">
						<span class="login__txt"><a href="">환경설정</a></span>
					</div>
				</div>
				<div class="gnb__menu">
					<ul class="gnb__menu-list">
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">주문/배송</a></li>
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">MY 풀무원</a></li>
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">장바구니<span class="gnb__num">13</span></a></li>
					</ul>
				</div>
				<div class="gnb__best">
					<h2 class="gnb__tit">최영지님베스트</h2>
					<ul class="gnb__best-list">
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="gnb__list">
					<div class="section__wrap">
						<h2 class="gnb__tit">상품카테고리</h2>
					</div>
					<ul class="gnb__box gnb__1depth" data-history="ture">
						<li>
							<p class="gnb__1depth-list"><a  href="#" onclick="return false;"><span class="gnb__icon nth-001">아이콘</span>간편한한끼식사</a></p>
							<ul class="gnb__2depth">
								<li><a href="">간편한끼식사 전체</a></li>
								<li><a href="">간편조리밥</a></li>
								<li><a href="">국/탕/찌개</a></li>
								<li><a href="">우동/쌀국수/칼국수</a></li>
								<li><a href="">짜장/짬뽕</a></li>
								<li><a href="">파스타/카레</a></li>
								<li><a href="">냉면/쫄면</a></li>
								<li><a href="">생라면</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-002">아이콘</span>간편간식</a></p>
							<ul class="gnb__2depth">
								<li><a href="./portfolio.html">Product portfolio</a></li>
								<li><a href="./hero-live.html">Hero live</a></li>
								<li><a href="./hero-file.html">Hero file</a></li>
								<li><a href="./hero-event.html">Hero event</a></li>
								<li><a href="./hero-cloud.html">Hero cloud</a></li>
								<li><a href="./hero-4k.html">Hero 4k</a></li>
								<li><a href="./hero-contribution.html">Hero contribution</a></li>
								<li><a href="./hero-intelligence.html">Hero intelligence</a></li>
								<li><a href="./hero-management.html">Hero management</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-003">아이콘</span>간편반찬</a></p>
							<ul class="gnb__2depth">
								<li><a href="./datasheeets.html">Datasheeets</a></li>
								<li><a href="./whitepapers.html">White papers</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-004">아이콘</span>반찬재료/양념</a></p>
							<ul class="gnb__2depth">
								<li><a href="./team.html">Team</a></li>
								<li><a href="./clients.html">Clients</a></li>
								<li><a href="./ecosystemspartners.html">Ecosystems partners</a></li>
								<li><a href="./channelpartners.html">Channel partners</a></li>
								<li><a href="./careers.html">Careers</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-005">아이콘</span>신선/가공식품</a></p>
							<ul class="gnb__2depth">
								<li><a href="./events.html">Events</a></li>
								<li><a href="./news.html">News</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-006">아이콘</span>건강식품</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-007">아이콘</span>음료</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-008">아이콘</span>라이프</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-009">아이콘</span>일일배송</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-010">아이콘</span>선물세트</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="gnb__footer">
					<a href="" class="gnb__link"><span class="gnb__center">고객기쁨센터</span></a>
				</div>
			</div>
		</div>
	</div>


	<!-- 로그인전 -->
	<!-- <div class="gnb">
		<div class="gnb__wrap">
			<a href="" class="gnb__btn" id="gnbClose">닫기</a>
			<div class="gnb__content">
				<div class="login__box">
					<p class="login__tit"><a href="">로그인</a></p>
					<div class="fl_r">
						<span class="login__txt"><a href="">회원가입</a></span>
						<span class="login__txt"><a href="">환경설정</a></span>
					</div>
				</div>
				<div class="gnb__menu">
					<ul class="gnb__menu-list">
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">주문/배송</a></li>
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">MY 풀무원</a></li>
						<li class="gnb__menu-item"><a href="" class="gnb__menu-link">장바구니<span class="gnb__num">13</span></a></li>
					</ul>
				</div>
				<div class="gnb__best">
					<h2 class="gnb__tit">풀무원 베스트</h2>
					<ul class="gnb__best-list">
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
						<li class="gnb__best-item"><a href="" class="gnb__best-link"><img src="../../images/common/best_img1.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="gnb__list">
					<div class="section__wrap">
						<h2 class="gnb__tit">상품카테고리</h2>
					</div>
					<ul class="gnb__box gnb__1depth" data-history="ture">
						<li>
							<p class="gnb__1depth-list"><a  href="#" onclick="return false;"><span class="gnb__icon nth-1">아이콘</span>간편한한끼식사</a></p>
							<ul class="gnb__2depth">
								<li><a href="">간편한끼식사 전체</a><a href="">간편조리밥</a></li>
								<li><a href="">국/탕/찌개</a><a href="">우동/쌀국수/칼국수</a></li>
								<li><a href="">파스타/카레</a><a href="">짜장/짬뽕</a></li>
								<li><a href="">냉면/쫄면</a><a href="">생라면</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-2">아이콘</span>간편간식</a></p>
							<ul class="gnb__2depth">
								<li><a href="./portfolio.html">Product portfolio</a></li>
								<li><a href="./hero-live.html">Hero live</a></li>
								<li><a href="./hero-file.html">Hero file</a></li>
								<li><a href="./hero-event.html">Hero event</a></li>
								<li><a href="./hero-cloud.html">Hero cloud</a></li>
								<li><a href="./hero-4k.html">Hero 4k</a></li>
								<li><a href="./hero-contribution.html">Hero contribution</a></li>
								<li><a href="./hero-intelligence.html">Hero intelligence</a></li>
								<li><a href="./hero-management.html">Hero management</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-3">아이콘</span>간편반찬</a></p>
							<ul class="gnb__2depth">
								<li><a href="./datasheeets.html">Datasheeets</a></li>
								<li><a href="./whitepapers.html">White papers</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-4">아이콘</span>반찬재료/양념</a></p>
							<ul class="gnb__2depth">
								<li><a href="./team.html">Team</a></li>
								<li><a href="./clients.html">Clients</a></li>
								<li><a href="./ecosystemspartners.html">Ecosystems partners</a></li>
								<li><a href="./channelpartners.html">Channel partners</a></li>
								<li><a href="./careers.html">Careers</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-5">아이콘</span>신선/가공식품</a></p>
							<ul class="gnb__2depth">
								<li><a href="./events.html">Events</a></li>
								<li><a href="./news.html">News</a></li>
							</ul>
						</li>

						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-6">아이콘</span>건강식품</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-7">아이콘</span>음료</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-8">아이콘</span>라이프</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-9">아이콘</span>일일배송</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
						<li>
							<p class="gnb__1depth-list"><a href="#" onclick="return false;"><span class="gnb__icon nth-10">아이콘</span>선물세트</a></p>
							<ul class="gnb__2depth">
								<li><a href="./departments.html">Departments</a></li>
								<li><a href="./support.html">Support</a></li>
								<li><a href="./contact.html">Contact us</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="gnb__footer">
					<a href="" class="gnb__link"><span class="gnb__center">고객기쁨센터</span></a>
				</div>
			</div>
		</div> -->
	</div><!-- gnb -->
	<div class="white"></div>
	<div class="black"></div>
<!--header gnb끝 -->
