<!-- popup7 시작 -->
	<div class="layer-popup type-refund" style="display:block;">
		<div class="layer-popup__responsive">
			<div class="layer-popup__header">
				<h2 class="layer-popup__tit">환불계좌 정보 관리</h2>
				<a href="" class="layer-popup__close js-popup-close">닫기</a>
			</div>
			<div class="layer-popup__content">
				<div class="layer-popup__wrap">
					<table class="table1">
						<colgroup>
							<col style="width:114px">
							<col style="width:auto">
							<col style="width:64px">
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th">
									은행
								</th>
								<td class="table1__td">
									<div class="input2__wrap1">
										<div class="select__box type-table wd100p">
											<select class="select1 select30 js-bank">
												<option>우리은행</option>
												<option>국민은행</option>
												<option>신한은행</option>
											</select>
										</div>
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">
									계좌번호
								</th>
								<td class="table1__td">
									<div class="input2__wrap6">
										<input type="text" class="input2 wd100p js-input" placeholder="계좌번호를 입력해주세요">
									</div>
									<div class="input2__wrap4">
										<a href="#" class="order__address-btn">계좌인증</a>
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">
									예금주
								</th>
								<td class="table1__td">
									김지인
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="layer-popup__box">
					<div class="layer-popup__checkbox">
						<input type="checkbox" name="agree" id="agree_1" class="checkbox1"><label for="agree_1" class="">입력한 정보를 환불계좌로 수집/설정을 동의합니다.</label>
					</div>
					<ul class="info">
						<li class="info__item">
							무통장 입금 혹은 가상계좌 결제, 휴대폰 전월 주문내역을 취소할 경우 등록된 계좌로 환불해드립니다.
						</li>
						<li class="info__item">
							단 고객님 본인 명의의 계좌만 등록 가능합니다.
						</li>
					</ul>
				</div>
				<div class="btn__group type-popup">
					<div class="btn__wrap">
						<span class="btn1 wd100p"><a href="" class="btn1__link type-5">확인</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- popup7 끝 -->
