<!-- popup2 시작 -->
	<div class="layer-popup type-calendar">
		<div class="layer-popup__responsive">
			<div class="layer-popup__header">
				<h2 class="layer-popup__tit">배송예정일 변경</h2>
				<a href="" class="layer-popup__close js-popup-close">닫기</a>
			</div>
			<div class="layer-popup__content">
				<ul class="layer-popup__calender-list">
					<li class="layer-popup__calender-item is-active">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
					<li class="layer-popup__calender-item">
						<a href="" class="layer-popup__calender-link">08.24(화)</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- popup2 끝 -->
