<!-- popup6 시작 -->
	<div class="layer-popup type-edit" style="display:block;">
		<div class="layer-popup__responsive">
			<div class="layer-popup__header">
				<h2 class="layer-popup__tit">배송지 수정</h2>
				<a href="" class="layer-popup__close js-popup-close">닫기</a>
			</div>
			<div class="layer-popup__content">
				<div class="layer-popup__wrap">
					<table class="table1">
						<colgroup>
							<col style="width:114px">
							<col style="width:auto">
							<col style="width:64px">
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th">
									배송지 애칭
								</th>
								<td class="table1__td">
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p" value="엄마집">
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">받는사람</th>
								<td class="table1__td">
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p js-input" value="김올리">
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">
									배송 주소
								</th>
								<td class="table1__td">
									<div class="input2__wrap5">
										<input type="text" class="input2 wd100p js-input" value="10155">
									</div>
									<div class="input2__wrap4">
										<a href="#" class="order__address-btn">우편번호 검색</a>
									</div>
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p" value="서울시 송파구 잠실동" disabled="disabled">
									</div>
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p" value="햇살아파트201호">
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">
									휴대폰
								</th>
								<td class="table1__td">
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p" value="01012341234">
									</div>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">
									추가연락처
								</th>
								<td class="table1__td">
									<div class="input2__wrap1">
										<input type="text" class="input2 wd100p">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="layer-popup__box">
					<div class="layer-popup__checkbox">
						<input type="checkbox" name="sms" id="sms_1" class="checkbox1"><label for="sms_1" class="">기본배송지로 설정</label>
					</div>
				</div>
				<div class="btn__group type-popup">
					<div class="btn__wrap">
						<span class="btn1"><a href="" class="btn1__link type-5">확인</a></span>
						<span class="btn1"><a href="" class="btn1__link type-5">취소</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- popup6 끝 -->
