<!-- popup2 시작 -->
	<div class="layer-popup type-address">
		<div class="layer-popup__responsive">
			<div class="layer-popup__header">
				<h2 class="layer-popup__tit">배송지 목록 (10)</h2>
				<a href="" class="layer-popup__close js-popup-close">닫기</a>
			</div>
			<div class="layer-popup__menu">
				<a href="#" class="layer-popup__menu-btn is-active js-popup-delivery" data-name="basics">배송 주소록</a>
				<a href="#" class="layer-popup__menu-btn js-popup-delivery" data-name="recently">최근 배송지</a>
			</div>
			<div class="layer-popup__content">
				<div class="layer-popup__address-box js-basics is-active">
					<ul class="layer-popup__list">
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
					</ul>
				</div><!-- //layer-popup__address-box -->
				<div class="layer-popup__address-box js-recently">
					<ul class="layer-popup__list">
						<li class="layer-popup__item">
							<p class="layer-popup__address">우리집/최용지 (기본)</p>
							<p class="layer-popup__address">서울 송파구 삼전동 23번지 햇빛빌라</p>
							<p class="layer-popup__address">010-1234-1234 / 02-123-1234</p>
							<a href="" class="layer-popup__item-btn">선택</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- popup2 끝 -->
