<!-- popup4 시작 -->
	<div class="layer-popup type-custom">
		<div class="layer-popup__responsive">
			<div class="layer-popup__header">
				<h2 class="layer-popup__tit">1일차 상품 선택</h2>
				<a href="" class="layer-popup__close js-popup-close">닫기</a>
			</div>
			<div class="layer-popup__content">
				<div class="layer-popup__wrap">
					<div class="prod_info type-wide">
						<a href="#" class="prod_img">
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_sub">(적립 19원)</span>
									</span>
								</span>
							</a>
						</div>
						<div class="prod_detail_bottom">
							<div class="counter__wrap fl_r">
								<p class="counter__tit">1회 배송수량</p>
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
						</div>
					</div>

				</div><!-- //layer-popup__wrap -->
				<div class="btn__group type-popup">
					<div class="btn__wrap">
						<span class="btn1 wd100p"><a href="" class="btn1__link type-5">선택완료</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- popup4 끝 -->
