<!-- tabbar1 시작 -->
	<div class="footer-fix is-active">
		<ul class="footer-fix__list">
			<li class="footer-fix__item"><a href="" class="footer-fix__link nth-1">QR스캔</a></li>
			<li class="footer-fix__item"><a href="" class="footer-fix__link nth-2">HOME</a></li>
			<li class="footer-fix__item"><a href="" class="footer-fix__link nth-3">MY풀무원</a></li>
			<li class="footer-fix__item"><a href="" class="footer-fix__link nth-4">주문/배송</a></li>
		</ul>
	</div>
<!-- tabbar1 끝 -->
