<!-- tabbar2 시작 -->
	<div class="buyfix">
		<div class="buytab">
			<div class="buytab__content">

				<div class="select3">
					<div class="select3__header">
						<p>함께구매하면 좋은 상품추가 </p>
					</div>
					<div class="select3__body">
						<ul class="select3__menu">
							<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
							<li>Berlin</li>
							<li>Melbourne</li>
							<li>New York</li>
							<li>Dresden1</li>
							<li>Dresden2</li>
							<li>Dresden3</li>
						</ul>
					</div>
				</div>
				<div class="buytab__option">
					<ul class="buytab__list">
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
					</ul>
					<div class="buytab__total">
						<p class="buytab__total-subject">구매 예정 금액</p>
						<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
					</div>
				</div>
			</div><!--//buytab__content-->
			<ul class="buytab__btn-list type-multi">
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">전화구매</a></li>
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">장바구니</a></li>
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">바로구매</a></li>
			</ul>
			<a href="" class="buytab__open" onclick="return false;"></a>
		</div>
	</div>
<!-- tabbar2 끝 -->
