
<%- include('../_inc/_header'); %>
<div class="layer-popup type-sns">
	<div class="layer-popup__header">
		<h2 class="layer-popup__tit">SNS공유</h2>
		<a href="" class="layer-popup__close js-popup-close">닫기</a>
	</div>
	<div class="layer-popup__content">
		<div class="layer-popup__sns">
			<a href="" class="layer-popup__link nth-1"></a>
			<a href="" class="layer-popup__link nth-2"></a>
			<a href="" class="layer-popup__link nth-3"></a>
			<a href="" class="layer-popup__link nth-4"></a>
		</div>
	</div>
</div>
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>상품정보
			<a href="" class="set__btn js-popup-open">설정</a>
		</h2>
	</div>
	<div class="prod__slide">
		<div class="swiper-wrapper">
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
			<div class="prod__item swiper-slide">
				<img src="../../images/content/prod_detail01.jpg" alt="신선농장 라이스 칩">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="detail__header">
		<div class="detail__tit">
			<h3>냉동실 속 건강한 간편 한 끼! [20%할인] 생산직송 영양밥세트 (2종,14인분)</h3>
		</div>
		<div class="detail__info">
			<dl class="detail__dl">
				<dt class="detail__dt type-line">판매가</dt>
				<dd class="detail__dd">
					<p class="detail__price">
						11,911,600<span class="detail__won">원</span><span class="detail__before">11,911,600<span>원</span></span><span class="detail__sale">30%</span>
					</p>
				</dd>
				<dt class="detail__dt">배송비</dt>
				<dd class="detail__dd">4만원 이상 무료배송</dd>
				<dt class="detail__dt">배송일</dt>
				<dd class="detail__dd">지금 결제시 <strong class="color01">04.25(월)도착</strong></dd>
				<dt class="detail__dt">브랜드</dt>
				<dd class="detail__dd">풀무원 <a href="" class="btn__set btn__allview">전체 상품보기</a></dd>
				<dt class="detail__dt">상품정보</dt>
				<dd class="detail__dd">냉장보관 / 1인분, 193g</dd>
				<dt class="detail__dt">쿠폰혜택</dt>
				<dd class="detail__dd">상품 10% 할인 쿠폰 <a href="" class="btn__set btn__down">받기</a></dd></dd>
			</dl>
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice01.jpg" alt="배송안내사항">
		</div>
		<div class="detail__banner">
			<img src="../../images/content/detail_notice02.jpg" alt="배송안내사항">
		</div>
	</div><!-- //detail__header -->
	<div class="detail__bottom">
		<div class="tab-v2" data-tab="true">
			<ul class="tab-v2__list">
				<li class="tab-v2__item is-active"><a href="#tab1" class="tab-v2__link" data-title="">상품정보</a></li>
				<li class="tab-v2__item"><a href="#tab2" class="tab-v2__link" data-title="">상품평 (111)</a></li>
				<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">상품문의(101)</a></li>
				<li class="tab-v2__item"><a href="#tab4" class="tab-v2__link" data-title="">배송/반품안내</a></li>
			</ul>
		</div><!-- //tab-v2 -->
		<div class="detail__content tab-content is-active" id="tab1">
			<div class="detail__content-set">
				<a href="" class="prod_set-btn">열기/닫기</a>
				<div class="content-set__wrap">
					<ul class="content-set__list">
						<li class="content-set__item">
							<div class="prod_info type-wide type-set">
								<a href="#" class="prod_img js-set"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
								<div class="prod_detail">
									<a href="#" class="js-set">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_num">2개</span>
										</span>
									</a>

								</div>
							</div>
						</li>
						<li class="content-set__item">
							<div class="prod_info type-wide type-set">
								<a href="#" class="prod_img js-set"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
								<div class="prod_detail">
									<a href="#" class="js-set">
										<span class="prod_detail_top">
											<span class="prod_tit">222222222222뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_num">2개</span>
										</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="detail__content-img">
				<img src="../../images/content/prod_detail_info01.jpg" alt="">
			</div>
			<div class="detail__box">
				<ul class="accordian1_list">
					<li class="accordian1_item">
						<div class="accordian1_item_header" tabindex="0">
							<div class="accordian1_item_header_wrap">
								<h3 class="accordian1_tit">상품 상세소개 (필수 표기정보)</h3>
							</div>
						</div>
						<div class="accordian1_item_body">
							<table class="tbl_ty01" summary="상품의 기본정보를 나타내는 표 입니다.">
								<colgroup>
									<col width="125px">
									<col width="auto">
								</colgroup>
								<tbody>
									<tr>
										<th>식품유형</th>
										<td>즉석조리식품</td>
									</tr>
									<tr>
										<th>제조원 및 생산자</th>
										<td>한우물영농조합법인</td>
									</tr>
									<tr>
										<th>소재지</th>
										<td>전북 김제시</td>
									</tr>
									<tr>
										<th>수입품의 경우 수입자</th>
										<td>해당사항 없음</td>
									</tr>
									<tr>
										<th>제조일자</th>
										<td>수령일 기준,45일 이내에 제조된 제품</td>
									</tr>
									<tr>
										<th>유통기한</th>
										<td>270일</td>
									</tr>
									<tr>
										<th>증량 및 구성</th>
										<td>4인분 (1039.2g) </td>
									</tr>
									<tr>
										<th>원재료 함량</th>
										<td>소맥분(밑 호주산, 미국산), 변성전분, 진한가쓰오액상 소스 16.94%,물엿, 가쓰오우동베이스 8%[고형분49.00%, 가쓰오키베이스35.00%</td>
									</tr>
									<tr>
										<th>유전자재조합식품 여부</th>
										<td>해당사항없음</td>
									</tr>
									<tr>
										<th>영유아식, 체중조절식품 표시광고 사전 심의필</th>
										<td>해당사항 없음</td>
									</tr>
									<tr>
										<th>유전자재조합식품 여부</th>
										<td>해당사항없음</td>
									</tr>
									<tr>
										<th>수입식품, 식품위생법에 따른 수입신고 여부</th>
										<td>해당사항 없음</td>
									</tr>
									<tr>
										<th>고객기쁨센터 연락처</th>
										<td>080-088-0085</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li class="accordian1_item">
						<div class="accordian1_item_header" tabindex="0">
							<div class="accordian1_item_header_wrap">
								<h3 class="accordian1_tit">상품 상세소개 (필수 표기정보)</h3>
							</div>
						</div>
						<div class="accordian1_item_body">
							<table class="tbl_ty01 type-row" summary="상품의 기본정보를 나타내는 표 입니다.">
								<colgroup>
									<col width="33.33%">
									<col width="33.33%">
									<col width="33.33%">
								</colgroup>
								<tbody>
									<tr>
										<th colspan="3" class="tbl_ty01__tit">1회 제공량 (212g) / 총 2회 (424g) 분량</th>
									</tr>
									<tr>
										<th>구분</th>
										<th>1회 제공량당 함량</th>
										<th>%영양성분 기준치</th>
									</tr>
									<tr>
										<td>열량</td>
										<td>365kcal</td>
										<td>46g</td>
									</tr>
									<tr>
										<td>탄수화물</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
									<tr>
										<td>식이섬유</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
									<tr>
										<td>당류</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
									<tr>
										<td>단백질</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
									<tr>
										<td>지방</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
									<tr>
										<td>포화지방</td>
										<td>999g</td>
										<td>999g</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div><!-- //detail__box -->
			<div class="detail__box">
				<div class="section__wrap">
					<h3 class="content__tit">카테고리 인기상품</h3>
					<ul class="main__content-list">
						<li class="main__content-item">
							<div class="prod_info">
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li>
						<li class="main__content-item">
							<div class="prod_info">
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>12,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li>
						<li class="main__content-item">
							<div class="prod_info">
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li>
						<li class="main__content-item">
							<div class="prod_info">
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>12,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //detail__content tab1-->
		<div class="detail__content tab-content" id="tab2">
			<div class="review">
				<div class="review__wrap">
					<h2 class="review__tit">총평점 10</h2>
					<span class="star_mark sc_0">구매만족도</span>
					<a href="" class="review__btn">상품평작성</a>
				</div>
			</div>
			<ul class="accordian2_list">
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<thead>
								<colgroup>
									<col width="auto">
									<col width="60px">
									<col width="80px">
								</colgroup>
							</thead>
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit review__file">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="star_mark_s sc_0">구매만족도 별0개</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요..맛
						과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~<br>
						정말 맛있는 아빠가 만들어도 맛있는 볶음면입니다.<br><br>
						<img src="../../images/temp/board_img01.jpg" alt="">
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="star_mark_s sc_0">구매만족도 별0개</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요..맛
						과 구성이 괜찮네요...더운 여름에 칼로리 걱정 없이 잘 먹었어요~<br>
						정말 맛있는 아빠가 만들어도 맛있는 볶음면입니다.<br><br>
						<img src="../../images/temp/board_img01.jpg" alt="">
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="section__wrap">
				<a href="#" class="review__more">더 보기</a>
			</div>
		</div><!-- //detail__content tab2-->
		<div class="detail__content tab-content" id="tab3">
			<div class="section__wrap">
				<a href="#" class="review__inquiry">상품문의</a>
			</div>
			<ul class="accordian2_list mt10">
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="accordias2_state">문의접수</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span><span class="accordian2_date">2016.09.13</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						<div class="accordian2_item_q">
							<p>국산콩으로 만든 유키농 두부인가요?</p>
						</div>
						<div class="accordian2_item_a">
							<h4>아직 답변이 등록되지 않았습니다.</h4>
							<p>아직 답변이 등록되지 않았습니다.</p>
						</div>
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
				<li class="accordian2_item">
					<div class="accordian2_item_header" tabindex="0">
						<table class="accordian2_table">
							<tbody>
								<tr>
									<th class="accordian2_th"><h3 class="accordian2_tit">국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부국산 콩 두부</h3></th>
									<td class="accordian2_td1 txt_c"><span class="accordias2_state">문의접수</span></td>
									<td class="accordian2_td2 txt_r"><span class="accordian2_id">Nana***</span><span class="accordian2_date">2016.09.13</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="accordian2_item_body">
						<div class="accordian2_item_q">
							<p>국산콩으로 만든 유키농 두부인가요?</p>
						</div>
						<div class="accordian2_item_a">
							<h4>아직 답변이 등록되지 않았습니다.</h4>
							<p>아직 답변이 등록되지 않았습니다.</p>
						</div>
						<div class="accordian2_item_bottom">
							<a href="" class="board__btn">수정</a>
							<a href="" class="board__btn">삭제</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="section__wrap">
				<a href="#" class="review__more">더 보기</a>
			</div>
		</div><!-- //detail__content tab3-->
		<div class="detail__content tab-content" id="tab4">
			<div class="detail__delivery">
				배송정책<br>
				배송비 3천원 (4만원 이상 주문시 무료배송)
			</div>
		</div><!-- //detail__content tab4-->
	</div><!-- //detail__bottom -->
	<div class="buyfix">
		<div class="buytab">
			<div class="buytab__content">
				<div class="select3">
					<div class="select3__header">
						<p>함께구매하면 좋은 상품추가 </p>
					</div>
					<ul class="select3__menu">
						<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
						<li>Berlin</li>
						<li>Melbourne</li>
						<li>New York</li>
						<li>Dresden1</li>
						<li>Dresden2</li>
						<li>Dresden3</li>
					</ul>
				</div>

				<div class="select3">
					<div class="select3__header">
						<p>함께구매하면 좋은 상품추가 </p>
					</div>
					<ul class="select3__menu">
						<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
						<li>Berlin</li>
						<li>Melbourne</li>
						<li>New York</li>
						<li>Dresden1</li>
						<li>Dresden2</li>
						<li>Dresden3</li>
					</ul>
				</div>

				<div class="select3">
					<div class="select3__header">
						<p>함께구매하면 좋은 상품추가 </p>
					</div>
					<ul class="select3__menu">
						<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
						<li>Berlin</li>
						<li>Melbourne</li>
						<li>New York</li>
						<li>Dresden1</li>
						<li>Dresden2</li>
						<li>Dresden3</li>
					</ul>
				</div>

				<div class="select3">
					<div class="select3__header">
						<p>함께구매하면 좋은 상품추가 </p>
					</div>
					<ul class="select3__menu">
						<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
						<li>Berlin</li>
						<li>Melbourne</li>
						<li>New York</li>
						<li>Dresden1</li>
						<li>Dresden2</li>
						<li>Dresden3</li>
					</ul>
				</div>
				<div class="buytab__option">
					<ul class="buytab__list">
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
					</ul>
					<div class="buytab__total">
						<p class="buytab__total-subject">구매 예정 금액</p>
						<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
					</div>
				</div>
			</div><!--//buytab__content-->
			<ul class="buytab__btn-list type-multi">
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">전화구매</a></li>
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">장바구니</a></li>
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">바로구매</a></li>
			</ul>
			<a href="" class="buytab__open" onclick="return false;"></a>
		</div>
	</div>
</div>
<%- include('../_inc/_footer'); %>
