
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="header__gnb">
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item is-active"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
</div>
<div class="section">
	<div class="main__content">
		<div class="section__wrap">
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="remind">
						<img src="../../images/main/remind01.jpg" alt="건강을 생각하는 맛있는 건강음식">
						<div class="remind__box">
							<p class="remind__txt">건강을 생각하는 <br><span>맛있는 건강음식</span></p>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="remind">
						<img src="../../images/main/remind02.jpg" alt="소중한 가족을 위한 신선한 달콤 디저트">
						<div class="remind__box">
							<p class="remind__txt">소중한 가족을 위한 <br><span>신선한 달콤 디저트</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- //main__content-->
	<div class="main__content type-border">
		<div class="section__wrap">
			<div class="main__sale">
				<h2 class="main__tit nth-1"><img src="../../images/main/main_tit01.gif" alt="오늘의 특가"><span class="main__sale-number">(1/7)</span></h2>
				<p class="main__sale-date">12월 16일 금요일</p>
				<div class="sale__wrap">
					<ul class="sale__list">
						<li class="sale__item">
							<div class="prod_info">
								<div class="sale__bg"></div>
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)1111</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li><!-- //sale__wrap-->
						<li class="sale__item">
							<div class="prod_info">
								<div class="sale__bg"></div>
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)2222</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li><!-- //sale__wrap-->
						<li class="sale__item">
							<div class="prod_info">
								<div class="sale__bg"></div>
								<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
								<div class="prod_detail">
									<a href="#">
										<span class="prod_detail_top">
											<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)3333</span>
											<span class="prod_price">
												<strong class="prod_price_now">
													<span>2,900</span>원
												</strong>
												<span class="prod_price_prev"><span>10,200</span>원</span>
											</span>
										</span>
									</a>
									<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
								</div>
							</div>
						</li><!-- //sale__wrap-->
					</ul>
					<a class="main__slide-btn main__btn-prev" id="main__btn-prev"></a>
					<a class="main__slide-btn main__btn-next" id="main__btn-next"></a>
				</div>
			</div>
		</div>
	</div><!-- //main-content -->
	<div class="main__content type-border">
		<div class="section__wrap">
			<h2 class="main__tit nth-11"><img src="../../images/main/main_tit11.gif" alt="모바일 특가"></h2>
			<ul class="content__list">
				<li class="content__item">
					<div class="prod_info type-wide">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="content__item">
					<div class="prod_info type-wide">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="content__item">
					<div class="prod_info type-wide">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul><!-- //content-list -->
		</div>
	</div>
</div>
<script>

</script>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
