
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>기획전 상세페이지
		</h2>
	</div>
	<div class="section__banner">
		<img src="../../images/content/section_top_banner01.jpg" alt="콩이 다른 두부 국산콩 순두부">
	</div>
	<div class="section__box txt_r">
		<div class="select__box wd120">
			<select class="js-default select1 select25">
				<option>테마전체보기</option>
				<option>작성자</option>
				<option>내용</option>
			</select>
		</div>
		<a href="" class="list__style" id="listbtn" onclick="return false"></a>
	</div>
	<div class="section__top">
		<h3 class="section__top-tit">우리아이 건강음료</h3>
		<a href="" class="section__top-btn fl_r">TOP</a>
	</div>
	<div class="section__bottom">
		<div class="section__wrap">
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="section__top">
		<h3 class="section__top-tit">우리아이 건강음료</h3>
		<a href="" class="section__top-btn fl_r">TOP</a>
	</div>
	<div class="section__bottom">
		<div class="section__wrap">
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- //section__wrap -->
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
