
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="header__gnb">
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item is-active"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
</div>
<div class="section">
	<div class="main__slide">
		<div class="swiper-wrapper">
			<div class="main__item swiper-slide">
				<img src="../../images/main/main_slider01.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁 9월 20일 (화)~상품 매진까지">
			</div>
			<div class="main__item swiper-slide">
				<img src="../../images/main/main_slider01.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁 9월 20일 (화)~상품 매진까지">
			</div>
			<div class="main__item swiper-slide">
				<img src="../../images/main/main_slider01.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁 9월 20일 (화)~상품 매진까지">
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<a class="main__slide-btn main__btn-prev" id="main__btn-prev"></a>
	  	<a class="main__slide-btn main__btn-next" id="main__btn-next"></a>
		<a class="main__btn-more"></a>
	</div>
	<div class="main__content mt15">
		<div class="section__wrap">
			<ul class="main__content-list">
				<li class="main__content-item">
					<h2 class="main__tit nth-1"><img src="../../images/main/main_tit01.gif" alt="오늘의특가"></h2>
					<p class="prod__date">12월 16일 금요일</p>
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<h2 class="main__tit nth-1"><img src="../../images/main/main_tit02.gif" alt="Time Sale"></h2>
					<p class="prod__date type-clock">02 : 30 : 30</p>
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- //section__wrap -->
	</div><!--main__content -->
	<div class="main__content">
		<img src="../../images/main/main_banner01.jpg" alt="건강한 하루의 시작 풀무원 녹즙 정기배송">
	</div>
	<div class="main__content">
		<a href="">
			<div class="main__banner-area">
				<div class="main__banner-img">
					한번의 클릭으로 결제까지
				</div>
				<a href="http://naver.com" class="main__banner-link">설정</a>
			</div>
		</a>
	</div>
	<div class="main__content type-border">
		<div class="section__wrap">
			<h2 class="main__tit nth-3"><img src="../../images/main/main_tit03.gif" alt="BEST 기획전"></h2>
			<div class="main__banner">
				<img src="../../images/main/main_banner03.jpg" alt="자연의 건강함을 담은 아임리얼 블렌딩 주스 5종">
			</div>
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="prod_info">
						<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>12,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
						</div>
					</div>
				</li>
			</ul><!-- //main__content-list -->
		</div>
	</div><!-- //main__content-->
	<div class="main__content type-border">
		<div class="section__wrap">
			<h2 class="main__tit nth-4 mb12"><img src="../../images/main/main_tit04.gif" alt=""></h2>
			<ul class="main__content-list">
				<li class="main__content-item">
					<div class="remind">
						<img src="../../images/main/remind01.jpg" alt="건강을 생각하는 맛있는 건강음식">
						<div class="remind__box">
							<p class="remind__txt">건강을 생각하는 <br><span>맛있는 건강음식</span></p>
						</div>
					</div>
				</li>
				<li class="main__content-item">
					<div class="remind">
						<img src="../../images/main/remind02.jpg" alt="소중한 가족을 위한 신선한 달콤 디저트">
						<div class="remind__box">
							<p class="remind__txt">소중한 가족을 위한 <br><span>신선한 달콤 디저트</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- //main__content-->
	<div class="main__content type-border">
		<div class="section__wrap">
			<h2 class="main__tit nth-5"><img src="../../images/main/main_tit05.gif" alt="이럴 때 딱! 추천상품"></h2>
			<div class="tab-v2 mt12" data-tab="true">
				<ul class="tab-v2__list">
					<li class="tab-v2__item is-active"><a href="#tab1" class="tab-v2__link" data-title="">아침음료</a></li>
					<li class="tab-v2__item"><a href="#tab2" class="tab-v2__link" data-title="">간편 간식</a></li>
					<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">추석선물</a></li>
					<li class="tab-v2__item"><a href="#tab4" class="tab-v2__link" data-title="">올림픽 시즌</a></li>
				</ul>
			</div><!-- //tab-v2 -->
			<div class="tab-content is-active" id="tab1">
				<h3 class="main__sub-tit">“바쁜 아침 음료 챙겨 드시고 건강 파워 업!”</h3>
				<ul class="main__content-list">
					<li class="main__content-item">
						<div class="prod_info">
							<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_price_prev"><span>10,200</span>원</span>
										</span>
									</span>
								</a>
								<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
							</div>
						</div>
					</li>
					<li class="main__content-item">
						<div class="prod_info">
							<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>12,900</span>원
											</strong>
											<span class="prod_price_prev"><span>10,200</span>원</span>
										</span>
									</span>
								</a>
								<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
							</div>
						</div>
					</li>
					<li class="main__content-item">
						<div class="prod_info">
							<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>2,900</span>원
											</strong>
											<span class="prod_price_prev"><span>10,200</span>원</span>
										</span>
									</span>
								</a>
								<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
							</div>
						</div>
					</li>
					<li class="main__content-item">
						<div class="prod_info">
							<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
							<div class="prod_detail">
								<a href="#">
									<span class="prod_detail_top">
										<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
										<span class="prod_price">
											<strong class="prod_price_now">
												<span>12,900</span>원
											</strong>
											<span class="prod_price_prev"><span>10,200</span>원</span>
										</span>
									</span>
								</a>
								<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="tab-content" id="tab2">
				간편간식
			</div>
			<div class="tab-content" id="tab3">
				추석선물
			</div>
			<div class="tab-content" id="tab4">
				올림픽시즌
			</div>
		</div>
	</div>
	<div class="main__content type-bg1">
		<div class="section__wrap">
			<h2 class="main__tit nth-6"><img src="../../images/main/main_tit06.gif" alt="늘 - 사랑받는 베스트셀러"></h2>
			<ul class="main__best-list">
				<li class="main__best-item">
					<p class="main__best-txt nth-1">두부</p>
				</li>
				<li class="main__best-item">
					<p class="main__best-txt nth-2">김치</p>
				</li>
				<li class="main__best-item">
					<p class="main__best-txt nth-3">나또</p>
				</li>
				<li class="main__best-item">
					<p class="main__best-txt nth-4">달걀</p>
				</li>
				<li class="main__best-item">
					<p class="main__best-txt nth-5">라면</p>
				</li>
				<li class="main__best-item">
					<p class="main__best-txt nth-6">만두</p>
				</li>
			</ul>
		</div>
		<div class="main__banner">
			<img src="../../images/main/main_banner04.jpg" alt="주말에는 여유롭게 풀무원 브런치 모음">
		</div>
	</div><!-- //main__content -->
	<div class="main__content type-border mt0">
		<div class="section__wrap">
			<h2 class="main__tit nth-7"><img src="../../images/main/main_tit07.gif" alt="실시간 리얼 상품평"></h2>
			<a href="" class="main__more">더보기</a>
			<div class="review__banner">
				내가 구매한 상품 상품평 등록하면 <span class="review__banner-point">적립금이 2배!</span>
				<a href="" class="review__banner-link">상품평적기</a>
			</div>
		</div>
	</div>
	<div class="main__content">
		<div class="section__wrap">
			<div class="main__board">
				<ul class="main__board-list">
					<li class="main__board-item">
						<h2 class="main__board-tit">[국산콩 두부]</h2>
						<p class="main__board-txt">다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.</p>
					</li>
					<li class="main__board-item">
						<h2 class="main__board-tit">[아빠가 만들어도 맛있는 볶음우동 데리야끼]</h2>
						<p class="main__board-txt">다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요. 다른 두부와 달리, 콩의 고소한 맛이 더욱 강하게 느껴지는것 같아요.  </p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main__content type-border">
		<div class="section__wrap">
			<h2 class="main__tit nth-8"><img src="../../images/main/main_tit08.gif" alt="맛있는 레시피"></h2>
			<a href="" class="main__more">더보기</a>
			<div class="recipe__list">
				<div class="swiper-wrapper">
					<div class="recipe__item swiper-slide"><img src="../../images/main/recipe_banner01.jpg" alt=""></div>
					<div class="recipe__item swiper-slide"><img src="../../images/main/recipe_banner01.jpg" alt=""></div>
					<div class="recipe__item swiper-slide"><img src="../../images/main/recipe_banner01.jpg" alt=""></div>
				</div>
				<a class="main__slide-btn main__btn-prev" id="recipe__btn-prev"></a>
				<a class="main__slide-btn main__btn-next" id="recipe__btn-next"></a>
			</div>
		</div>
	</div>
	<div class="main__content type-bg2">
		<div class="section__wrap">
			<h2 class="main__tit nth-9"><img src="../../images/main/main_tit09.gif" alt="늘 - 사랑받는 베스트셀러"></h2>
			<div class="brand__header">
				<a href="" class="brand__btn brand__btn-prev" id="brand__btn-prev">이전</a>
				<a href="" class="brand__btn brand__btn-next" id="brand__btn-next">다음</a>
				<div class="brand__logo-list brand__list" id="">
					<div class="swiper-wrapper">
						<div class="brand__logo-item swiper-slide"><img src="../../images/main/brend_logo01.jpg" alt="올가"></div>
						<div class="brand__logo-item swiper-slide"><img src="../../images/main/brend_logo01.jpg" alt="올가"></div>
						<div class="brand__logo-item swiper-slide"><img src="../../images/main/brend_logo01.jpg" alt="올가"></div>
					</div>
				</div>
			</div>
			<div class="brand__content brand__list" id="">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<ul class="main__content-list">
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>2,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>12,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
						</ul><!-- //main__content-list -->
					</div>
					<div class="swiper-slide">
						<ul class="main__content-list">
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>2,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>12,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
						</ul><!-- //main__content-list -->
					</div>
					<div class="swiper-slide">
						<ul class="main__content-list">
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>2,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
							<li class="main__content-item">
								<div class="prod_info">
									<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt="" /></a>
									<div class="prod_detail">
										<a href="#">
											<span class="prod_detail_top">
												<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
												<span class="prod_price">
													<strong class="prod_price_now">
														<span>12,900</span>원
													</strong>
													<span class="prod_price_prev"><span>10,200</span>원</span>
												</span>
											</span>
										</a>
										<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기" /></a>
									</div>
								</div>
							</li>
						</ul><!-- //main__content-list -->
					</div>
				</div>
			</div>
		</div>
	</div><!-- //main__content -->
	<div class="main__content mt12">
		<div class="section__wrap">
			<h2 class="main__tit nth-10"><img src="../../images/main/main_tit10.gif" alt="풀무원 더 알아보기"></h2>
			<ul class="more__list">
				<li class="more__item"><img src="../../images/main/link_icon1.jpg" alt="풀무원 스토리"></li>
				<li class="more__item"><img src="../../images/main/link_icon2.jpg" alt="브랜드 갤러리"></li>
				<li class="more__item"><img src="../../images/main/link_icon3.jpg" alt="맛있는 레시피"></li>
			</ul>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
