
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="header__gnb">
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item is-active"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
</div>
<div class="section">
	<div class="event__menu">
		<a href="" class="event__menu-btn is-active">진행중인 이벤트</a>
		<a href="" class="event__menu-btn">지난 이벤트</a>
	</div>
	<div class="event__content">
		<ul class="event__content-list">
			<li class="event__content-item">
				<a href="" class="event__content-link"><img src="../../images/main/event_banner01.jpg" alt="마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트"></a>
				<div class="event__content-box">
					<a href="" class="event__content-link"><h2 class="event__content-tit">마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트</h2></a>
					<p class="event__content-date">2016.07.01 ~ 2016.07.30 <span class="event__announcement">당첨자 발표완료</span></p>
				</div>
			</li>
			<li class="event__content-item">
				<a href="" class="event__content-link"><img src="../../images/main/event_banner02.jpg" alt="마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트"></a>
				<div class="event__content-box">
					<a href="" class="event__content-link"><h2 class="event__content-tit">마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트</h2></a>
					<p class="event__content-date">2016.07.01 ~ 2016.07.30 <span class="event__announcement">당첨자 발표완료</span></p>
				</div>
			</li>
			<li class="event__content-item">
				<a href="" class="event__content-link"><img src="../../images/main/event_banner03.jpg" alt="마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트"></a>
				<div class="event__content-box">
					<a href="" class="event__content-link"><h2 class="event__content-tit">마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트</h2></a>
					<p class="event__content-date">2016.07.01 ~ 2016.07.30 <span class="event__announcement">당첨자 발표완료</span></p>
				</div>
			</li>
			<li class="event__content-item">
				<a href="" class="event__content-link"><img src="../../images/main/event_banner04.jpg" alt="마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트"></a>
				<div class="event__content-box">
					<a href="" class="event__content-link"><h2 class="event__content-tit">마음을 전달하는 풀무원 가을맞이 곡물 기름 과일 선물세트</h2></a>
					<p class="event__content-date">2016.07.01 ~ 2016.07.30 <span class="event__announcement type-wait">당첨자 발표대기</span></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<script>
var cnt = 1
$('#listbtn').on('click',function(){

	if(cnt == 1){
		$('.prod_info').addClass('type-wide');
		$('.main__content-item').css('width','100%');
		cnt = 0
	}else{
		$('.prod_info').removeClass('type-wide');
		$('.main__content-item').css('width','50%');
		cnt = 1;
	}
});
</script>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
