
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>이벤트 상세페이지
		</h2>
	</div>
	<div class="section__banner">
		<img src="../../images/main/event_detail01.jpg" alt="">
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
