
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="header__gnb">
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item is-active"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
</div>
<div class="section">
	<ul class="plan__list">
		<li class="plan__item"><a href=""><img src="../../images/main/plan_banner01.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁"></a></li>
		<li class="plan__item"><a href=""><img src="../../images/main/plan_banner02.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁"></a></li>
		<li class="plan__item"><a href=""><img src="../../images/main/plan_banner03.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁"></a></li>
		<li class="plan__item"><a href=""><img src="../../images/main/plan_banner04.jpg" alt="자연이 주는 재료 그대로 풀무원 특별 건강 식탁"></a></li>
	</ul>
</div>
<script>
$('.sale__list').slick({
	centerMode: true,
	centerPadding: '120px',
	slidesToShow: 1,
	prevArrow: '#main__btn-prev',
	nextArrow: '#main__btn-next',
	responsive: [
    {
      breakpoint: 460,
      settings: {
        centerMode: true,
        centerPadding: '90px',
        slidesToShow: 1
      }
    },
    {
      breakpoint: 360,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
