
<%- include('../_inc/_header'); %>
<link rel="stylesheet" type="text/css" href="guide.css" />
<style>

</style>
<div class="guide">
	<div class="guide_link">
		<a href="guide.html">레이어</a>
	</div>
	<p class="g_tit">페이지 타이틀</p>
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>이벤트 상세페이지
		</h2>
	</div>

	<xmp>
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>이벤트 상세페이지
		</h2>
	</div>
	</xmp>
	<p class="g_tit">상품 가로형</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_price_prev"><span>10,200</span>원</span>
					</span>
				</span>
			</a>
			<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_price_prev"><span>10,200</span>원</span>
					</span>
				</span>
			</a>
			<a href="#" class="prod_btn_cart">
				<img src="../../images/btn_prod_cart.png" alt="장바구니 담기">
			</a>
		</div>
	</div>
	</xmp>
	<p class="g_tit">상품 가로형</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<div class="prod_check">
				<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
			</div>
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_price_prev"><span>10,200</span>원</span>
					</span>
				</span>
			</a>
			<div class="prod_btn-area">
				<div class="prod_btn prod_sale"><div class="prod_btn-wrap">40<span>%</span></div></div>
				<div class="prod_btn prod_present"><div class="prod_btn-wrap">증정</div></div>
				<div class="prod_btn prod_delivery"><div class="prod_btn-wrap">무료<br>배송</div></div>
				<div class="prod_btn prod_delivery"><div class="prod_btn-wrap">일일<br>배송</div></div>
			</div>
			<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
		</div>
	</div>
	<p class="g_tit">상품 세로형</p>
	<ul class="main__content-list">
		<li class="main__content-item">
			<div class="prod_info">
				<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
				<div class="prod_detail">
					<a href="#">
						<span class="prod_detail_top">
							<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
							<span class="prod_price">
								<strong class="prod_price_now">
									<span>2,900</span>원
								</strong>
								<span class="prod_price_prev"><span>10,200</span>원</span>
							</span>
						</span>
					</a>
					<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
				</div>
			</div>
		</li>
		<li class="main__content-item">
			<div class="prod_info">
				<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
				<div class="prod_detail">
					<a href="#">
						<span class="prod_detail_top">
							<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
							<span class="prod_price">
								<strong class="prod_price_now">
									<span>12,900</span>원
								</strong>
								<span class="prod_price_prev"><span>10,200</span>원</span>
							</span>
						</span>
					</a>
					<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
				</div>
			</div>
		</li>
	</ul>
	<xmp>
	<ul class="main__content-list">
		<li class="main__content-item">
			<div class="prod_info">
				<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
				<div class="prod_detail">
					<a href="#">
						<span class="prod_detail_top">
							<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
							<span class="prod_price">
								<strong class="prod_price_now">
									<span>2,900</span>원
								</strong>
								<span class="prod_price_prev"><span>10,200</span>원</span>
							</span>
						</span>
					</a>
					<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
				</div>
			</div>
		</li>
		<li class="main__content-item">
			<div class="prod_info">
				<a href="#" class="prod_img"><img src="../../images/temp/prod_img01.jpg" alt=""></a>
				<div class="prod_detail">
					<a href="#">
						<span class="prod_detail_top">
							<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
							<span class="prod_price">
								<strong class="prod_price_now">
									<span>12,900</span>원
								</strong>
								<span class="prod_price_prev"><span>10,200</span>원</span>
							</span>
						</span>
					</a>
					<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
				</div>
			</div>
		</li>
	</ul>
	</xmp>
	<p class="g_tit">tab 1</p>
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item is-active"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
	<xmp>
	<div class="tab-v1" data-tab="true">
		<ul class="tab-v1__list">
			<li class="tab-v1__item is-active"><a href="main_page1.html" class="tab-v1__link" data-title="">홈</a></li>
			<li class="tab-v1__item"><a href="main_page2.html" class="tab-v1__link" data-title="">풀샵특가</a></li>
			<li class="tab-v1__item"><a href="main_page3.html" class="tab-v1__link" data-title="">기획전</a></li>
			<li class="tab-v1__item"><a href="main_page4.html" class="tab-v1__link" data-title="">이벤트</a></li>
		</ul>
	</div><!-- //tab-v1 -->
	</xmp>
	<p class="g_tit">tab 2</p>
	<div class="tab-v2 mt12" data-tab="true">
		<ul class="tab-v2__list">
			<li class="tab-v2__item"><a href="#tab1" class="tab-v2__link" data-title="">아침음료</a></li>
			<li class="tab-v2__item is-active"><a href="#tab2" class="tab-v2__link" data-title="">간편 간식</a></li>
			<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">추석선물</a></li>
			<li class="tab-v2__item"><a href="#tab4" class="tab-v2__link" data-title="">올림픽 시즌</a></li>
		</ul>
	</div>
	<xmp>
	<div class="tab-v2 mt12" data-tab="true">
		<ul class="tab-v2__list">
			<li class="tab-v2__item"><a href="#tab1" class="tab-v2__link" data-title="">아침음료</a></li>
			<li class="tab-v2__item is-active"><a href="#tab2" class="tab-v2__link" data-title="">간편 간식</a></li>
			<li class="tab-v2__item"><a href="#tab3" class="tab-v2__link" data-title="">추석선물</a></li>
			<li class="tab-v2__item"><a href="#tab4" class="tab-v2__link" data-title="">올림픽 시즌</a></li>
		</ul>
	</div>
	</xmp>
	<p class="g_tit">tab 3</p>
	<div class="tab-v3">
		<a href="" class="tab-v3__link is-active">진행중인 이벤트</a>
		<a href="" class="tab-v3__link ">지난 이벤트</a>
	</div>
	<xmp>
	<div class="tab-v3">
		<a href="" class="tab-v3__link is-active">진행중인 이벤트</a>
		<a href="" class="tab-v3__link ">지난 이벤트</a>
	</div>
	</xmp>
	<p class="g_tit">tab 4</p>
	<div class="event__menu">
		<a href="" class="event__menu-btn is-active">진행중인 이벤트</a>
		<a href="" class="event__menu-btn">지난 이벤트</a>
	</div>
	<xmp>
	<div class="event__menu">
		<a href="" class="event__menu-btn is-active">진행중인 이벤트</a>
		<a href="" class="event__menu-btn">지난 이벤트</a>
	</div>
	</xmp>
	<p class="g_tit">주문금액</p>
	<div class="price">
		<p class="price__tit">총 주문 예정금액<span>(4개)</span></p>
		<p class="price__money">
			31,800<span>원</span>
		</p>
	</div>
	<xmp>
	<div class="price">
		<p class="price__tit">총 주문 예정금액<span>(4개)</span></p>
		<p class="price__money">
			31,800<span>원</span>
		</p>
	</div>
	</xmp>
	<p class="g_tit">전체선택 선택삭제</p>
	<div class="check__box">
		<input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">전체선택</label>
		<a href="" class="prod_btn2">선택상품 삭제</a>
	</div>
	<xmp>
	<div class="check__box">
		<input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">전체선택</label>
		<a href="" class="prod_btn2">선택상품 삭제</a>
	</div>
	</xmp>
	<p class="g_tit">4만원 이상 무료배송</p>
	<div class="delivery">
		<p class="delivery__tit">4만원이상 무료배송</p>
	</div>
	<xmp>
	<div class="delivery">
		<p class="delivery__tit">4만원이상 무료배송</p>
	</div>
	</xmp>
	<p class="g_tit">상품 체크박스 및 닫기버튼</p>
	<div class="prod_info type-wide type-close">
		<a href="#" class="prod_img">
			<div class="prod_check">
				<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
			</div>
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(적립 19원)</span>
					</span>
					<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
				</span>
			</a>
			<a href="" class="prod_btn-close">닫기</a>
		</div>
		<div class="prod_detail_bottom">
			<div class="counter__wrap">
				<div class="counter">
					<span class="counter_minus">수량 감소</span>
					<span class="counter_ipt">
						<input type="text" name="" id="" value="1">
					</span>
					<span class="counter_plus">수량 증가</span>
				</div>
			</div>
			<div class="prod__order">
				<span class="prod__order-txt">주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide type-close">
		<a href="#" class="prod_img">
			<div class="prod_check">
				<input type="checkbox" name="sl" id="test6" class="checkbox1"><label for="test6" class="solo">선택</label>
			</div>
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(적립 19원)</span>
					</span>
					<span class="prod_delivery-info">09/25 화요일 도착 예정</span>
				</span>
			</a>
			<a href="" class="prod_btn-close">닫기</a>
		</div>
		<div class="prod_detail_bottom">
			<div class="counter__wrap">
				<div class="counter">
					<span class="counter_minus">수량 감소</span>
					<span class="counter_ipt">
						<input type="text" name="" id="" value="1">
					</span>
					<span class="counter_plus">수량 증가</span>
				</div>
			</div>
			<div class="prod__order">
				<span class="prod__order-txt">주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	</xmp>
	<p class="g_tit">상품 기본?</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info">08/24 화요일 도착 예정</span>
				</span>
			</a>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info">08/24 화요일 도착 예정</span>
				</span>
			</a>
		</div>
	</div>
	</xmp>
	<p class="g_tit">상품평, 배송조회</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom type-none">
			<div class="prod__menu">
				<span class="prod__menu-border">
					<a href="" class="prod__menu-link">상품평쓰기</a>
				</span>
				<span class="prod__menu-border">
					<a href="" class="prod__menu-link">배송조회</a>
				</span>
			</div>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom type-none">
			<div class="prod__menu">
				<span class="prod__menu-border">
					<a href="" class="prod__menu-link">상품평쓰기</a>
				</span>
				<span class="prod__menu-border">
					<a href="" class="prod__menu-link">배송조회</a>
				</span>
			</div>
		</div>
	</div>
	</xmp>

	<p class="g_tit">취소</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom">
			<div class="prod__cancel">취소수량</div>
			<div class="counter__wrap">
				<div class="counter">
					<span class="counter_minus">수량 감소</span>
					<span class="counter_ipt">
						<input type="text" name="" id="" value="1">
					</span>
					<span class="counter_plus">수량 증가</span>
				</div>
			</div>
			<div class="prod__order">
				<span class="prod__order-txt">금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
		<div class="prod_detail_bottom">
			<div class="prod__cancel">취소사유</div>
			<div class="prod__select-wrap">
				<div class="prod__select wd50p">
					<div class="select__box wd100p">
						<select class="js-default select1 select30">
							<option>대분류</option>
							<option>작성자</option>
							<option>내용</option>
						</select>
					</div>
				</div>
				<div class="prod__select wd50p">
					<div class="select__box wd100p">
						<select class="js-default select1 select30">
							<option>대분류</option>
							<option>작성자</option>
							<option>내용</option>
						</select>
					</div>
				</div>
			</div><!-- //prod__select-wrap-->

		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom">
			<div class="prod__cancel">취소수량</div>
			<div class="counter__wrap">
				<div class="counter">
					<span class="counter_minus">수량 감소</span>
					<span class="counter_ipt">
						<input type="text" name="" id="" value="1">
					</span>
					<span class="counter_plus">수량 증가</span>
				</div>
			</div>
			<div class="prod__order">
				<span class="prod__order-txt">금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
		<div class="prod_detail_bottom">
			<div class="prod__cancel">취소사유</div>
			<div class="prod__select-wrap">
				<div class="prod__select wd50p">
					<div class="select__box wd100p">
						<select class="js-default select1 select30">
							<option>대분류</option>
							<option>작성자</option>
							<option>내용</option>
						</select>
					</div>
				</div>
				<div class="prod__select wd50p">
					<div class="select__box wd100p">
						<select class="js-default select1 select30">
							<option>대분류</option>
							<option>작성자</option>
							<option>내용</option>
						</select>
					</div>
				</div>
			</div><!-- //prod__select-wrap-->

		</div>
	</div>
	</xmp>
	<p class="g_tit">취소수량 텍스트</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom">
			<div class="prod__cancel type-num">취소수량<span>30</span></div>
			<div class="prod__order">
				<span class="prod__order-txt">총 주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">배송완료</strong><span>총 5회 정기배송</span></span>
				</span>
			</a>
		</div>

		<div class="prod_detail_bottom">
			<div class="prod__cancel type-num">취소수량<span>30</span></div>
			<div class="prod__order">
				<span class="prod__order-txt">총 주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	</xmp>
	<p class="g_tit">배송예정일 변경</p>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">결제완료</strong> 08.24(화) 도착예정</span>
				</span>
			</a>
		</div>
		<div class="prod_detail_bottom txt_r">
			<a href="" class="prod_btn2">선택상품 삭제</a>
		</div>
		<div class="prod_detail_bottom">
			<div class="prod__cancel type-num">취소수량<span>30</span></div>
			<div class="prod__order">
				<span class="prod__order-txt">총 주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	<xmp>
	<div class="prod_info type-wide">
		<a href="#" class="prod_img">
			<img src="../../images/temp/prod_img01.jpg" alt="">
		</a>
		<div class="prod_detail">
			<a href="#">
				<span class="prod_detail_top">
					<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
					<span class="prod_price">
						<strong class="prod_price_now">
							<span>2,900</span>원
						</strong>
						<span class="prod_sub">(수량 1개)</span>
					</span>
					<span class="prod_delivery-info"><strong class="color01">결제완료</strong> 08.24(화) 도착예정</span>
				</span>
			</a>
		</div>
		<div class="prod_detail_bottom txt_r">
			<a href="" class="prod_btn2">선택상품 삭제</a>
		</div>
		<div class="prod_detail_bottom">
			<div class="prod__cancel type-num">취소수량<span>30</span></div>
			<div class="prod__order">
				<span class="prod__order-txt">총 주문금액</span>
				<span class="prod__order-price">80,000<span class="prod__order-won">원</span></span>
			</div>
		</div>
	</div>
	</xmp>

	<p class="g_tit">구매하기 type-1</p>
	<div class="buytab">

		<div class="buytab__content">
			<div class="buytab__option">
				<h2 class="option__tit">9/25 화요일 도착 예정</h2>
				<ul class="buytab__list">
					<li class="buytab__item">
						<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
						<div class="buytab__box">
							<div class="counter__wrap">
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
							<div class="buytab__price">
								11,113,000<span class="buytab__price-won">원</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="buytab__total">
					<p class="buytab__total-subject">구매 예정 금액</p>
					<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
				</div>
			</div>
		</div>
		<ul class="buytab__btn-list">
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">구매하기</a></li>
		</ul>
		<a href="#" class="buytab__open"></a>
	</div>
	<xmp>
		<div class="buytab">

			<div class="buytab__content">
				<div class="buytab__option">
					<h2 class="option__tit">9/25 화요일 도착 예정</h2>
					<ul class="buytab__list">
						<li class="buytab__item">
							<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
							<div class="buytab__box">
								<div class="counter__wrap">
									<div class="counter">
										<span class="counter_minus">수량 감소</span>
										<span class="counter_ipt">
											<input type="text" name="" id="" value="1">
										</span>
										<span class="counter_plus">수량 증가</span>
									</div>
								</div>
								<div class="buytab__price">
									11,113,000<span class="buytab__price-won">원</span>
								</div>
							</div>
						</li>
					</ul>
					<div class="buytab__total">
						<p class="buytab__total-subject">구매 예정 금액</p>
						<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
					</div>
				</div>
			</div>
			<ul class="buytab__btn-list">
				<li class="buytab__btn-item"><a href="" class="buytab__btn-link">구매하기</a></li>
			</ul>
			<a href="#" class="buytab__open"></a>
		</div>
	</xmp>
	<p class="g_tit">구매하기 type-2</p>
	<div class="buytab">
		<div class="buytab__content">
			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>
			<div class="buytab__option">
				<ul class="buytab__list">
					<li class="buytab__item">
						<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
						<div class="buytab__box">
							<div class="counter__wrap">
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
							<div class="buytab__price">
								11,113,000<span class="buytab__price-won">원</span>
							</div>
						</div>
					</li>
					<li class="buytab__item">
						<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
						<div class="buytab__box">
							<div class="counter__wrap">
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
							<div class="buytab__price">
								11,113,000<span class="buytab__price-won">원</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="buytab__total">
					<p class="buytab__total-subject">구매 예정 금액</p>
					<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
				</div>
			</div>
		</div><!--//buytab__content-->
		<ul class="buytab__btn-list type-multi">
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">전화구매</a></li>
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">장바구니</a></li>
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">바로구매</a></li>
		</ul>
		<a href="" class="buytab__open" onclick="return false;"></a>
	</div>
	<xmp>
	<div class="buytab">
		<div class="buytab__content">
			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>

			<div class="select3">
				<div class="select3__header">
					<p>함께구매하면 좋은 상품추가 </p>
				</div>
				<ul class="select3__menu">
					<li>함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가 함께구매하면 좋은 상품추가함께구매하면 좋은 상품추가</li>
					<li>Berlin</li>
					<li>Melbourne</li>
					<li>New York</li>
					<li>Dresden1</li>
					<li>Dresden2</li>
					<li>Dresden3</li>
				</ul>
			</div>
			<div class="buytab__option">
				<ul class="buytab__list">
					<li class="buytab__item">
						<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
						<div class="buytab__box">
							<div class="counter__wrap">
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
							<div class="buytab__price">
								11,113,000<span class="buytab__price-won">원</span>
							</div>
						</div>
					</li>
					<li class="buytab__item">
						<h3 class="buytab__subject">목초먹고 자란 닭이 낳은 건강한 달걀 15구</h3>
						<div class="buytab__box">
							<div class="counter__wrap">
								<div class="counter">
									<span class="counter_minus">수량 감소</span>
									<span class="counter_ipt">
										<input type="text" name="" id="" value="1">
									</span>
									<span class="counter_plus">수량 증가</span>
								</div>
							</div>
							<div class="buytab__price">
								11,113,000<span class="buytab__price-won">원</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="buytab__total">
					<p class="buytab__total-subject">구매 예정 금액</p>
					<p class="buytab__total-price">4,456,000<span class="buytab__total-price-won">원</span></p>
				</div>
			</div>
		</div><!--//buytab__content-->
		<ul class="buytab__btn-list type-multi">
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">전화구매</a></li>
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">장바구니</a></li>
			<li class="buytab__btn-item"><a href="" class="buytab__btn-link">바로구매</a></li>
		</ul>
		<a href="" class="buytab__open" onclick="return false;"></a>
	</div>
	</xmp>
</div>
<script>

</script>
<%- include('../_inc/_footer'); %>
