
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>비회원 주문/배송 조회
		</h2>
	</div>
	<div class="nonmember">
		<div class="nonmember__box">
			<h3 class="nonmember__tit">주문/배송 조회를 위해<br> 주문번호와 주문자명을 입력해주세요.</h3>
			<p class="input__box mt15"><input type="text" class="input2 wd100p" placeholder="주문번호"></p>
			<p class="input__box"><input type="text" class="input2 wd100p" placeholder="주문자명"></p>
			<a href="" class="green__btn green__btn1 mt15">주문/배송조회</a>
		</div>
		<div class="nonmember__box">
			<a href="" class="green__btn green__btn1 mt15"><span class="nonmember__cs">고객기쁨센터</span></a>
			<ul class="info">
				<li class="info__item">
					주문/배송 조회 확인이 어려우실 경우, 풀무원SHOP고객기쁨센터 (080-022-0086)로 문의 주시면 친절히 안내해드리겠습니다.
				</li>
			</ul>
		</div>
		<div class="nonmember__benefit">
			<div class="nonmember__benefit-tit">
				<div class="nonmember__wrap">
					풀무원샵 회원만의 특별한 혜택
				</div>
			</div>
			<ul class="nonmember__list">
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-1">
							<h4 class="nonmember__item-tit">회원가입시 쿠폰발급</h4>
							<p class="nonmember__item-txt">회원가입 시 3,000원 할인쿠폰이 발급됩니다.</p>
						</div>
					</div>
				</li>
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-2">
							<h4 class="nonmember__item-tit">적립금 혜택</h4>
							<p class="nonmember__item-txt">상품 구매 시 적립금을 자동 지급해드리며, 상품 구매 시 사용 가능합니다. </p>
						</div>
					</div>
				</li>
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-3">
							<h4 class="nonmember__item-tit">다양한 상품 및 이벤트</h4>
							<p class="nonmember__item-txt">특가 상품, 정기배달/일일배달 상품 등 다양한 상품과 기획전/이벤트 등의 푸짐한 쇼핑혜택을 만나보실 수 있습니다.</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="nonmember__wrap mt15">
				<div class="btn__wrap">
					<span class="btn1 wd100p"><a href="" class="btn1__link type-3">회원가입</a></span>
				</div>
			</div>
		</div><!-- //nonmember__benefit -->
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
