
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>회원/비회원 주문배송 확인
		</h2>
	</div>
	<div class="nonmember">
		<div class="nonmember__box">
			<h3 class="nonmember__tit">풀무원SHOP 회원 주문 확인<br> 또는 비회원 주문 확인을 선택해주세요.</h3>
			<div class="nonmember__wrap mt15">
				<a href="" class="green__btn green__btn1 mt15">풀무원SHOP 회원 주문 확인</a>
				<a href="" class="green__btn green__btn1">비회원 주문 확인</a>
			</div>
		</div>
		<div class="nonmember__benefit">
			<div class="nonmember__benefit-tit">
				<div class="nonmember__wrap">
					풀무원샵 회원만의 특별한 혜택
				</div>
			</div>
			<ul class="nonmember__list">
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-1">
							<h4 class="nonmember__item-tit">회원가입시 쿠폰발급</h4>
							<p class="nonmember__item-txt">회원가입 시 3,000원 할인쿠폰이 발급됩니다.</p>
						</div>
					</div>
				</li>
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-2">
							<h4 class="nonmember__item-tit">적립금 혜택</h4>
							<p class="nonmember__item-txt">상품 구매 시 적립금을 자동 지급해드리며, 상품 구매 시 사용 가능합니다. </p>
						</div>
					</div>
				</li>
				<li class="nonmember__item">
					<div class="nonmember__item-wrap">
						<div class="nonmember__img nth-3">
							<h4 class="nonmember__item-tit">다양한 상품 및 이벤트</h4>
							<p class="nonmember__item-txt">특가 상품, 정기배달/일일배달 상품 등 다양한 상품과 기획전/이벤트 등의 푸짐한 쇼핑혜택을 만나보실 수 있습니다.</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="nonmember__wrap mt15">
				<div class="btn__wrap">
					<span class="btn1 wd100p"><a href="" class="btn1__link type-3">회원가입</a></span>
				</div>
			</div>
		</div><!-- //nonmember__benefit -->
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
