@charset "utf-8";
@import "mixin";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic);

@include font-face('Nanum Gothic','../fonts/NanumGothic-Light',100,normal,eot woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-Regular',400,normal,eot woff2 woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-Bold',700,normal,eot woff2 woff);
@include font-face('Nanum Gothic','../fonts/NanumGothic-ExtraBold',900,normal,eot woff2 woff);

body,
input,
textarea,
select,
button { line-height:1.3; color:$black-tit; font-size:13px; font-family:'Nanum Gothic',sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0); vertical-align:middle; }
img { border:0; vertical-align:top; }
a { background-color:transparent; }

strong { font-weight:$bold; }

.font-light { font-weight:$light; }
.font-normal { font-weight:$normal; }
.font-bold { font-weight:$bold }
.link {
	&:link,
	&:visited,
	&:active { color:inherit; text-decoration:none; }
	&:hover { text-decoration:underline; }
}
.color-black-tit { color:$black-tit; }
.color-black-body { color:$black-body; }
.color-transparent { color:transparent;}
.color-purple { color:$purple; }
.color-red { color:$red; }
.inline-block { display:inline-block; white-space:nowrap; }
.fieldset { border:none; margin:0; padding:0; }
