@charset "utf-8";
@import "mixin";

.form-box {display:table; width:100%;
	&_justify { display:block; text-align:justify; margin-bottom:-36px; line-height:32px; font-size:0;
		&:after { display:inline-block; width:100%; content:''; }
	}
	&_next { margin-top:6px; }
	&__item { display:table-cell;
		&_date { display:inline-block;
			&:after { display:inline-block; content:attr(data-date); width:2em; text-align:center; }
			&[data-date='년도']:after { width:3em; }
		}
	}
	&_justify &__item { display:inline-block; margin-left:0; font-size:13px; }
	@media only screen and (max-width:$mobile-size) {
		&__item { vertical-align:middle;
			&_date { display:table-cell; padding-right:2em; width:30%;
				&:after { float:right; margin-right:-2em; line-height:32px; }
				&[data-date='년도'] { padding-right:3em; width:40%;
					&:after { margin-right:-3em; }
				}
			}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		&__item_t-block { display:block; }
	}
}

.input-v1 { box-sizing:border-box; height:32px; padding:7px 10px; border:1px solid #dedfde; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&_w100p { width:100%; }
	&_w50 { width:50px; }
	&_w100 { width:100px; }
	&_w200 { width:200px; }
	&_year { width:4.4em; }
	&_month { width:3em; }
	&_date { width:3em; }
	&_age { width:3em; }
	@media only screen and (max-width:$mobile-size) {
		&_m-full { width:100%; }
		&_w200.input-v1_m-half { width:100px; }
	}

}

.textarea-v1 { overflow:auto; box-sizing:border-box; padding:7px 10px; border:1px solid #dedfde; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&_w100p { width:100%; }
}

.checkbox-set-v1 { display:inline-block;
	&+& { margin-left:10px; }
	@media only screen {
		line-height:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { position:relative; display:inline-block; width:16px; height:16px; vertical-align:middle;
			&:before { position:absolute; top:-1px; left:0; bottom:0; box-sizing:border-box; display:inline-block; width:16px; height:16px; border:1px solid #aaa; background-color:#fff; content:''; }
		}
		&__input:focus+&__ico:before { @include box-shadow(inset, 0, 0, 2px, rgba(0, 0, 0, 0.1));}
		&__input:checked+&__ico:after { position:absolute; top:-2px; left:5px; bottom:0; width:6px; height:6px; margin:auto; background-color:#5f5f5f; content:''; }
	}
	@media only screen and (max-width:$mobile-size) {
		line-height:24px;
		&__ico { width:24px; height:24px;
			&:before { width:24px; height:24px; }
		}
		&__input:checked+&__ico:after { left:7px; width:10px; height:10px; }
	}
}

.radio-set-v1 { display:inline-block;
	&+& { margin-left:10px; }
	@media only screen {
		line-height:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { position:relative; display:inline-block; width:16px; height:16px; vertical-align:middle;
			&:before { position:absolute; top:-1px; left:0; bottom:0; box-sizing:border-box; display:inline-block; width:16px; height:16px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; content:''; }
		}
		&__input:focus+&__ico:before { @include box-shadow(inset, 0, 0, 2px, rgba(0, 0, 0, 0.2));}
		&__input:checked+&__ico:after { position:absolute; top:-2px; left:5px; bottom:0; width:6px; height:6px; margin:auto; border-radius:50%; background-color:#5f5f5f; content:''; }
	}
	@media only screen and (max-width:$mobile-size) {
		line-height:20px;
		&__ico { width:20px; height:20px;
			&:before { width:20px; height:20px; }
		}
		&__input:checked+&__ico:after { left:6px; width:8px; height:8px; }
	}
}

.upload-set-v1 { box-sizing:border-box; display:inline-block; position:relative; height:32px;
	&_w100p { width:100%; }
	&_thumb { padding-left:31px; }
	&__input { width:100%; padding-right:150px; }
	&__wrap { display:inline-block; overflow:hidden; position:absolute; top:0; right:0; width:140px; height:32px; vertical-align:middle; background-color:#8c8a8c;
		&:before { content:attr(data-value); box-sizing:border-box; position:absolute; left:0; top:0; right:0; bottom:0; height:1.3em; margin:auto;  color:#fff; font-weight:$bold; text-align:center; line-height:1.3; }
	}
	&__btn { }
	&__file { position:absolute; top:0; right:0; height:100%; font-size:45px; opacity:0;  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor:pointer; }
	@media only screen and (max-width:$mobile-size) {
		&__input { padding-right:70px; }
		&__wrap { width:60px; }
	}
}

.upload-display { overflow:hidden; box-sizing:border-box; position:absolute; top:0; left:0; width:32px; height:32px; border:1px solid #dedfde; }
.upload-thumb { position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; max-width:100%; }


.required-v1 { display:inline-block; position:relative; left:-0.8em; width:0; text-indent:-999em;
	&:before { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;  content:'*'; color:#61409b; font-weight:$normal; text-indent:0; }
	@media only screen and (max-width:$mobile-size) {
		left:-0.6em;
	}
}
