@charset "utf-8";
@import "font";
@import "flexbox";
//var
$mobile-size:668px;
$tablet-size:1023px;
$site-width:1000px;

$black-tit:#222;
$black-body:#676767;
$green:#44b134;
$purple:#61409b;
$red:#f64c47;

$light:100;
$normal:400;
$bold:700;


//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
    background-image: url($file + '.' + $type);
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx){
        & {
            background-image: url($file + '@2x.' + $type);
            -webkit-background-size: $width $height;
            -moz-background-size: $width $height;
            -o-background-size: $width $height;
            background-size: $width $height;
        }
    }
}

@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($line) { display:block; display:-webkit-box; -webkit-box-orient:vertical; text-overflow: ellipsis; -webkit-line-clamp:$line; white-space:normal; }
@mixin ellipsis($h) { position:relative;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$h; background:url(../images/module/board-magazine-v1-bg.png) repeat-y right bottom; content:''; }
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}
