@charset "utf-8";
@import "mixin";
.ico-set {
	&:before { display:inline-block; @include background-image-retina('../images/common/ico-set','png',100px,50px); vertical-align:middle; content:''; }
	&_arr-r1 {
		&:before { width:6px; height:10px; background-position:0 -10px; margin-top:-2px; }
	}
	&_arr-r2 {
		&:before { width:6px; height:5px; }
	}
}

.tit-v1 { margin:0 0 15px 0; font-weight:$bold; font-size:24px; line-height:1.1;
	&_next { margin-top:40px; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:15px;
		&_next { margin-top:20px; }
	}
}

.para-v1 { margin:0; line-height:1.5; color:$black-body;
	&_next { margin-top:20px; }
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&_next { margin-top:15px; }
	}
}

.para2 { margin:0; line-height:1.5; color:#8c8a8c; font-size:12px; }

.btn-v1 { box-sizing:border-box; height:50px; padding:0; margin:0; border:2px solid #3f3f3f; background-color:#fff; color:#3f3f3f; font-size:16px; font-weight:$bold; cursor:pointer;
	&+& { margin-left:6px; }
	&_w200 { width:200px; }
	&_negative { border:1px solid #e7e3e7; background-color:#f9f9f9; }
	@media only screen and (max-width:$mobile-size) {
		height:40px;
		&_w200 { width:100px; }
	}
}

.btn-v2 { display:inline-block; box-sizing:border-box; margin:0; padding:5px 12px; border:1px solid #9e9e9e; background-color:#fff;  font-size:13px; color:$black-tit; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$bold; vertical-align:middle; cursor:pointer;
	@media only screen and (max-width:$mobile-size) {
		font-size:12px;
	}
}

.tab-v1 {
	$this:&;
	$item:#{$this}__item;
	&__list { margin:0; padding:0; list-style:none; border-collapse:collapse; }
	&__item { box-sizing:border-box; display:table-cell; width:1%; height:50px; border:1px solid #d5d5d5; background-color:#f8f8f8; color:$black-tit; font-size:16px; text-align:center; vertical-align:middle;
		&.on { border-top:none; border-bottom:none; background-color:#fff; }
	}
	&__link { box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle;
		#{$item}.on & { border-top:3px solid #222; padding-bottom:3px; font-weight:$bold; }
	}
	&__btn-toggle { display:none; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) {
		&__list { display:none; position:absolute; z-index:5000; }
		&__item { display:block; width:auto; height:40px; border-top:1px solid #fff; background-color:#dcdcdc; font-size:16px; text-align:left;
			&:first-child { border-top:none; }
			&.on { border-top:1px solid #fff; background-color:#dcdcdc; }
		}
		&__link { padding:10px;
			#{$item}.on & { border-top:none; padding:10px; font-weight:$normal; }
		}
		&__btn-toggle { position:relative; box-sizing:border-box; display:block; width:100%; height:40px; margin:0; padding:10px 36px 10px 10px; border:none; background-color:#222; color:#fff; font-size:16px; text-align:left;
			&:before,
			&:after { position:absolute; top:0; bottom:0; right:10px; height:0; margin:auto; border-width:8px 8px 0 8px; border-style:solid; content:'';  }
			&:before { border-color:#fff transparent transparent transparent;  }
			&:after { top:-4px; border-color:#222 transparent transparent transparent;  }
		}
	}
	@media only screen and (min-width:$tablet-size+1) {
		&__list { display:block !important; }
	}
}

.tab-v2 { margin:0; padding:0; list-style:none; font-size:0;
	$this:&;
	$item:#{$this}__item;
	&_next { margin-top:30px; }
	&__item { display:inline-block; margin-left:30px; color:$black-body; font-size:14px; font-weight:$bold;
		&:first-child { margin-left:0; }
		&.on { color:$black-tit; }
		&:before { box-sizing:border-box; position:absolute; z-index:-1; display:inline-block; width:16px; height:16px; margin-top:1px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; content:''; vertical-align:middle; }
	}
	&__link { display:block; padding-left:20px; color:inherit; text-decoration:none;
		#{$item}.on &:before { position:absolute; width:6px; height:6px; margin:6px 0 0 -15px; border-radius:50%; background-color:#5f5f5f; content:''; }
	}
}

.edge-box { margin-bottom:5px; text-align:right; }

/* List */
.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$mobile-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}

/* Pagination */
.pagination-v1 { overflow:hidden; position:relative; margin-top:40px; text-align:center; font-size:0;
	&__info { display:none; line-height:34px; color:#999; font-size:13px; }
	&__location { color:$black-tit;}
	&__group { display:inline-block; text-align:center; vertical-align:middle; }
	&__item { box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
		&.on { border-color:#8c8a8c; background-color:#8c8a8c; color:#fff; }
		@mixin ico ($position) { overflow:hidden; position:relative; width:34px; text-indent:-1000em;
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:9px; margin:auto; @include background-image-retina('../images/module/pagination-v1-ico','png',22px,18px); background-repeat:no-repeat; background-position:$position; content:''; }
		}
		&_home { @include ico(0 0) }
		&_end { @include ico(100% 100%) }
		&_before { display:none; @include ico(100% 0) }
		&_after { display:none; @include ico(0 100%) }
		&_prev { @include ico(100% 0) }
		&_next { @include ico(0 100%) }
	}
	@media only screen and (max-width:$mobile-size) {
		margin-top:20px;
		&__info { position:absolute; top:0; left:0; right:0; display:block; }
		&__group { display:none; position:relative; z-index:10;
			&_prev { display:block; float:left; margin-left:-4px; }
			&_next { display:block; float:right; margin-right:-4px; }
		}
		&__item { box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 4px; border:1px solid #e6e6e6; font-size:12px; color:#999; text-decoration:none; line-height:32px;
			&_before,
			&_after { display:inline-block; }
			&_prev,
			&_next { display:none; }
		}
	}
}

/* Board News */
.board-headline-v1 { overflow:hidden; margin-bottom:20px; line-height:1.5; color:$black-body;
	&__item { }
	&__img-wrap { overflow:hidden; float:left; position:relative; width:320px; height:180px; border:1px solid #dedfde; margin-right:30px; }
	&__txt-wrap { overflow:hidden; height:180px; @include ellipsis(22px); }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { overflow:hidden; margin-bottom:5px; font-size:24px; color:$black-tit; font-weight:$bold; line-height:1.3; white-space:nowrap; text-overflow:ellipsis; }
	&__edge { color:#999; }
	&__summary { clear:both; overflow:hidden; height:9em; margin-top:20px; line-height:1.65; }
	@media only screen and (max-width:$mobile-size) {
		&__img-wrap { float:none; width:auto; height:0; margin-right:0; margin-bottom:10px; padding-bottom:56.2%; }
		&__txt-wrap { height:auto; }
		&__img { width:100%; }
		&__tit { font-size:15px; margin-bottom:10px; }
		&__summary { @include line-clamp(6); margin-top:10px; line-height:1.5; }
	}
}

.board-headline-v2 { overflow:hidden; color:$black-body; line-height:1.5; margin-bottom:50px;
	$this:&;
	&_another { }
	&__item { margin-left:-20px; }
	@include img-wrap();
	&__img-wrap { float:left; box-sizing:border-box; width:66.66%; height:380px; margin-right:20px; padding-left:20px;
		#{$this}_another & { height:480px; }
	}
	&__wrap { position:relative;height:100%; }
	&__img {
		&_video { width:100%; height:100%; }
	}
	&__txt-wrap { overflow:auto; display:block; @include flexbox; @include flex-direction(column); height:380px;
		#{$this}_another & { height:480px; }
	}
	&__tit { font-size:20px; color:$black-tit; font-weight:$bold; }
	&__edge { margin-top:5px; color:#999; }
	&__summary { overflow:auto; margin-top:30px; text-align:justify; }
	@media only screen and (max-width:$tablet-size) { margin-bottom:25px;
		&__item { margin-left:0; }
		&__img-wrap { float:none; width:auto; height:0; padding-bottom:57.62%; margin-right:0; padding-left:0;
			#{$this}_another & { height:auto; padding-bottom:75%; }
		}
		&__txt-wrap { height:auto; margin-top:15px;
			#{$this}_another & { height:auto; }
		}
		&__wrap { position:static; }
		&__tit { font-size:13px; }
		&__summary { height:9em; margin-top:15px; }

	}
}

/* Board List */
.board-list-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8C8A8D; border-bottom:1px solid #8c8a8c; white-space:nowrap; line-height:1.5;
	&__th { box-sizing:border-box; height:50px; padding:5px 10px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; }
	&__td { overflow:hidden; box-sizing:border-box; height:50px; padding:5px 10px; border-top:1px solid #dedfde; text-align:center; text-overflow:ellipsis; color:$black-body;
		&_align-left { text-align:left; }
		&_wrap { white-space:normal;}
		&_break-all { word-break:break-all;}
	}
	&__link { display:inline-block; text-overflow:ellipsis; vertical-align:middle; height:1.5em; white-space:normal; overflow:hidden; color:inherit; text-decoration:none;
		&:hover,
		&:focus  { text-decoration:underline; }
	}
	@media only screen and (max-width:$tablet-size) {
		display:block; position:relative; border-top-width:1px;
		&:before { position:absolute; z-index:10; top:0; left:0; right:0; border-top:1px solid #8C8A8D; content:''; }
		thead, tbody, tr { display:block; }
		tr { overflow:hidden; position:relative; }
		&__th { display:none; }
		&__td { height:auto; padding:10px 0; font-size:12px;
			&:before {  content:attr(data-title); }
		}
		&__m-hide { display:none; }
		&__m-tit { float:left; width:100%; display:block; font-weight:$bold; font-size:13px; }
		&__m-left { float:left; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__m-right { float:right; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__link {
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; content:''; }
			&:hover,
			&:focus  { text-decoration:none; }
		}
	}
}

.board-list-v2 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
	}
	&__header { padding:15px 20px; }
	&__body { padding:12px 20px; border-top:1px dashed #dedfde; }
	&__cell { display:table-cell; vertical-align:middle;
		&_edge { width:1%; padding-left:10px; }
	}
	&__tit { margin:0; color:$black-tit; height:1.3em; overflow:hidden; @include ellipsis(18px);
		&_notice { font-weight:$bold; }
	}
	&__summary { overflow:hidden; height:3em; margin:0; line-height:1.5; vertical-align:middle; @include ellipsis(18px) }
	&__btn { box-sizing:border-box; display:inline-block; width:120px; height:30px; padding:6px 0; border:1px solid #ddd; background-color:#fff; text-align:center; text-decoration:none; color:inherit; }
	@media only screen and (max-width:$mobile-size) { font-size:12px;
		&__header { padding:8px 0; }
		&__body { padding:5px 0; }
		&__link { display:inline-block; width:100%; }
	}
}

/* Board Magazine */
.board-magazine-v1 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.5;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
	}
	&__link { overflow:hidden; display:block; padding:20px 0; color:$black-body; text-decoration:none;
		&:hover {

		}
	}
	&__img-wrap { overflow:hidden;float:left; position:relative; width:200px; height:100px; border:1px solid #dedfde; margin-right:35px; }
	&__txt-wrap { overflow:hidden; position:relative; height:100px; @include ellipsis(22px); }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { display:table-cell; padding-bottom:15px; font-size:16px; color:$black-tit; font-weight:$bold; }
	&__edge { display:table-cell; width:1%; padding-left:10px; color:#999; text-align:right; }
	&__summary { clear:both; overflow:hidden; height:4.5em; text-align:justify; }
	@media only screen and (max-width:$mobile-size) { line-height:1.3;
		&__link { padding-top:15px; padding-bottom:15px; }
		&__img-wrap { width:100px; height:50px; margin-right:10px; }
		&__txt-wrap { height:50px;
			&:after { display:none; }
		}
		&__tit { overflow:hidden; display:block; position:relative; height:2.6em; padding-bottom:0; font-size:13px; @include ellipsis(18px); }
		&__edge { display:block; position:absolute; bottom:-3px; left:0; width:auto; padding-left:0; font-size:12px; }
		&__summary { display:none; }
	}
}

/* Board Gallery */
.board-gallery-v1 { overflow:hidden; position:relative; margin:0 0 0 -20px; padding:0; list-style:none; color:$black-body; line-height:1.3;
	&:before { display:block; margin-left:20px;border-top:1px solid #ddd; content:'' }
	&__item { box-sizing:border-box; float:left; width:33.33333%; margin-top:30px; padding-left:20px; }
	&__link { overflow:hidden; display:block; text-decoration:none; color:inherit; }
	&__img-wrap { box-sizing:border-box; height:0; padding-bottom:56.25%; border:1px solid #ddd; }
	@include img-wrap;
	&__txt-wrap { overflow:hidden; margin-top:15px; white-space:nowrap; text-overflow:ellipsis; }
	@media only screen and (max-width:$mobile-size) { margin-left:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
		&:before { display:none; }
		&__item { float:none; width:auto; margin-top:0; padding:15px 0; border-top:1px solid #dedfde;
			&:first-child { border-top:none; }
		}
		&__img-wrap { float:left; width:87px; height:50px; margin-right:10px; padding-bottom:0; }
		&__txt-wrap { overflow:hidden; margin-top:0; @include line-clamp(2); height:3em; line-height:1.5; font-weight:$bold; }
	}
}

/* Board View */
.board-view-v1 { border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__header { border-bottom:1px solid #dedfde; @include block; }
	&__body { padding:30px 50px; text-align:justify; line-height:1.5;
		img, object,embed { max-width:100%; }
	}
	&__footer { border-top:1px solid #8c8a8c; }
	&__tit { border-bottom:1px solid #8c8a8c; margin:0 0 -1px 0; padding:14px 10px; font-size:16px; line-height:1.3125; color:$black-tit;}
	&__etc { margin-top:1px; padding:17px 10px;
		&_l { float:left; }
		&_r { float:right; }
	}
	&__prev,
	&__next { overflow:hidden; box-sizing:border-box; position:relative; height:50px; padding:17px 10px 17px 50px; white-space:nowrap; text-overflow:ellipsis;
		&:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; @include background-image-retina('../images/module/board-view-v1-ico','png',12px,14px); background-repeat:no-repeat; content:''; }
	}
	&__next { border-top:1px solid #dedfde;
		&:before { background-position:0 -7px; }
	}

	@media only screen and (max-width:$mobile-size) {
		&__body { padding:15px 0; }
		&__tit { font-size:13px; padding:6px 0; line-height:1.3; }
		&__etc { padding:7px 0; font-size:12px; }
		&__prev,
		&__next { height:30px; padding:6px 10px 6px 30px;
			&:before { left:10px; }
		}
	}
}

/* Table */
.table-row-v1 { width:100%; position:relative; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; border-collapse:collapse; color:$black-body;
	&__th { padding:16px 28px; border-top:1px solid #e7e3e7; background-color:#f9f9f9; color:$black-tit; vertical-align:top; text-align:left; font-weight:$bold; /* white-space:nowrap;  */}
	&__td { padding:9px 19px; border-top:1px solid #e7e3e7; }
	&__th+&__td,
	&__td+&__th { border-left:1px solid #e7e3e7; }

	@media only screen { border-top:1px solid #8c8a8c; border-bottom:none;
		&:before { display:table; position:absolute; top:0; left:0; width:100%; border-top: 2px solid #8c8a8c; content: '';}
		&:after { display:table; position:absolute; bottom:0; left:0; width:100%; border-bottom: 1px solid #8c8a8c; content: '';}
		&__th,
		&__td { border-bottom:1px solid #e7e3e7; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th { padding:12px 10px; }
		&__td { padding:5px 10px;
			&:last-child { padding-right:0; }
		}
	}
}
.table-col-v1-wrap { overflow:auto; }
.table-col-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__th { box-sizing:border-box; height:50px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; color:$black-tit; }
	&__td { box-sizing:border-box; height:50px; border-top:1px solid #dedfde; text-align:center;
		&_text-right { padding-right:18px; text-align:right; }
		&_total { font-weight:$bold; color:$black-tit; border-top:1px solid #666; border-bottom:1px solid #666; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__th,
		&__td { height:25px; }
	}
}
.table-col-v1-header { position:relative; margin-bottom:18px; line-height:1.3;
	&_next { margin-top:34px; }
	&__tit { margin:0; font-size:16px; color:$black-tit; font-weight:$normal; }
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:9px;
		&__tit { float:left; font-size:13px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
	}
}
.table-col-v1-footer { margin-top:5px; font-size:12px; text-align:right; color:$black-body;
	&__para { margin:0; }
}

.table-col-v2 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c;
	&__th,
	&__td { box-sizing:border-box; height:50px; border-left:1px solid #e7e3e7; border-bottom:1px solid #e7e3e7; text-align:center; font-weight:$normal;
		&:first-child { border-left:none; }
		&[rowspan] { border-right:1px solid #e7e3e7; }
		&[rowspan]+& { border-right:none; }
	}
	&__th { background-color:#f9f9f9; font-weight:$bold; color:$black-tit; }
	&__td { color:$black-body;
		&_text-right { padding-right:30px; text-align:right; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:11px; }
		&__td {
			&_text-right { padding-right:3px; }
		}
	}
}

.table-col-v3 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #666; color:$black-body;
	$this:&;
	&__th,
	&__td { height:50px; text-align:center; }
	&__th { font-weight:$bold; color:$black-tit; border-bottom:1px solid #8c8a8c; }
	&__td { border-top:1px solid #dedfde;
		#{$this} tbody tr:nth-child(odd) & { background-color:#f9f9f9; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:12px; }
	}
}


/* Board Search */
.board-search-v1 { margin-bottom:15px; text-align:right;
	&__input { width:330px; margin-left:10px; -webkit-transition:width .5s; transition:width .5s; }
	&__submit { margin-left:-1px; width:32px; height:32px; }
	@media only screen and (max-width:$mobile-size) {
		&__input { width:120px; }
	}
}
/* 약관동의 */
.agree-box { color:$black-tit; line-height:1.3;
	&__tit { margin:0 0 18px 0; font-size:16px; }
	&__body { padding:9px 14px; border:1px solid #dedfde; background-color:#fafafa; }
	&__footer { margin-top:15px; }
}

.agree-article { line-height:1.5; color:$black-body;
	&__tit { margin:0 0 9px 0; font-size:16px; color:$black-tit; line-height:1.1;
		&_next { margin-top:24px; }
	}
	&__para { margin:0;
		&_next { margin-top:24px; }
	}
	&__signature { font-weight:$bold; text-align:right; }
	strong { color:$black-tit; }
}
