@charset "utf-8";
@import "mixin";
.order{
	&__info{margin-top:10px; padding:10px; box-sizing:border-box; border-top:1px solid #888888; border-bottom:1px solid #888888;}
	&__info-tit{font-size:12px;}
	&__info-txt{margin-top:15px; font-size:11px;}
	&__cart-wrap{padding:10px; box-sizing:border-box;
		& .prod_info + .prod_info{margin-top:8px;}
	}
	&__price{margin-top:10px; border:1px solid #c8c8c8;
		&:after{display:block; clear:both; content:'';}
		&__dl{position:relative;
			&:before{position:absolute; top:3px; left:-26px; width:17px; height:17px; background:url('../images/content/cart_total.png'); background-size:17px 17px; display:block; content:'';}
		}
		&__dt{float:left; width:38%; font-size:15px; color:#000;}
		&__dd{color:#f98c2b; font-size:18px; text-align:right; font-weight:700;
			& span{font-size:13px;}
			& p{margin-top:5px; color:#555; font-weight:400; font-size:11px;}
			& a{color:#f98c2b; text-decoration: underline;}
		}
	}
	&__price-box{float:left; display:inline-block; box-sizing:border-box;
		&.nth-1{width:43%; padding:10px; background-color:#f1ece8;}
		&.nth-2{width:57%; padding:25px 10px 0px 18px;}
		&__dl{
			& + .order__price-box__dl{position:relative;
				&:before{display:block; width:100%; height:0; margin:10px 0px; border-top:1px solid #c8c8c8; content:'';}
				&:after{position:absolute; top:-8px; left:37%; display:inline-block;  width:22px; height:17px; background:url('../images/content/cart_plus.png'); background-size:22px 17px; content:'';}
			}
		}
		&__dt{float:left; width:37%; font-size:12px;}
		&__dd{font-size:12px; color:#000; text-align:right; font-weight:700;}
	}
	&__btn1{display:inline-block; height:25px;  padding:0px 10px; border:1px solid #c8c8c8; font-size:12px; line-height:23px; text-align:center; box-sizing:border-box; vertical-align:middle;}
	&__btn2{position:absolute; top:0; right:10px; display:inline-block; width:10px; height:45px; background:url('../images/content/cart_btn_up.png') no-repeat center center;background-size:10px 6px;}
	&__btn3{display:block; width:100%; padding:7px 0px;border:1px solid #c8c8c8; text-align:center; font-size:13px;
		& span{position:relative;
			&:after{position:absolute; right:-11px; top:4px; display:inline-block; width:8px; height:5px; background:url('../images/content/detail_btn.png'); background-size:8px 5px; content:'';}
		}
	}
	&__point{display:inline-block; font-size:12px; color:#f98c2b; text-decoration: underline;}
	&__body{padding:0px 10px; box-sizing:border-box;
		&.is-active{display:block;}
		&.type-another{padding:0px;}
	}
	&__body-wrap{margin:0px -10px;}
	&__body-header{padding:5px 0px; font-size:14px; text-align:right;
		& + .order-delivery{margin-top:0;}
	}
	&__body-header-txt{display:inline-block; margin-right:5px;}
	&__terms{margin-top:10px; padding:10px; border-top:1px solid #888888; border-bottom:1px solid #888888; box-sizing:border-box;}
	&__terms-tit{font-size:14px;}
	&__terms-box{overflow:auto; height:60px; margin-top:10px; padding:5px; background-color:#f1ece8; box-sizing:border-box; font-size:12px;}
	&__terms-check{margin-top:10px;}
	&__address-box{padding:6px 10px; box-sizing:border-box; margin:0px -10px;}
	&__address-tit{height:35px; padding:0px 10px; color:#000; font-size:14px; line-height:35px; border-top:1px solid #888; box-sizing:border-box;}
	&__address-content{display:none; padding:6px 0px; box-sizing:border-box;
		&.is-active{display:block;}
	}
	&__address-btn{display:inline-block;height:30px; padding:0px 15px; box-sizing:border-box; border:1px solid #c8c8c8; line-height:28px;}
	&__means-list{margin-left:-4px;
		&:after{display:block; clear:both; content:'';}
	}
	&__means-item{float:left; display:inline-block; width:33.33%; margin-top:4px; padding-left:4px; box-sizing:border-box;
		&:nth-child(1){margin-top:0;}
		&:nth-child(2){margin-top:0;}
		&:nth-child(3){margin-top:0;}
	}
	&__means-link{display:table-cell; width:1%; height:50px; border:1px solid #c8c8c8; box-sizing:border-box; background-color:#f5f5f5; vertical-align:middle; text-align:center; font-size:13px; color:#999;
		&.is-active{border:2px solid #fe9821; color:#fe9821; font-weight:700; background-color:#fff;}
	}
	&__means-box{padding:10px; box-sizing:border-box; margin:0px -10px;
		& + .order__means-box{border-top:1px solid #eeeeee;}
		& + .order__means-case{border-top:1px solid #eeeeee; margin:0px -10px; padding:0px 10px;}
		&.type-info{padding:15px 10px; box-sizing:border-box;}
		& .btn__group{padding:0px;}
	}
	&__means-case{display:none; font-size:13px;
		&.is-active{display:block;}
		& + .order__means-box{border-top:1px solid #eeeeee;}
		& + .order__means-case{border-top:1px solid #eeeeee; margin:0px -10px; padding:0px 10px;}
	}
	&__header{padding:0px 0px; text-align:center; box-sizing:border-box;
		&.type-complete{padding:14px 0px;}
	}
	&__header-tit{font-size:16px; font-weight:700; color:#000;}
	&__header-txt{margin-top:14px; font-size:13px; line-height:1.4;}
	&__complete{border-top:1px solid #888888; border-bottom:1px solid #888888;}
	&__complete-box{padding:0px 10px; box-sizing:border-box;
		& + .order__complete-box{padding:10px; border-top:1px solid #e1e1e1;}
	}
	&__complete-item{
		+ .order__complete-item{margin-top:8px;}
	}
	&__complete-delivery{margin-top:-10px; color:#f98c2b;
		&:after{display:block; clear:both; content:'';}
	}
	&__complete-subject{display:inline-block; width:100px; font-size:13px; vertical-align:middle;}
	&__complete-date{display:inline-block; font-size:14px; font-weight:700; vertical-align:middle;}
}
.payment{
	&__list{padding:10px; box-sizing: border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__wrap{height:30px; line-height:30px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:100%;
		&.total{
			& .payment__wrap{height:40px; line-height:40px; margin:0px -10px; padding:0px 10px; border-top:1px solid #eee; border-bottom:1px solid #c8c8c8;}
			& .payment__subject{font-size:13px; font-weight:700; }
			& .payment__money{color:#f98c2b; font-size:18px; font-weight:700;
				& span{font-size:16px;}
			}
		}
		&.on .payment__btn{transform: rotate(180deg) !important;}
		&.on .payment__sub{display:block !important;}
	}
	&__subject{position:relative; float:left; font-size:13px;}
	&__money{float:right; font-size:16px; font-weight:700; color:#000;
		& span{font-size:13px;}
	}
	&__sub{display:none; padding:10px 20px; margin:0px -10px; box-sizing:border-box; background-color:#f8f8f8; font-size:12px;
		&:after{display:block; clear:both; content:'';}
	}
	&__sub-wrap{height:20px; line-height:20px;}
	&__sub-subject{float:left;}
	&__sub-money{float:right;}
	&__btn{position:absolute; top:0px; right:-25px;overflow:hidden; display:inline-block; width:30px; height:30px; background:url('../images/content/payment_btn_down.png') no-repeat center center; background-size:8px 5px; text-indent: -999px;
		&.on{}
	}
}
.reqular{
	&__table{width:100%; border-bottom:1px solid #c8c8c8; border-spacing: 0; border-collapse: collapse;}
	&__th{height:35px; font-size:14px; font-weight:700;  text-align: center; vertical-align:middle;}
	&__td{height:64px; border-top:1px solid #c8c8c8; font-size:13px; vertical-align:middle; text-align: center;}
	&__txt{margin-top:8px; font-size:12px; color:#555;}
}
.order-delivery{margin-top:10px;
	&__item{
		& + .order-delivery__item{margin-top:10px;}
	}
}
