@charset "UTF-8";
/*******

PYH CSS RESET

*******/

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(./../../fonts/NanumBarunGothicUltraLight.eot);
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url(./../../fonts/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(./../../fonts/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(./../../fonts/NanumBarunGothicUltraLight.woff) format('woff'),
       url(./../../fonts/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(./../../fonts/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(./../../fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(./../../fonts/NanumBarunGothicLight.woff2) format('woff2'),
       url(./../../fonts/NanumBarunGothicLight.woff) format('woff'),
       url(./../../fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./../../fonts/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(./../../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./../../fonts/NanumBarunGothic.woff2) format('woff2'),
       url(./../../fonts/NanumBarunGothic.woff) format('woff'),
       url(./../../fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./../../fonts/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(./../../fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./../../fonts/NanumBarunGothicBold.woff2) format('woff2'),
       url(./../../fonts/NanumBarunGothicBold.woff) format('woff'),
       url(./../../fonts/NanumBarunGothicBold.ttf) format('truetype');
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0;padding:0;vertical-align:top;}
th,td {border-spacing:0;}
img,fieldset,iframe {border:0;}
img {max-width:100%;vertical-align:top;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
strong {font-weight:700;font-size:inherit;}

a{color:inherit; font-size:inherit;}
* {font-family:'Nanum Barun Gothic','Droid Sans','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림',sans-serif;}
body{position:relative; margin:0; padding-bottom:200px; min-height:100%; color:#555; line-height:1.3; box-sizing:border-box;}
html{height:100%; box-sizing:border-box;}
/*ios 기본*/
input,button {border-radius:0;-webkit-appearance:none}

/*common*/
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt12{margin-top:12px !important;}
.mt22{margin-top:22px !important;}
.mt15{margin-top:15px !important;}

.mb12{margin-bottom:12px !important;}

.color01{color:#f98c2b;}
.input1{height:25px; line-height:25px; padding:2px; box-sizing:border-box;}

.wd60{width:60px !important;}
.wd80{width:80px !important;}
.wd100{width:100px !important;}
.wd120{width:120px !important;}
.wd50p{width:50% !important;}
.wd100p{width:100% !important;}

.fl_n{float:none !important;}
.fl_r{float:right !important;}
.txt_c{text-align:center !important;}
.txt_r{text-align:right !important;}

.fs_12{font-size:12px !important;}
.vt_mid{vertical-align:middle !important;}

.tab-v1__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; /*border-collapse:collapse;*/ background-color:#00400f; font-size:26px;}
.tab-v1__item {position:relative; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 1%; height: 37px;  color: #999999; font-size: 16px; text-align: center; vertical-align: middle; }
.tab-v1__item:before{position:absolute; top:0; left:0; bottom:2px; display:block; width:0px; height:12px; margin:auto 0; border-left:2px solid #909491; content:'';}
.tab-v1__item.is-active { color:#fff; }
.tab-v1__item:first-child:before{display:none;}
.tab-v1__link { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle;  }


.tab-v1__item.is-active .tab-v1__link { font-weight: 600;}
.tab-v1__item.is-active .tab-v1__link:after{position:absolute; bottom:1px; left:0; right:0; display:block; width:40px; height:0; margin:0 auto; border-bottom:2px solid #fff; content:''; border-radius:1px;}

.tab-v2__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; /*border-collapse:collapse;*/ background-color:#fff;  border:1px solid #c8c8c8;}
.tab-v2__item {position:relative; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 1%; height: 32px;  color: #555; font-size: 13px; font-weight:700; text-align: center; vertical-align: middle; }
.tab-v2__item.is-active { color:#fff; background-color:#82ba29;}
.tab-v2__item:last-child:after{display:none;}
.tab-v2__item.is-active:after{display:none;}
.tab-v2__item.clear:after{display:none;}

.tab-v2__link { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; display: table-cell; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; }
.tab-v2__item:after{position:absolute; top:0; right:0; bottom:0; display:block; width:0px; height:10px; margin:auto 0; border-left:1px solid #909491; content:'';}
.tab-v2__item.is-active .tab-v2__link { font-weight: 600;}
.tab-v2__item.is-active:before{position:absolute; top:0; left:-1px; bottom:0; display:block; width:0px; height:32px; margin:auto 0; border-left:1px solid #82ba29; content:'';}

.tab-v3{margin-top:10px; line-height:32px;
	&:after{display:block; clear:both; content:'';}
	&__link{float:left; display:inline-block; width:50%; border-top:1px solid #c8c8c8; border-bottom:1px solid #000;  background-color:#f5f5f5; font-size:13px; color:#999; text-align:center;
		&:first-child{
			&.is-active{border-top:1px solid #000; border-right:1px solid #000; border-bottom:1px solid #fff; background-color:#fff; box-sizing:border-box; color:#000; font-weight:700;}
		}
		&:last-child{
			&.is-active{border-top:1px solid #000; border-left:1px solid #000; border-bottom:1px solid #fff; background-color:#fff; box-sizing:border-box; color:#000; font-weight:700;}
		}
	}
}
.tab-v4{line-height:36px;
	&:after{display:block; clear:both; content:'';}
	&__link{float:left; display:inline-block; width:50%; border:1px solid #c8c8c8; background-color:#f5f5f5; font-size:13px; color:#999; text-align:center; box-sizing: border-box;
		&:first-child{
			&.is-active{border:1px solid #9e9e9e; font-weight:700; color:#555; background-color:#fff;
				+ .tab-v4__link{border-left:none;}
			}
		}
		&:last-child{
			&.is-active{margin-left:-1px; border:1px solid #9e9e9e; font-weight:700; color:#555; background-color:#fff;}
		}
	}
}
// .tab-v2__item.is-active .tab-v2__link:after{position:absolute; bottom:1px; left:0; right:0; display:block; width:40px; height:0; margin:0 auto; border-bottom:2px solid #fff; content:''; border-radius:1px;}
.tab-content{display:none;}
.tab-content.is-active{display:block;}

.inline-block{display:inline-block;}

.select1{font-size:12px !important;}

.section{width:640px; margin:0px auto; padding-bottom:15px;
	@media only screen and (max-width: 668px){width:100%;}
}
.section__wrap{padding:0px 10px; box-sizing:border-box;}


/*prod_info*/
.prod__date{position:relative; display:inline-block; margin-top:5px; font-size:14px; color:#fe9821; font-weight:700; }
.prod__date.type-clock{padding-left:20px;}
.prod__date.type-clock:before{position:absolute; left:0; top:1px; display:inline-block; width:13px; height:13px; background:url('../images/prod_clock.png'); background-size:13px 13px; content:'';}
.prod_info {position:relative;display:block; border:1px solid #c8c8c8; text-align:left; min-width:95px;/*145*/ box-sizing:border-box; background-color:#fff;}
.prod_info:before,
.prod_info:after { clear:both;display:table;overflow:hidden;content:'';}
.prod_info .prod_img {overflow:hidden; position:relative; display:block; text-align:center; margin:0px auto;}
.prod_info .prod_img img { max-width:100%; max-height:100%; /*width:140px; height:140px; 고정값*/ }
.prod_info .prod_img .prod_img_01 {width:140px; height:140px;}
.prod_info .prod_img .prod_img_02 {position:absolute; top:0; left:0; width:140px; height:140px;}
.prod_info .prod_detail {position:relative; display:block; height:100%; margin-top:15px;padding:0 5px;}
.prod_info .prod_detail .prod_btn_cart {position:absolute; bottom:10px; right:5px; z-index:50;}
.prod_info .prod_detail .prod_btn_cart img{width:31px; height:26px;}
.prod_info .prod_detail .prod_spc_cart {position:absolute; z-index:50; top:43px; right:15px;}
.prod_info .prod_detail .prod_detail_top {display:block; padding:0 0 0 0; margin-bottom:11px}
.prod_info .prod_detail .prod_detail_top.spc {position:relative;margin-bottom:10px;padding-bottom:1px;background-color:#fff;}
.prod_info .prod_detail .prod_detail_top > span {display:block;}
.prod_info .prod_detail .prod_detail_top .prod_tit {display:-webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;  height:28px; margin-bottom:3px; font-size:12px; line-height:14px;; color:#494949; overflow:hidden; text-overflow: ellipsis;}
.prod_info .prod_detail .prod_detail_top .prod_price {position:relative; height:27px; overflow:hidden;}
.prod_info .prod_detail .prod_detail_top .prod_price .prod_price_tit{display:inline-block; font-size:11px; color:#000;}
.prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now {float:left; color:#000; font-size:12px; padding-top:5px;}
.prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span {font-size:15px;}
.prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev {float:left; color:#999; font-size:10px; text-decoration:line-through; margin:12px 0 0 4px;}
.prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev span {font-size:11px;}
.prod_detail_bottom {position:relative; border-top:1px solid #e1e1e1; padding:5px; box-sizing:border-box;
	&.type-none{border-top:none;}
}
.prod_detail_bottom > span {display:block;}
.prod_detail_bottom .prod_txt_arrival {line-height:1;font-size:12px; font-weight:bold; color:#555; padding-bottom:7px;}
.prod_detail_bottom .prod_txt_detail {height:2.5em; font-size:12px; color:#636363; overflow:hidden;line-height:1.25;}
.prod{
	&__menu{margin-left:-5px;
		&:after{display:block; clear:both; content:'';}
	}
	&__menu-border{float:left; display:inline-block; width:50%;  padding-left:5px; box-sizing:border-box;}
	&__menu-link{display:inline-block; width:100%; border:1px solid #81b823; height:35px; line-height:35px; color:#77a22e; text-align:center; font-size:14px;}
	&__cancel{float:left; width:54px; line-height:32px; font-size:13px;
		&.type-num{width:110px;
			& span{float:right; color:#ff9900; font-size:15px;}
		}
	}
	&__select{float:left; box-sizing: border-box; padding-left:5px;}
	&__select-wrap{position:absolute; right:5px; width:100%; margin-left:-5px; padding-left:59px; box-sizing:border-box;}
}
.prod_sub{display:inline-block; margin-top:10px; margin-left:2px; font-size:11px; color:#555;}
.prod_delivery-info{display:inline-block; margin-top:5px; font-size:11px;
	& strong{
		& + span:before{margin:0px 5px; content:'|'}
	}

}
.prod__order{display:inline-block; float:right; line-height:28px;}
.prod__order-txt{font-size:13px;
	& + .prod__order-price{margin-left:10px;}
}
.prod__order-price{font-size:18px; color:#000; font-weight:700;}
.prod__order-won{font-size:16px;}
.prod__order-save{font-size:12px; color:#000;}
.prod_check{position:absolute; top:5px; left:5px; z-index:200;}
.prod_btn{float:left; display:inline-block; font-size:10px;
	& + .prod_btn{margin-left:3px;}
}
.prod_btn-close{position:absolute; top:5px; right:5px;overflow:hidden; display:inline-block; width:22px; height:22px; background-image:url('../images/common/prod_close.gif'); background-size:22px 22px; text-indent:-9999px;}
.prod_btn-area{position:absolute; left:130px; bottom:5px;
	&:after{display:block; clear:both; content:'';}
}
.prod_btn-wrap{display:table-cell; width:24px; height:24px; text-align:center; vertical-align:middle; line-height:1;}
.prod_sale{background-color:#d6564d; color:#fff;
	& span{font-size:8px;}
}
.prod_present{font-weight:700; color:#cd3d37;
	& .prod_btn-wrap{border:1px solid #ec756c; box-sizing:border-box;}
}
.prod_delivery{background-color:#59923a; color:#fff;}
.prod_txt{float:left; display:inline-block; font-size:12px; line-height:25px; }

/* 가로형 */
.prod_info.type-wide{width:100%;
	& .prod_img{float:left; display:inline-block; margin-right:10px;
		& img{width:120px; height:120px;}
	}
	& .prod_price{margin-top:4px !important;}
	& .prod_detail{height:120px; margin-top:0px; padding:12px 5px; box-sizing:border-box;}
	& .prod_tit{margin-bottom:0px !important;}
	// & .prod_btn_cart {top:auto; bottom:2px;}
	&:after{display:block; clear:both; content:'';}
	//묶음상품
	&.type-set{
		& .prod_img{float:left; display:inline-block; margin-right:7px;
			& img{width:60px; height:60px;}
		}
		& .prod_detail{height:60px; margin-top:0px; padding:12px 60px 12px 5px; box-sizing:border-box;}
		& .prod_detail_top{margin-bottom:0px;}
		& .prod_num{display:inline-block; margin-top:5px; font-size:12px;}
	}
}
.prod_set-btn{overflow:hidden; position:absolute; top:0px; right:10px;  z-index:50; display:inline-block; width:60px; height:62px;  text-indent:-999px; background:url('../images/common/prod_set_up.png') no-repeat center center; background-size:12px 6px;}
.prod_info.type-close{
	& .prod_detail_top{padding-right:45px !important;}
}
.prod__box-info{position:absolute; top:0; left:10px; font-size:12px; line-height:41px;}
.prod__box-num{color:#fe9821;}
.list{
	&__style{position:absolute; top:0; bottom:0; right:10px; display:inline-block; width:13px; height:12px; margin:auto 0; background-image:url('../images/list_icon.png'); background-size:26px 12px; vertical-align:middle;
		&.is-active{background-position:-13px 0px;}
	}
}

.select__box{display:inline-block; height:20px;
	&.type-table{height:30px}
}
.select__tit{position:relative; display:inline-block; padding-right:14px;
	&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:7px; height:5px; margin:auto 0; background-image:url('../images/select_btn1.png'); background-size:7px 5px; content:'';}
}
.imgblock{display:inline-block; width:0px; height:6px; border-top:6px solid #fe9821;}
.back__btn{position:absolute; top:0; left:10px; display:block; height:38px; width:38px; background:url('../images/back_btn.png') center left no-repeat; background-size:14px 11px; text-indent:-9999px;}
.home__btn{position:absolute; top:0; right:0;display:block; height:38px; width:38px; background:url('../images/home_btn.png') center 10px no-repeat; background-size:18px 15px; text-indent:-9999px;}
.set__btn{position:absolute; top:0; right:0; display:block; height:38px; width:32px; background:url('../images/set_btn.png') center left no-repeat; background-size:14px 14px; text-indent:-9999px;}
.select2{border:none;}

// &__2depth{display:none; background-color:#f1ece8; border-top:1px solid #e1e1e1;
// 	& li{border-bottom:1px solid #e1e1e1; background-color:#f1ece8; font-size:13px; color:#555;
// 		& a{float:left; display:inline-block; width:50%; padding:10px; border-right:1px solid #e1e1e1; box-sizing:border-box;
// 			& + a{border-right:none;}
// 		}
// 		&:after{display:block; clear:both; content:'';}
// 		&:last-child{border-bottom:none;
// 			&:after{position:relative; bottom:-1px; border-bottom:1px solid #888888;}
// 		}
// 	}
// 	&:after{display:block; clear:both; content:'';}
// }

.menu1{margin-top:10px;
	&__list{background-color:#f1ece8; border-top:1px solid #e1e1e1;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{border-bottom:1px solid #e1e1e1; background-color:#f1ece8; font-size:13px; color:#555; text-align:center;
		&:after{display:block; clear:both; content:'';}
	}
	&__link{float:left; display:inline-block; width:50%; padding:10px; border-right:1px solid #e1e1e1; box-sizing:border-box;
		& + a{border-right:none;}
		&.is-active{color:#000; font-weight:700; background-color:#d3cfcc;}
	}
}
.btn{
	&__set{display:inline-block; overflow:hidden; background:url('../images/content/btn_set.gif'); background-size:66px 30px; vertical-align:middle; text-indent: -9999px;}
	&__allview{width:66px; height:15px;}
	&__down{width:34px; height:15px; background-position:0px -15px;}
	&__group{width:100%; padding:0px 10px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		&.type-popup{padding-bottom:10px;}
		&.type-popup2{padding:10px; border-top:1px solid #c8c8c8;}
	}
	&__wrap{margin-left:-5px;
		&:after{display:block; clear:both; content:'';}
	}
	&__password{float:right; font-size:13px; text-decoration:underline; line-height: 22px;}
}
.btn1{float:left; display:inline-block; width:50%; padding-left:5px; box-sizing:border-box;
	&__link{display:block; width:100%; height:100%; text-align:center; height:50px; line-height:46px; box-sizing:border-box; font-size:17px; font-weight:700;
		&.type-1{border:2px solid #fe9821; background-color:#fff; color:#f98c2b;}
		&.type-2{border:2px solid #fe9821; background-color:#fe9821; color:#fff;}
		&.type-3{height:35px; line-height:33px;border:1px solid #81b823; background-color:#81b823; color:#fff; font-size:14px;}
		&.type-4{height:35px; line-height:33px;border:1px solid #81b823; background-color:#fff; color:#81b823; font-weight:700; font-size:14px;}
		&.type-5{height:35px; line-height:33px;border:1px solid #c8c8c8; background-color:#fff; color:#555; font-weight:400; font-size:14px;}
	}
}
.btn2{ -webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; height:30px; padding:0 10px; /* padding:6px 5px 7px 5px; */
	border:1px solid #c8c8c8; background-color:#fff; color: #555;
	text-align: center; vertical-align: middle; font-size: 13px; cursor: pointer; line-height:1; text-indent:0;
	&:after{display:inline-block;height:100%; vertical-align:middle; content:''; }
	& > span{display:inline-block; vertical-align:middle;}
}
.tbl_ty01{width:100%; border-collapse:collapse; border-spacing:0; font-size:12px;
	& th{padding:5px 0px;}
	& td{padding:5px 0px 5px 16px; box-sizing:border-box;}
	&.type-row{
		& td{padding:5px 0px;}
	}
	&__tit{font-size:13px;}
}


/* counter */
.counter {position:relative; width:100px; padding:0px 0; border:1px solid #c8c8c8; overflow:hidden; background:#fff;}
.counter > span {position:relative; float:left;}
.counter > .counter_minus, .counter > .counter_plus {display:inline-block; width:25px; height:25px; text-indent:-9999px; cursor:pointer;}
.counter > .counter_minus:before {content:""; position:absolute; top:0;right:0; left:0; bottom:0; margin:auto; width:9px; height:2px; background:#555;}
.counter > .counter_plus:before {content:""; position:absolute; top:0;right:0; left:0; bottom:0; margin:auto; width:9px; height:2px; background:#555;}
.counter > .counter_plus:after {content:""; position:absolute; top:0;right:0; left:0; bottom:0; margin:auto; width:2px; height:9px; background:#555;}
.counter > .counter_ipt {display:inline-block; width:50px; height:25px; text-align:center;}
.counter > .counter_ipt:before {content:""; position:absolute; top:0; left:0; width:1px; height:25px; background:#e6e6e6;}
.counter > .counter_ipt:after {content:""; position:absolute; top:0; right:0; width:1px; height:25px; background:#e6e6e6;}
.counter > .counter_ipt input[type="text"] {width:50px; height:25px; font-size:12px; font-weight:700; color:#555; text-align:center; line-height:1; border:1px solid #fff; padding:0; box-sizing:border-box;}
.counter.counter_disabled {position:relative;background-color:#eeeeee; color:#959595;}
.counter.counter_disabled:after{position:absolute; top:0; left:0; display:block; width:100%; height:100%; content:'';}
.counter.counter_disabled input[type="text"]{border:1px solid #eee; background-color:#eee;}
.counter__wrap{float:left; display:inline-block;}
.counter__tit{float:left; display:inline-block; font-size:12px; line-height:32px; margin-right:16px; }
.prod_detail_bottom{
	& .counter{width:108px !important;}
	& .counter > .counter_minus, .counter > .counter_plus{width:30px !important; height:30px !important;}
	& .counter_ipt{width:48px !important; height: 30px !important;}
	& .counter > .counter_ipt:before {content:""; position:absolute; top:0; left:0; width:1px; height:30px; background:#e6e6e6;}
	& .counter > .counter_ipt:after {content:""; position:absolute; top:0; right:0; width:1px; height:30px; background:#e6e6e6;}
	& .counter > .counter_ipt input[type="text"]{width:30px !important; height:30px !important;}
	&:after{display:block; clear:both; content:'';}
}




.checkbox1 + label {display: inline-block; margin-left: 5px;margin-right: 10px;}
@media only screen {
	.checkbox1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px;padding: 0; margin: -1px;border: 0; clip: rect(0, 0, 0, 0);}
	.checkbox1 + label { position: relative; height: 22px; line-height:22px; font-size:13px; margin-left: 0; padding-left: 27px; cursor: pointer;}
	.checkbox1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 22px; height: 22px; margin: auto; border: 1px solid #c8c8c8; background-color: #fff; content: '';cursor: pointer;}
	.checkbox1:focus + label:before { border-color: #c7c7c7; }
	.checkbox1:checked + label:before { border-color: #aba58e; }
	.checkbox1:checked + label:after { position: absolute; top:0px; left: 0px; bottom: 0; width: 22px; height:22px; margin: auto; background-image:url('../images/common/check_on.gif'); background-size:22px 22px; content:'';}
	.checkbox1 + label { margin-right: 10px;}
	.checkbox1:last-of-type + label { margin-right: 0;}
	.checkbox1 + label.solo {text-indent:-999px; padding-left:10px;}
}
.check{
	&__box{padding:5px 10px;
		&:after{display:block; clear:both; content:'';}
	}
	&__all{display:inline-block; padding:1px 0px; box-sizing:border-box;}
}

.radio1 + label { margin-left: 5px; /*padding-left:10px; */}
@media only screen {
	.radio1 {overflow: hidden;position: absolute; top: auto;width: 1px;height: 1px;padding: 0;margin: -1px;border: 0;clip: rect(0, 0, 0, 0);}
	.radio1 + label {display: inline-block;position: relative;height: 23px;margin-left: 0;padding-left: 28px;cursor: pointer; line-height:23px;}
	.radio1 + label:before {position: absolute;top: 0;bottom: 0;left: 0;box-sizing: border-box;width: 23px;height: 23px;margin: auto;border: 1px solid #c8c8c8;border-radius: 50%;background-color: #fff;content: '';
	cursor: pointer;}
	// .radio1:focus + label:before {border-color: #c7c7c7;}
	.radio1:checked + label:before {border:none; background-color:#fe9821;}
	.radio1:checked + label:after {overflow: hidden;position: absolute;top: 6px;left: 6px;width: 11px;height: 11px;border-radius: 50%;background-color: #fff;cursor: pointer;content: '';}
}
.radio1 + label{margin-right:10px;}
.radio1 + label.solo {text-indent:-999px; padding-left:10px; margin-right:0;}
.radio:last-of-type + label { margin-right: 0;}
.radio1__wrap{position:absolute; left:10px;}
.input2__wrap2 label{margin-top:2px; margin-bottom:2px;}

.prod_btn2{display:inline-block; height:25px; padding:0px 10px; border:1px solid #c8c8c8; text-align:center; line-height: 25px; box-sizing:border-box; vertical-align:middle; font-size:12px;}
.price{position:relative; padding:0px 10px; border-top:2px solid #c8c8c8; background-color:#eeeeee; box-sizing:border-box;
	&__tit{float:left;display:inline-block; font-size:16px; line-height:45px; font-weight:700;
		& span{font-size:16px;}
	}
	&__txt{display:table-cell; width:1%; height:45px; vertical-align:middle;}
	&__money{float:right; display:inline-block; font-size:20px; color:#000; font-weight:700; line-height:45px;
		& span{font-size:18px;}
		&.type-btn{position:relative;padding-right:15px; box-sizing:border-box;}
	}
	&__wrap{display:block; padding-left:120px; color:#555; font-size:11px; box-sizing:border-box; text-align:right;}
	&:after{display:block; clear:both; content:'';}
	&__btn{float:right; display:inline-block; margin-top:6px; height:30px; padding:0px 10px; border:1px solid #c8c8c8; font-size:13px; background-color:#fff; line-height:30px;}
}
.delivery{display:table-cell; width:1%; padding:0px 10px; border-top:2px solid #e1e1e1; background-color:#f8f8f8; height:40px; border-bottom:1px solid #e1e1e1; vertical-align:middle;
	&__tit{display:inline-block; color:#000; font-size:16px;}
}


.select3{position:relative; border:1px solid #c8c8c8;
	& + .select3{margin-top:5px;}
	& + .buytab__option{margin-top:5px;}
}
.select3.showMenu{
	border:1px solid #fe9821; box-sizing:border-box;
}
.select3__header {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  cursor: pointer;
}

.select3__header > p {position:relative; overflow:hidden; height:30px; padding:0px 30px 0px 10px; line-height:28px; font-size: 12px;user-select: none;-moz-user-select:none; -khtml-user-select: none;
	text-overflow: ellipsis; word-wrap:break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; /* 라인수 */ }
.select3__header > p:after{position:absolute; top:0; bottom:0; right:5px; display:inline-block; width:10px; height:6px; margin:auto 0; background:url('../images/common/select_btn.png'); background-size:10px 12px; background-position-y:-6px; content:'';}
.select3__body{position:absolute; width:100%; top:31px; z-index:100;  }
.select3__menu {display:none; position: relative;margin: 0 auto; -webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;transition: all 0.3s ease-in;background: #fff;
	cursor: pointer;user-select: none;-moz-user-select:none;/* Safari */-khtml-user-select: none;
	border:1px solid #fe9821; border-top:none;  margin-left:-1px; margin-right:-1px; box-sizing:border-box;
}
.select3__menu li {overflow:hidden; height:30px; padding:0px 30px 0px 10px; line-height:28px;font-size:12px; text-overflow: ellipsis; word-wrap:break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
       -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;transition: all 0.3s ease-in; border-bottom: 1px solid #c8c8c8;
}
// .select3.showMenu .select3__header{
// 	border-bottom:1px solid #fe9821;
// }
.select3.showMenu .select3__menu{
	display:block;
}
.select3.showMenu p:after{background-position-y:0px;}

.buyfix{position:fixed; left:0; right:0; bottom:0; z-index:999; width:100%; margin:0px auto; max-width:640px;}



/* 평점 별점 */
.star_mark {display:inline-block; width:75px; height:12px; text-indent:-9999px; overflow:hidden; background-size:75px 132px; vertical-align:middle;}
.star_mark.sc_0 {background:url(../images/common/bg_comment_star_big.png) 0 0; background-size:75px 132px;}
.star_mark.sc_1 {background:url(../images/common/bg_comment_star_big.png) 0 -12px; background-size:75px 132px;}
.star_mark.sc_2 {background:url(../images/common/bg_comment_star_big.png) 0 -24px; background-size:75px 132px;}
.star_mark.sc_3 {background:url(../images/common/bg_comment_star_big.png) 0 -36px; background-size:75px 132px;}
.star_mark.sc_4 {background:url(../images/common/bg_comment_star_big.png) 0 -48px; background-size:75px 132px;}
.star_mark.sc_5 {background:url(../images/common/bg_comment_star_big.png) 0 -60px; background-size:75px 132px;}
.star_mark.sc_6 {background:url(../images/common/bg_comment_star_big.png) 0 -72px; background-size:75px 132px;}
.star_mark.sc_7 {background:url(../images/common/bg_comment_star_big.png) 0 -84px; background-size:75px 132px;}
.star_mark.sc_8 {background:url(../images/common/bg_comment_star_big.png) 0 -96px; background-size:75px 132px;}
.star_mark.sc_9 {background:url(../images/common/bg_comment_star_big.png) 0 -108px; background-size:75px 132px;}
.star_mark.sc_10 {background:url(../images/common/bg_comment_star_big.png) 0 -120px; background-size:75px 132px;}

.star_mark_s {display:inline-block; width:44px; height:7px; text-indent:-9999px; overflow:hidden; background-size:44px 77px;}
.star_mark_s.sc_0 {background:url(../images/common/bg_comment_star_big.png) 0 0; background-size:44px 77px;}
.star_mark_s.sc_1 {background:url(../images/common/bg_comment_star_big.png) 0 -7px; background-size:44px 77px;}
.star_mark_s.sc_2 {background:url(../images/common/bg_comment_star_big.png) 0 -14px; background-size:44px 77px;}
.star_mark_s.sc_3 {background:url(../images/common/bg_comment_star_big.png) 0 -21px; background-size:44px 77px;}
.star_mark_s.sc_4 {background:url(../images/common/bg_comment_star_big.png) 0 -28px; background-size:44px 77px;}
.star_mark_s.sc_5 {background:url(../images/common/bg_comment_star_big.png) 0 -35px; background-size:44px 77px;}
.star_mark_s.sc_6 {background:url(../images/common/bg_comment_star_big.png) 0 -42px; background-size:44px 77px;}
.star_mark_s.sc_7 {background:url(../images/common/bg_comment_star_big.png) 0 -49px; background-size:44px 77px;}
.star_mark_s.sc_8 {background:url(../images/common/bg_comment_star_big.png) 0 -56px; background-size:44px 77px;}
.star_mark_s.sc_9 {background:url(../images/common/bg_comment_star_big.png) 0 -63px; background-size:44px 77px;}
.star_mark_s.sc_10 {background:url(../images/common/bg_comment_star_big.png) 0 -70px; background-size:44px 77px;}

.board{
	&__btn{display:inline-block; padding:7px 10px; box-sizing:border-box; border:1px solid #c8c8c8; font-size:13px; background-color: #fff;
		& + a{margin-left:5px;}
	}
	&__list{position:relative; overflow:hidden;}
	&__slide{}
	&__item{
		& img{width:100%;}
	}
}


.freebies{box-sizing:border-box;
	&__content{position:relative; padding:10px 35px; box-sizing:border-box;}
	&__list{overflow:hidden;}
	&__item{width:50% !important; margin:0px auto; padding-left:10px; box-sizing:border-box;}
	&__header{padding:5px; box-sizing:border-box;}
	&__prod{border:1px solid #c8c8c8;}
	&__body{}
	&__img{overflow: hidden; position: relative; display: block; text-align: center; margin: 0px auto;
		& img{max-width:100%; max-height:100%;}
	}
	&__footer{padding:5px; min-height:70px; box-sizing:border-box;}
	&__tit{font-size:11px; color:#f98c2b;}
	&__txt{margin-top:5px; font-size:12px; color:#000;}
	&__slide-btn{display:none; position:absolute; top:0; bottom:0; width:11px; height:22px; margin:auto 0; background:url('../images/common/freebies_btn.png'); background-size:22px 22px; z-index:10; cursor:pointer;
		&.is-hidden{display:none !important;}
	}
	&__btn-prev{left:10px;}
	&__btn-next{right:10px; background-position-x:11px;}
}

.table1{width:100%; border-spacing: 0; border-collapse: collapse; font-size:13px; text-align:left;
	&.type-line{text-align: center;
		& .table1__tr{border-bottom:1px solid #c8c8c8;
			&:first-child{
				& .table1__th{padding-left:10px;}
				& .table1__td{padding-right:10px;}
			}
		}
	}
	&.type-another{
		& .table1__th{padding-left:10px;}
		& .table1__td{padding-right:10px;}
	}
	&__th{padding:11px 0px; box-sizing:border-box; vertical-align:top; font-weight:400; text-align:left;
		&.type-point{font-size:14px; font-weight:700; text-align:center}
	}
	&__td{position:relative;padding:11px 0px; box-sizing:border-box; vertical-align:middle;
		&.type-price{text-align:right; vertical-align:top;}
	}
	&__price{font-size:16px; color:#000; font-weight:700;
		& span{font-size:14px;}
	}
	&__add{color:#f98c2b; font-size:12px;}
	&__btn{display:inline-block; width:50px; height:20px; border:1px solid #f98c2b; line-height:18px; box-sizing:border-box; font-size:9px; font-weight:700; text-align:center;}
	&__total{border-top:1px solid #eee;}
	&__subject-total{font-size:14px; font-weight:700;}
	&__price-total{font-size:20px; color:#f98c2b; font-weight:700;
		& span{font-size:18px; font-weight:700;}
	}
	&__color01{font-size:15px; color:#000; font-weight:700;}
	&__color02{font-size:14px; font-weight:700;}
}
.input2{height:30px; padding:5px; border:1px solid #c8c8c8; box-sizing:border-box; font-size:13px; color:#555;
	&__wrap1{display:block; margin-top:-7px; margin-bottom:-7px; vertical-align:middle;
		& + .input2__wrap1{margin-top:11px;}
	}
	&__wrap2{display:inline-block; margin-top:-7px; margin-bottom:-7px; vertical-align:middle;}
	&__wrap3{display:inline-block; width:100%; padding-right:95px; margin-top:-7px; margin-bottom:-7px; vertical-align:top; box-sizing:border-box;}
	&__wrap4{position:absolute; top:0px;  right:0px; margin-top:4px; height:30px;
		& + .input2__wrap1{margin-top:11px;}
	}
	&__wrap5{display:inline-block; width:100%; padding-right:109px; margin-top:-7px; margin-bottom:-7px; vertical-align:top; box-sizing:border-box;}
	&__wrap6{display:inline-block; width:100%; padding-right:88px; margin-top:-7px; margin-bottom:-7px; vertical-align:top; box-sizing:border-box;}
}
.info{margin-top:10px;
	&__item{position:relative; padding-left:7px; font-size:12px;
		&:before{position:absolute; top:0px; left:0px; content:'·';}
		& + .info__item{margin-top:5px;}
	}
}
.recently{
	&__header{border-bottom:1px solid #c8c8c8;}
	&__body{padding:10px; box-sizing:border-box;}
	&__item{
		& + .recently__item{margin-top:10px;}
	}
}


.sub-menu{
	&__list{background-color:#f1ece8; border-top:1px solid #c8c8c8; border-left:1px solid #c8c8c8; font-size:15px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:33.33%;  box-sizing:border-box; text-align:center; border-bottom:1px solid #c8c8c8; border-right:1px solid #c8c8c8;
		&.type-hidden{overflow:hidden; text-indent:-9999px;}
		&.is-active{background-color:#d3cfcc; font-weight:700;}
	}
	&__link{display:inline-block; width:100%; height:100%; padding:10px; box-sizing:border-box;}
}
