@charset "utf-8";
@import "mixin";
.top{
	&__banner{position:relative; width:100%; max-height:200px; -webkit-transition: all 0.5s; transition: all 0.5s;
		&.is-hidden{overflow:hidden; max-height:0;}
	}
	&__banner-img{width:100%;}
	&__banner-close{position:absolute; top:0; bottom:0; right:10px; margin:auto 0; width:23px; height:23px; background:url('../images/common/top_banner_close.png'); background-size:23px 23px;}
	&__btn{position:fixed; display:none; right:10px; bottom:60px; z-index:9999; width:40px; height:40px;  background:url('../images/common/top_btn.png'); background-size:40px 40px;
		& a{overflow:hidden; display:inline-block; width:100%; height:100%; text-indent: -999px;}
	}
}
.section{
	&__header{
		-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; width:100%; height:38px; padding:0 10px; /* padding:6px 5px 7px 5px; */ background-color:#00400f;
		text-align: center; vertical-align: middle; line-height:1; text-indent:0;
		&:after{display:inline-block;height:100%; vertical-align:middle; content:''; }
		& .section__tit{display:inline-block; vertical-align:middle;}
	}
	&__tit{overflow:hidden; font-size:17px; color:#fff; font-weight:700; text-align:center;}
	&__box{position:relative; height:41px; padding:8px 32px; border-top:1px solid #c8c8c8; box-sizing:border-box; line-height:41px;
		&.type-border{border-top:none;}
		&:after{display:block; clear:both; content:'';}
	}
	&__top{height:35px; padding:0px 10px; background-color:#a7b335; color:#fff;
		&:after{display:block; clear:both; content:'';}
	}
	&__top-tit{display:inline-block; font-size:15px; font-weight:700; line-height:35px; }
	&__top-btn{position:relative; display:inline-block; padding-right:10px; font-size:12px; line-height:35px;
		&:after{position:absolute; top:0; bottom:2px; right:0; display:block; width:7px; height:4px; margin:auto 0; background-image:url('../images/content/top_icon.png'); content:''; background-size:7px 4px;}
	}
	&__bottom{
		& + .section__top{margin-top:15px;}
	}
}

.event{
	&__menu{margin-top:10px; line-height:32px;
		&:after{display:block; clear:both; content:'';}
	}
	&__menu-btn{float:left; display:inline-block; width:40%; border-top:1px solid #c8c8c8; border-bottom:1px solid #000;  background-color:#f5f5f5; font-size:13px; color:#999; text-align:center;
		&.is-active{width:60%; border-top:1px solid #000; border-right:1px solid #000; border-bottom:1px solid #fff; background-color:#fff; box-sizing:border-box; color:#000; font-weight:700;}
	}
	&__content{margin-top:10px;}
	&__content-box{margin-top:10px; padding:0px 10px;
		&:after{display:block; clear:both; content:'';}
	}
	&__content-item{
		+ .event__content-item{margin-top:10px; border-top:2px solid #878787;}
	}
	&__content-tit{font-size:13px; font-weight:700;}
	&__content-date{margin-top:10px; font-size:12px; line-height:20px;}
	&__announcement{float:right; display:inline-block; width:93px; height:20px; font-size:12px; border:1px solid #7ab023; color:#7ab023; box-sizing:border-box; line-height:20px; text-align:center;
		&.type-wait{border:1px solid #c8c8c8; background-color:#f5f5f5; color:#999;}
	}
}
.prod{
	&__slide{position:relative; overflow:hidden;border:1px solid #c8c8c8; box-sizing:border-box;}
	&__item{}
}
.detail{
	&__header{padding-bottom:10px;}
	&__tit{padding:10px; font-size:15px; color:#000; border-bottom:1px solid #c8c8c8; box-sizing:border-box;}
	&__dl{font-size:13px;}
	&__info{padding:12px 10px; box-sizing:border-box;}
	&__before{}
	&__dt{float:left; width:75px;
		& + .detail__dd + .detail__dt{margin-top:15px;}
		&.type-line{line-height:27px;}
	}
	&__dd{padding-left:75px; box-sizing:border-box;
		& + .detail__dt + .detail__dd{margin-top:15px;}
		& + a{margin-left:5px;}
	}
	&__price{font-size:20px; color:#000; font-weight:700; line-height:27px;
		& .detail__before{margin:0px 4px;}
	}
	&__won{font-size:20px;}
	&__before{font-size:18px; color:#999; text-decoration: line-through; font-weight:400;}
	&__sale{font-size:18px;color:#ff0000; font-weight:400;}
	&__banner{
		& + .detail__banner{margin-top:5px;}
	}
	// &__content{padding:5px 0px; box-sizing:border-box;}
	&__content-set{position:relative; padding:0px 10px; box-sizing:border-box;
		&.is-active{
			& .prod_set-btn{ background:url('../images/common/prod_set_down.png') no-repeat center center;  background-size:12px 6px;}
			& .content-set__list{height: auto;}
		}
	}
	&__delivery{margin-top:10px; padding:0px 10px;font-size:11px;}
}

/*아코디언1*/
.accordian1_tit{position:relative;font-size:15px; color:#595959; font-weight:700;}
.accordian1_tit:after{position:absolute; top:0; bottom:0; right:0; display:inline-block; width:11px; height:7px; background:url('../images/content/accordian_btn.png') 0px -7px; background-size:11px 14px; margin:auto 0; content:'';}


.accordian1_item{border-top:1px solid #c8c8c8;
	&.on .accordian1_tit:after{background-position:0px 0px;}
}
.accordian1_item_header{display:table-cell; width:1%; height:35px; vertical-align:middle; cursor:pointer; background-color:#eeeeee;}
.accordian1_item_header_wrap{padding:0px 10px; box-sizing:border-box;}
.accordian1_item_body{display:none; padding:5px 10px; box-sizing:border-box;}

/*아코디언2*/
.accordian2_tit{position:relative; font-size:13px; color:#595959; font-weight:700; padding-right:20px; box-sizing:border-box; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;word-wrap:break-word;height:20px;line-height:20px;
	&.review__file:after{position:absolute; top:5px; right:5px; display:inline-block; width:11px; height:11px; background:url('../images/common/btn_file.png'); background-size:11px 11px; content:'';}
}
.accordian2_list{border-bottom:1px solid #c8c8c8;}
.accordian2_item{border-top:1px solid #c8c8c8;
	&.on .accordian2_tit:after{background-position:0px 0px;}
}
.accordian2_id{display:block;  word-break: break-all;}
.accordias2_state{ color:#f98c2b;}
.accordian2_date{display:block; }
.accordian2_item_header{padding:0px 10px; box-sizing:border-box; cursor:pointer;}
.accordian2_item_q{
	& p{position:relative; padding-left:13px; box-sizing:border-box;
		&:before{position:absolute; top:1px; left:0; display:inline-block; content:'Q'}
	}
	& + .accordian2_item_a{margin-top:8px;}
}
.accordian2_item_a{
	& h4{position:relative; padding-left:13px; box-sizing:border-box;
		&:before{position:absolute; top:1px; left:0; display:inline-block; content:'A'}
		& + p {margin-top:8px;}
	}
	& p{padding-left:13px;}
}
.accordian2_table{vertical-align:middle; border-spacing: 0; border-collapse: collapse;
	& th{vertical-align: middle; padding:8px 0px;}
	& td{vertical-align: middle; padding:8px 0px; font-size:13px;}
}
.accordian2_th{width:auto;}
.accordian2_td1{width:60px;}
.accordian2_td2{width:80px;}
.accordian2_item_body{display:none; padding:10px; box-sizing:border-box; border-top:1px solid #e1e1e1; background-color:#f1ece8; font-size:13px;}
.accordian2_item_bottom{margin-top:10px; text-align:right; font-size:0;}

/*아코디언3*/
.accordian3_tit{position:relative; font-size:13px;  box-sizing:border-box;
	& strong{color:#000;}
}
.accordian3_txt{margin-top:10px; font-size:12px; box-sizing:border-box;}
.accordian3_tit:after{position:absolute; top:5px; right:0; display:inline-block; width:11px; height:7px; background:url('../images/content/accordian_btn.png') 0px -7px; background-size:11px 14px; margin:auto 0; content:'';}

.accordian3_list{overflow:auto; max-height:350px;}
.accordian3_item{
	& + .accordian3_item{border-top:1px solid #c8c8c8;}
	&.on .accordian3_tit:after{background-position:0px 0px;}
}
.accordian3_item_header{position:relative; padding:12px 10px 12px 40px; box-sizing:border-box;}
.accordian3_item_body{display:none; padding:10px 10px 10px 40px; box-sizing:border-box; background-color: #f1ece8;}
.accordian3_item_body label{font-size:12px !important; color:#555;}
.accordian3_prod_item + .accordian3_prod_item{margin-top:8px;}


/*아코디언4*/
.accordian4_no{position:absolute; left:10px;}
.accordian4_date{position:absolute; top:15px; right:10px; font-size:12px;}
.accordian4_tit{padding-left:35px; font-size:13px;  box-sizing:border-box;}
.accordian4_txt{margin-top:10px; font-size:12px; box-sizing:border-box;}
.accordian4_list{border-top:1px solid #c8c8c8;}
.accordian4_item{border-bottom:1px solid #c8c8c8;}
.accordian4_item_header{position:relative; font-size:13px; padding:12px 10px; box-sizing:border-box; cursor:pointer;}
.accordian4_item_body{display:none; padding:10px 10px 10px 45px; box-sizing:border-box; background-color: #f1ece8; border-top:1px solid #e1e1e1; font-size:13px;}
.accordian4_list.type-notice{
	& .accordian4_tit{padding-left:0px; padding-right:35px;}
	& .accordian4_item_body{padding:10px;}
}

.content{
	&__wrap{padding:0% 13px;}
	&__list{margin-top:12px;}
	&__item{
		& + .content__item{margin-top:4px;}
	}
	&__tit{margin-top:13px; font-size:18px; font-weight:700; color:#000;}
}
.buytab{padding:14px 10px; box-sizing: border-box; background-color:#f1ece8; border:1px solid #c8c8c8; width:100%;
	&__list{overflow:auto; max-height:190px;}
	&__content{position:relative; max-height:0px; overflow:hidden; -webkit-transition:all 0.5s; transition: all 0.5s;}
	&.is-active{
		& .buytab__content{max-height:400px;}
		& .buytab__open{background-position-y:-11px;}
	}
	&__btn-list{
		&:after{display:block; clear:both; content:'';}
		&.type-multi{ margin-left:-6px;
			& .buytab__btn-item{float:left; width:36%; padding-left:6px; box-sizing:border-box;
				&:first-child{width:28%;
					& .buytab__btn-link{background-color:#fff; border:1px solid #fe9821; color:#fe9821; box-sizing:border-box;}
				}
				& .buytab__btn-link{border:1px solid #fe9821;}
			}
		}
	}
	// &__content{overflow:hidden; height:0px; -webkit-transition:all 1s; transition:all 1s;
	// 	&.is-active{height:auto;}
	// }
	&__btn-link{display:inline-block; width:100%; padding:10px 0px; background-color:#fe9821; color:#fff; font-size:17px; font-weight:700; text-align:center;}
	&__open{position:absolute; top:-10px; left:0; right:0; display:inline-block; margin:0px auto; width:40px; height:11px; background:url('../images/buytab_btn.png'); background-size:40px 22px;}
	&__item{width:100%; padding:10px; box-sizing:border-box; background-color:#fff; border:1px solid #c8c8c8;
		& + .buytab__item{margin-top:5px;}
	}
	&__option{margin-bottom:8px;}
	&__subject{ font-size:13px; color:#000;}
	&__box{margin-top:15px;
		&:after{display:block; clear:both; content:'';}
	}
	&__price{float:right;display:inline-block; font-size:16px; color:#000; font-weight:700; line-height:25px;}
	&__price-won{font-size:14px;}
	&__total{margin-top:10px;
		&:after{display:block; clear:both; content:'';}
	}
	&__total-subject{display:inline-block; float:left;font-size:15px; font-weight:700; line-height:26px;}
	&__total-price{display:inline-block; float:right;color:#fe9821; font-size:20px; font-weight:700;}
	&__total-price-won{font-size:18px;}
}
.option__tit{margin-bottom:10px; font-size:12px;}

.content-set{
	&__wrap{position:relative; height:62px; margin:10px 0px;}
	&__list{position:absolute; overflow:hidden; height:62px; transition: all 0.2s;}
	&__item{
		& + .content-set__item{
			& .prod_info{border-top:none;}
		}
	}
}





.review{
	&__wrap{display:table-cell; width:1%; height:55px; vertical-align:middle; padding:0px 10px; box-sizing:border-box;}
	&__tit{position:relative; display:inline-block; padding-right:20px; font-size:15px; color:#555; vertical-align:middle; line-height:34px;
	}
	&:after{display:block; clear:both; content:'';}
	&__btn{float:right; display:inline-block; padding:7px 10px; border:2px solid #77a22e; color:#77a22e; font-size:13px; box-sizing:border-box; text-align: center; font-weight:700;}
	&__more{display:block; width:100%; margin-top:10px; padding:7px 0px; border:1px solid #c8c8c8; text-align:center; font-size:13px;}
	&__inquiry{display:block; width:100%; margin-top:10px; padding:7px 0px; border:2px solid #81b823; color:#77a22e; text-align:center; font-size:13px; font-weight:700;}
	&__list{width:100%; margin-left:-4px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:33.33%; padding-left:4px; box-sizing:border-box;}
	&__item-wrap{position:relative; overflow:hidden; width:100%; height:0; padding-bottom:74.4%;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
}

.layer-popup{display:none; position:fixed;top:0;right:0;left:0; margin:auto; z-index:9999; max-width:640px; padding:0px 10px; box-sizing:border-box;
	&.type-sns{width:300px; bottom:0; height:120px; background-color:#fff; }
	&.type-tooltip{top:50%; bottom:auto; transform: translateY(-50%); width:240px; padding:20px 0px; font-size:14px; font-weight:700; background-color:rgba(0,0,0,0.7); box-sizing:border-box; color:#fff; text-align:center; border-radius: 5px}
	&.type-address{top:50%; bottom:auto; transform: translateY(-50%);}
	&.type-calendar{top:50%; bottom:auto; transform: translateY(-50%);}
	&.type-custom{top:50%; bottom:auto; transform: translateY(-50%);}
	&.type-order{top:50%; bottom:auto; transform: translateY(-50%);}
	&.type-edit{top:50%; bottom:auto; transform: translateY(-50%);}
	&.type-refund{top:50%; bottom:auto; transform: translateY(-50%);}
	&__responsive{background-color:#fff;}
	&__header{position:relative; height:40px; border-bottom:1px solid #888888; text-align:center;}
	&__tit{font-size:18px; font-weight:700; line-height:40px;
		&.type-another{font-size:18px;}
	}
	&__sns{padding:10px 16px; box-sizing:border-box; text-align: justify;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__link{display:inline-block; width:57px; height:57px; background:url('../images/common/sns_icon.png'); background-size:57px 228px;
		&.nth-2{background-position-y:-57px;}
		&.nth-3{background-position-y:-114px;}
		&.nth-4{background-position-y:-171px;}
	}
	&__close{overflow:hidden; position:absolute; top:0; bottom:0; right:10px; width:13px; height:13px; margin:auto 0; background:url('../images/common/sns_close.png'); background-size:13px 13px; text-indent: -999px;}
	&__menu{padding:5px 10px; border-bottom:1px solid #c8c8c8;
		&:after{display:block; clear:both; content:'';}
	}
	&__menu-btn{float:left; display:inline-block; padding:5px; box-sizing:border-box; font-size:12px; border:1px solid #c8c8c8; color:#999; background-color:#f5f5f5;
		&.is-active{border:1px solid #fe9821; color:#fe9821; background-color:#fff;}
		& + .layer-popup__menu-btn{margin-left:5px;}
	}
	&__list{overflow:auto; padding-bottom:10px; box-sizing:border-box; height:350px;}
	&__item{position:relative; padding:10px; border-bottom:1px solid #c8c8c8; box-sizing:border-box;}
	&__item-btn{position:absolute; top:50%; right:10px; transform: translateY(-50%); padding:7px 10px; border:1px solid #c8c8c8; font-size:12px; color:#555; box-sizing:border-box; line-height:1;}
	&__address{font-size:12px; color:#555;}
	&__address-box{display:none;
		&.is-active{display:block;}
	}
	&__calender-list{margin-left:-10px; margin-top:-10px; padding:10px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__calender-item{float:left; display:inline-block; width:25%; margin-top:10px; padding-left:10px; box-sizing:border-box; font-size:13px;
		&.is-active{font-weight:700;
			& .layer-popup__calender-link{border:2px solid #fe9821; color:#fe9821;background-color:#fff;}
		}
	}
	&__wrap{padding:10px; box-sizing:border-box;}
	&__calender-link{display:table-cell; width:1%; height:50px; border:1px solid #c8c8c8; background-color:#f5f5f5; text-align:center; vertical-align:middle; box-sizing:border-box;}
	& .counter{float:left !important;}
	& .prod_detail{padding-top:11px !important; padding-bottom:11px !important; height:100px !important;}
	& .prod_img img{width:100px !important; height:100px !important;}
	// & .counter{width:90px !important;}
	// & .counter_ipt{width:30px !important;}
	&__checkbox{}
	&__box{padding:10px; box-sizing:border-box; border-top:1px solid #c8c8c8;}
	&__info{margin-top:10px;
		&__item{position:relative; padding-left:7px; font-size:12px;
			&:before{position:absolute; top:0px; left:0px; content:'·';}
			& + .layer-popup__info__item{margin-top:5px;}
		}
	}
}
.tooltip__btn{display:inline-block; margin-top:10px; padding:7px 10px; border:2px solid #fff; box-sizing:border-box; font-size:13px;}


.nonmember{
	&__tit{font-size:16px; color:#000; text-align:center;}
	&__box{padding:15px 10px; box-sizing:border-box;
		& + .nonmember__box{border-top:1px solid #c8c8c8;}
	}
	&__wrap{padding:0px 25px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__info{position:relative; margin-top:15px; padding-left:8px; font-size:12px; line-height:1.4;
		&:before{position:absolute; top:1px; left:0px; content:'·'}
	}
	&__cs{position:relative; padding-right:15px;
		&:after{position:absolute; top:-1px; right:0; display:inline-block; width:10px; height:19px; background:url('../images/common/mobile_icon.png'); background-size:10px 19px; content:'';}
	}
	&__benefit-tit{width:100%; height:40px; border-top:2px solid #c8c8c8; background-color:#eeeeee; box-sizing:border-box; font-size:16px; line-height:38px; font-weight:700; text-align:center;}
	&__img{position:relative; padding-left:67px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; bottom:0; display:inline-block; width:44px; height:33px; margin:auto 0; background:url('../images/common/nonmember_icon.png'); background-size:44px 99px; content:'';}
		&.nth-2:before{background-position-y:-33px;}
		&.nth-3:before{background-position-y:-66px;}
	}
	&__item{border-bottom:1px solid #c8c8c8;}
	&__item-wrap{display:table-cell; width:1%; height:85px; padding:0px 35px; box-sizing:border-box; vertical-align:middle;}
	&__item-tit{font-size:13px; font-weight:700;}
	&__item-txt{margin-top:4px; font-size:13px;}
}
.green{
	&__btn{display:block; width:100%; height:35px; line-height:33px; color:#77a22e; border:1px solid #81b823; font-size:14px; font-weight:700; text-align:center; box-sizing:border-box;
		& + .green__btn{margin-top:5px;}
	}
}
.input{
	&__box{
		& + .input__box{margin-top:5px;}
	}
}

.employee{padding:10px 0px; box-sizing:border-box;
	&__tit{margin-top:5px; font-size:16px; color:#000; font-weight:700; text-align:center;}
	&__box{padding:0px 35px; box-sizing:border-box;}
	&__wrap{margin-top:10px;
		&:after{display:block; clear:both; content:'';}
	}
}
.list{
	&__header{padding:17px 0px;box-sizing:border-box; border-bottom:1px solid #888888; font-size:15px; font-weight:700; color:#000; text-align:center;}
}
