@charset "utf-8";
@import "mixin";
.cs{
	&__box{padding:10px 0px; box-sizing:border-box;}
	&__body{margin-top:10px;}
	&__header{font-size:14px; font-weight:700; border-top:1px solid #c8c8c8;
		& .accordian4_tit{text-align:center;}
	}
	&__search{position:relative; margin-bottom:10px; padding:0px 10px; box-sizing: border-box;}
	&__search-input{display:inline-block; width:100%; padding-right:50px; box-sizing:border-box;}
	&__btn{position:absolute; top:0; right:10px;}
}
