@charset "utf-8";
@import "mixin";
.custom{
	&__header{padding:15px 10px; font-size:13px;}
	&__body{padding:10px; box-sizing:border-box;}
	&__list{margin-left:-5px; margin-top:-5px;
		&.type-two{
			& .custom__item{width:50%;}
		}
		&.type-two2{
			& .custom__item{width:50%;}
			& .custom__link{height:30px;}
		}
		&.type-three{
			& .custom__item{width:33.33%;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; margin-top:5px; padding-left:5px; box-sizing:border-box;

	}
	&__link{display:table-cell; width:1%; height:50px; border:1px solid #c8c8c8; box-sizing:border-box; background-color:#f5f5f5; vertical-align:middle; text-align:center; font-size:14px; color:#999;
		&.is-active{border:2px solid #fe9821; color:#fe9821; font-weight:700; background-color:#fff;}
	}
	&__prod{padding:10px; border-top:1px solid #888888; box-sizing:border-box;}
	&__prod-list{margin-top:-5px; margin-left:-5px;
		&:after{display:block; clear:both; content:'';}
	}
	&__prod-item{float:left; display:inline-block; width:33.33%; margin-top:5px; padding-left:5px; box-sizing:border-box;}
	&__tit{padding:10px 0px; box-sizing:border-box;}
	&__total{border-top:1px solid #888888;}
	&__total-wrap{display:table-cell; width:1%; padding:0px 10px; height:50px; vertical-align:middle;
		&:after{display:block; clear:both; content:'';}
	}
	&__subject{float:left; display:inline-block; font-size:14px; line-height:26px; font-weight:700;}
	&__money{float:right; display:inline-block; font-size:20px; color:#f98c2b; font-weight:700;
		& span{font-size:18px;}
	}
}
