@charset "utf-8";
@import "mixin";

/*헤더*/
.header{position:relative;height:52px; width:100%; background-color:#fff; text-align:left;
	&__menu-btn{position:absolute;top:0px;left:0px; padding:18px 9px; z-index:50;}
	&__menu-bar{height:0px; width:23px; border-bottom:3px solid #81b926; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s; transition: .3s; border-radius:3px;
		& +p{margin-top:4px;}
	}
	&__logo{position:absolute; z-index:50;display:inline-block; width:55px; height:52px; margin-left:47px; background-image:url('../images/logo.png'); background-repeat:no-repeat; background-size: 55px 33px; background-position:center center;
		& a{display:block;width:41px;height:45px; text-indent: -9999px;}
	}
	&__search{position:absolute; left:0; display:inline-block; padding:13px 60px 14px 110px;  box-sizing:border-box;
		& .input1{padding-right:25px; box-sizing:border-box;}
	}
	&__search-wrap{position:relative;}
	&__search-btn{position:absolute; top:0; right:0px; display:inline-block; width:20px; height:25px; background:url('../images/search_btn.png') no-repeat center left; background-size: 15px 15px; text-indent:-9999px;}
	&__after{display:block; clear:both; content:'';}
	&__input{border:1px solid #81b926; border-radius:3px; background:url('../images/hader_search.png') no-repeat center center; background-size:41px 13px;}
	&__gnb{border-bottom:1px solid #a5a5a5;}
}
.basket{
	&__btn{position:relative; display:inline-block; float:right; margin-right:9px; height:45px;
		& img{width:35px; margin-top:11px; line-height:45px;}
	}
	&__num{position:absolute; display:inline-block; top:8px; left:-5px; width:20px; height:14px; background-color:#fe9821; border:1px solid #fff; border-radius:20%; font-size:11px; color:#fff; line-height:14px; text-align:center;}
}
.gnb__wrap li a, .hero__list__item-over a{display:block; width:100%; height:100%;}
.gnb{ display:none; position:relative;  top:-45px; z-index:999;background-color:#fff; max-width:640px;
	&__wrap{position:absolute; top:-2px; width:100%;max-width:640px;left:0;}
	&__1depth{border-bottom:1px solid #c8c8c8;
		& > li{}
		&-list{padding-left:45px; font-size:15px;color:#555; font-weight:bold; text-transform: uppercase;  border-top:1px solid #c8c8c8;box-sizing: border-box;
			& a{position:relative; height:35px; line-height:35px;
				&:after{position:absolute; top:0; bottom:0; right:20px; content:''; display:block; width:13px; height:6px; margin:auto 0px; background:url('../images/menu_btn.png'); background-size:13px 13px; background-position:0px -7px;}
			}
		}
		&-cont{background-color:#63ade7; color:#fff; border-bottom:none;
			& > a:before{display:none;}
			& > a:after{display:none;}
		}
		& .on{
			& > a:after{background-position:0px 0px;}
			& .gnb__icon{background-position-x:-35px }
		}
	}
	&__2depth{display:none; background-color:#f1ece8; border-top:1px solid #e1e1e1;
		& li{border-bottom:1px solid #e1e1e1; background-color:#f1ece8; font-size:13px; color:#555;
			& a{float:left; display:inline-block; width:50%; padding:10px; border-right:1px solid #e1e1e1; box-sizing:border-box;
				& + a{border-right:none;}
			}
			&:after{display:block; clear:both; content:'';}
			&:last-child{border-bottom:none;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__content{max-width:610px; margin-right:30px; background-color:#fff;}
	&__icon{position:absolute; top:0; left:-45px; display:inline-block; width:35px; height:35px; background:url('../images/menu_icon.png') no-repeat; background-size:70px 350px; text-indent:-999px;
		&.nth-002{background-position-y: -35px;}
		&.nth-003{background-position-y: -70px;}
		&.nth-004{background-position-y: -105px;}
		&.nth-005{background-position-y: -140px;}
		&.nth-006{background-position-y: -175px;}
		&.nth-007{background-position-y: -210px;}
		&.nth-008{background-position-y: -245px;}
		&.nth-009{background-position-y: -280px;}
		&.nth-010{background-position-y: -315px;}
	}
	&__menu{height:35px; line-height:35px; font-size:16px; background-color:#00400f; color:#fff; text-align:center;}
	&__menu-item{float:left; display:inline-block; width:33.33%;
		&:nth-child(2){position:relative;
			&:before{position:absolute; left:0; top:1px; bottom:0; margin:auto 0; width:0; height:11px; border-left:1px solid #909491; content:'';}
			&:after{position:absolute; right:0; top:1px; bottom:0; margin:auto 0; width:0; height:11px; border-left:1px solid #909491; content:'';}
		}
	}
	&__tit{margin-top:12px; font-size:18px; color:#000; font-weight:700;}
	&__menu-list{
		&:after{display:block; clear:both; content:'';}
	}
	&__best{ padding:0px 15px; box-sizing:border-box;}
	&__best-list{margin-top:10px; margin-left:-8px;
		&:after{display:block; clear:both; content:'';}
	}
	&__best-item{float:left; width:33.33%; padding-left:8px; box-sizing:border-box;
		& img{width:100%;}
	}
	&__best-link{border:1px solid #c8c8c8;}
	&__list{margin-top:20px;}
	&__box{margin-top:10px;}
	&__btn{position:absolute; top:0px; right:0px; display:inline-block; width:30px; height:30px; z-index:50;background:url('../images/close_btn.png') no-repeat center center; background-size:26px 26px; text-indent:-999px;}
	&__footer{padding:16px 0px; text-align:center;}
	&__link{display:inline-block; width:116px; height:20px; background-color:#00400f; color:#fff; font-size:12px; line-height:20px;}
	&__center{position:relative; display:inline-block; padding-right:12px;
		&:after{position:absolute; top:4px; right:0; display:block; width:6px; height:11px; background:url('../images/gnb_icon.png'); background-size:6px 11px; content:'';}
	}
	&__num{display:inline-block; width:25px; height:18px; margin-left:6px; background-color:#fe9821; border-radius:10%; font-size:14px; color:#fff; line-height:18px; text-align:center; vertical-align:middle;}
}


/*푸터*/
.footer{position:absolute; right:0; bottom:0px; left:0; background-color:#5c6851; text-align:center; padding-top:11px; padding-bottom:50px;
	&.is-active{margin-bottom:50px;}
	&__wrap{padding:0px 20px; box-sizing:border-box;}
	&__menu1{background-color: #eaeddc; color: #164614; font-weight:700;}
	&__menu1-list{padding:10px 0px; margin-left:-10px; vertical-align:middle;  box-sizing:border-box; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__menu1-link{font-size:13px;}
	&__menu1-item{display:inline-block; width:26%; padding-left:10px; box-sizing:border-box; vertical-align:middle; line-height:1.2; text-align:center;
		&:first-child{width:22%;}
		&:nth-child(2){width:22%;}
		&:nth-child(3){width:28%;}
		&:nth-child(4){width:28%;}
	}
	&__menu2{color: #164614; font-weight:700;}
	&__menu2-list{padding:10px 0px; vertical-align:middle;  box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__menu2-link{font-size:12px;}
	&__menu2-item{position:relative;display:inline-block; padding:0px 10px; color:#eaeddc;
		& + li:before{position:absolute; top:3px; bottom:0; left:0; width:0; height:9px; margin:auto 0; border-left:1px solid #eaeddc; content:'';}
		&:first-child{padding-left:0px;}
		&:last-child{padding-right:0px;}
	}
	&__txt{display:inline-block;font-size:11px; color:#eaeddc;}
}
.footer-fix{ display:block; position:fixed; bottom:-50px; z-index:900; transition: all 1s; -webkit-transition:all 1s;
	&.is-active{bottom:0;}
	&__list{display:table-cell; width:1%; height:50px; vertical-align:middle; text-align:center; background-color:#00400f; font-size:12px; color:#fff;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; line-height:1;}
	&__link{
		&:before{display:block; width:27px; height:19px; margin:0px auto 5px; background:url('../images/footer_icon.png'); background-size:27px 76px; content:'';}
		&.nth-2:before{background-position: 0px -19px;}
		&.nth-3:before{background-position: 0px -38px;}
		&.nth-4:before{background-position: 0px -57px;}
	}
}
.white{display:none; position:absolute; z-index:100; top:0px;width:100%;height:100%; background-color:rgba(255,255,255,0.7);}
.black{display:none; position:absolute; z-index:150; top:0px;width:100%;height:100%; background-color:rgba(0,0,0,0.3);}
