@charset "utf-8";
@import "mixin";


.login{
	&__box{overflow:hidden; height:30px; line-height:30px; padding:0px 15px 0px 13px; box-sizing: border-box;}
	&__tit{float:left; position:relative; display:inline-block; padding-left:13px; font-size:15px; vertical-align:middle;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; width:9px; height:14px; margin:auto 0; background:url('../images/login_icon.png') no-repeat; background-size:9px 14px; content:'';}
		&.type-login{padding-left:25px; font-size:15px;
			& span{font-size:13px;}
			&:before{width:21px; height:21px; top:4px; bottom:auto; background:url('../images/member_icon.png') no-repeat; background-size:21px 21px;}
		}
	}
	&__txt{float:left; display:inline-block;font-size:12px; vertical-align:middle;
		& + .login__txt{margin-left:13px;}
	}
}


.main{
	&__slide{overflow:hidden; position:relative; }
	&__banner{margin-top:12px;}
	&__banner-area{overflow:hidden; position:relative; width: 100%; height: 0%; padding-bottom:34.44%; text-indent: -999px;}
	&__banner-img{position:absolute;  top:0; left:0; width:100%; height:100%; background-image:url('../images/main/main_banner02.jpg'); background-size:cover;}
	&__banner-link{position:absolute; bottom:10px; right:10px; width:22px; height:22px; background-image:url('../images/main/setting_btn.png'); background-size:cover;}
	&__item{text-align: center;
		&	img{width:100%;}
	}
	&__slide-btn{position:absolute; top:0; bottom:0; display:inline-block; width:34px; height:40px; margin:auto 0; background:url('../images/main/main_slide_btn.png'); background-size:68px 40px; z-index:10; cursor:pointer;}
	&__btn-prev{left:0;}
	&__btn-next{right:0; background-position-x:34px;}
	&__btn-more{position:absolute; bottom:16px; right:10px; width:25px; height:25px; background:url('../images/main/main_slide_more.png'); background-size:25px 25px; z-index:10;}
	&__tit{display:block; margin:0px auto;
		&.nth-1{width:90px; height:17px;}
		&.nth-3{width:95px; height:17px; margin:16px 0 0 0;}
		&.nth-4{width:104px; height:17px; margin:16px 0 0 0;}
		&.nth-5{width:157px; height:17px; margin:16px 0 0 0;}
		&.nth-6{width:197px; height:17px; margin:16px 0 0 0;}
		&.nth-7{width:147px; height:18px; margin:16px 0 0 0;}
		&.nth-8{width:103px; height:18px; margin:16px 0 0 0;}
		&.nth-9{width:141px; height:18px; margin:0;}
		&.nth-10{width:146px; height:18px; margin:0;}
		&.nth-11{width:91px; height:18px; margin:13px 0 0 0;}
		& img{width:100%;}
	}
	&__content{position:relative; margin-top:10px;
		&.type-border{border-top:1px solid #e1e1e1;}
		&.type-bg1{padding:13px 0px;background-color:#fefaf0; box-sizing:border-box;}
		&.type-bg2{padding:13px 0px;background-color:#eaeddc;}
	}
	&__content-list{margin-left:-10px;  box-sizing:border-box; text-align:center;
		&:after{display:block; clear:both; content:'';}
	}
	&__content-item{float:left; display:inline-block; width:50%; margin-top:10px; padding-left:10px; box-sizing:border-box; }
	&__sub-tit{margin-top:9px;font-size:14px; color:#000; text-align:center;}
	&__best-list{
		&:after{display:block; clear:both; content:'';}
	}
	&__best-item{float:left; display:inline-block; width:33.33%; text-align:center;}
	&__best-txt{font-size:13px;
		&:before{display:block; width:63px; height:63px; margin:12px auto 7px; background-size:63px 63px; content:'';}
		&.nth-1:before{background-image:url('../images/main/best_icon01.png');}
		&.nth-2:before{background-image:url('../images/main/best_icon02.png');}
		&.nth-3:before{background-image:url('../images/main/best_icon03.png');}
		&.nth-4:before{background-image:url('../images/main/best_icon04.png');}
		&.nth-5:before{background-image:url('../images/main/best_icon05.png');}
		&.nth-6:before{background-image:url('../images/main/best_icon06.png');}
	}
	&__more{overflow:hidden; position:absolute; top:19px; right:10px; display:block; width:12px; height:12px; background-image:url('../images/main/main_more.png'); background-size:12px 12px; text-indent:-999px;}
	&__board{padding:6px; border:1px solid #c8c8c8; box-sizing:border-box;}
	&__board-list{border-top:1px solid #c8c8c8;}
	&__board-item{padding:7px 0px; box-sizing:border-box; border-bottom:1px solid #c8c8c8;}
	&__board-tit{font-size:13px; color:#000; font-weight:700; }
	&__board-txt{overflow:hidden; margin-top:5px; font-size:12px; color:#333; white-space:nowrap; text-overflow: ellipsis;}
	&__sale{text-align:center;
		& .main__tit{position:relative; margin:12px 0 0;}
	}
	&__sale-date{margin:18px 0 4px; font-size:18px; font-weight:700; color:#fe9821;}
	&__sale-number{position:absolute; bottom:-2px; right:-35px; font-size:12px; color:#000;}
}
.remind{border:1px solid #c8c8c8;
	& img{width:100%;}
	&__box{padding:4px 0px;border-top:1px solid #c8c8c8; text-align:center;}
	&__txt{font-size:13px; color:#000; line-height:1.3;
		& span{font-size:14px; font-weight:700;}
	}
}
.review{
	&__banner{position:relative; height:25px; margin:13px -10px 0px -10px; padding-left:11.5%; background-image:url('../images/main/review_bg.jpg'); font-size:12px; color:#fff; line-height:25px;
		@media only screen and (max-width: 330px){font-size:10px;}
	}
	&__banner-point{margin-left:5px; font-size:14px; font-weight:700;
		@media only screen and (max-width: 330px){font-size:12px;}
	}
	&__banner-link{position:absolute; top:0; bottom:0; right:10px; overflow:hidden; display:inline-block; width:50px; height:13px; margin:auto 0; background-image:url('../images/main/review_btn.jpg'); background-size:50px 13px; text-indent:-999px;}
}
.recipe{
	&__list{position:relative; overflow:hidden; margin:11px -10px 0px;}
}
.brand{
	&__header{position:relative;width:214px; height:40px; background-color:#b4a48e; border:2px solid #9e8b71; border-radius: 5px; margin:12px auto 0px; box-sizing:border-box;}
	&__btn{overflow:hidden; display:inline-block; width:40px; height:36px; text-indent: -999px; box-sizing:border-box;}
	&__btn-prev{position:absolute; top:0; left:0; border-right:1px solid #9e8b71; background:url('../images/main/brand_prev.png') no-repeat center center; background-size:9px 18px;}
	&__btn-next{position:absolute; top:0; right:0; border-left:1px solid #9e8b71; background:url('../images/main/brand_next.png') no-repeat center center; background-size:9px 18px;}
	&__logo-list{overflow:hidden; width:130px; height:36px; margin:0px auto 0px;}
	&__logo-item{width:130px; height:36px;
		& img{width:100%; height:36px;}
	}
	&__content{overflow:hidden;}
}
.more{
	&__list{text-align: justify; padding:0px 2%; box-sizing:border-box; margin-top:12px; margin-bottom:-8px;
		&:after{display:inline-block;; width:100%;; content:'';}
	}
	&__item{ display:inline-block; width:76px; height:72px;
		& img{width:100%;}
	}
}
.sale{
	&__wrap{position:relative;}
	&__list{overflow:hidden;}
	&__item{display:inline-block; width:50%; padding:0px 15px; box-sizing:border-box;}
	&__bg{display:block; position:absolute; top:-1px; left:-1px; width:100%; height:100%; padding:1px; z-index:60; background-color:rgba(255,255,255,0.7);}
}
.slick-center .sale__bg{display:none;}
.plan{
	&__list{margin-top:10px;}
	&__item{
		& + .plan__item{margin-top:2px;}
	}
}
