
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>임직원 로그인
		</h2>
	</div>
	<div class="employee">
		<h3 class="employee__tit">풀무원 모바일샵에 오신 <span class="inline-block">임직원 여러분들을 환영합니다.</span></h3>
		<div class="employee__box">
			<p class="input__box mt15"><input type="text" class="input2 wd100p" placeholder="사원번호"></p>
			<p class="input__box"><input type="text" class="input2 wd100p" placeholder="비밀번호"></p>
			<div class="employee__wrap">
				<input type="checkbox" name="sms" id="sms_1" class="checkbox1"><label for="sms_1" class="">사원정보 저장</label>
				<a href="" class="btn__password">비밀번호 찾기</a>
			</div>
			<div class="btn__wrap mt15">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-3">로그인</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
