
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>최근 본 상품 (10)
		</h2>
	</div>
	<div class="recently">
		<div class="recently__header">
			<div class="check__box">
				<span class="check__all"><input type="checkbox" name="sl" id="test5" class="checkbox1"><label for="test5" class="">전체선택</label></span>
				<a href="" class="fl_r prod_btn2">선택상품 삭제</a>
			</div>
		</div>
		<div class="recently__body">
			<ul class="recently__list">
				<li class="recently__item">
					<div class="prod_info type-wide type-close">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="" class="prod_btn-close">닫기</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
						</div>
					</div>
				</li>
				<li class="recently__item">
					<div class="prod_info type-wide type-close">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="" class="prod_btn-close">닫기</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
						</div>
					</div>
				</li>
				<li class="recently__item">
					<div class="prod_info type-wide type-close">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="" class="prod_btn-close">닫기</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
						</div>
					</div>
				</li>
				<li class="recently__item">
					<div class="prod_info type-wide type-close">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="" class="prod_btn-close">닫기</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
						</div>
					</div>
				</li>
				<li class="recently__item">
					<div class="prod_info type-wide type-close">
						<a href="#" class="prod_img">
							<div class="prod_check">
								<input type="checkbox" name="sl" id="test4" class="checkbox1"><label for="test4" class="solo">선택</label>
							</div>
							<img src="../../images/temp/prod_img01.jpg" alt="">
						</a>
						<div class="prod_detail">
							<a href="#">
								<span class="prod_detail_top">
									<span class="prod_tit">뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g) 뮤즐리 슈퍼곡물 렌틸&amp;귀리  귀리(400g)</span>
									<span class="prod_price">
										<strong class="prod_price_now">
											<span>2,900</span>원
										</strong>
										<span class="prod_price_prev"><span>10,200</span>원</span>
									</span>
								</span>
							</a>
							<a href="" class="prod_btn-close">닫기</a>
							<a href="#" class="prod_btn_cart"><img src="../../images/btn_prod_cart.png" alt="장바구니 담기"></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="btn__group">
			<div class="btn__wrap">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-2">선택상품 장바구니</a></span>
			</div>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
