
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>임직원 비밀번호 찾기
		</h2>
	</div>
	<div class="employee">
		<div class="tab-v3">
			<a href="" class="tab-v3__link is-active">이메일로 받기</a>
			<a href="" class="tab-v3__link ">휴대폰으로 받기</a>
		</div>
		<div class="employee__box">
			<p class="input__box mt15"><input type="text" class="input2 wd100p" placeholder="사원번호"></p>
			<p class="input__box"><input type="text" class="input2 wd100p" placeholder="이름"></p>
			<div class="btn__wrap mt15">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-4">임시 비밀번호 받기</a></span>
			</div>
			<ul class="info">
				<li class="info__item">
					임시 비밀번호는 직원의 사내메일로 자동 발행됩니다.
				</li>
				<li class="info__item">
					사내메일이 없는 분은 핸드폰으로 임시비밀번호 받기를 이용해주세요.
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
