
<%- include('../_inc/_header'); %>
<%- include('../_inc/_gnb'); %>
<!-- body 시작 -->
<div class="section">
	<div class="section__header">
		<h2 class="section__tit">
			<a href="" class="back__btn">뒤로가기</a>임직원 비밀번호 찾기
		</h2>
	</div>
	<div class="employee">
		<div class="tab-v3">
			<a href="" class="tab-v3__link">이메일로 받기</a>
			<a href="" class="tab-v3__link is-active">휴대폰으로 받기</a>
		</div>
		<div class="employee__box">
			<p class="input__box mt15"><input type="text" class="input2 wd100p" placeholder="사원번호"></p>
			<p class="input__box"><input type="text" class="input2 wd100p" placeholder="이름"></p>
			<p class="input__box"><input type="text" class="input2 wd100p" placeholder="예) 010112341234"></p>
			<div class="btn__wrap mt15">
				<span class="btn1 wd100p"><a href="" class="btn1__link type-4">임시 비밀번호 받기</a></span>
			</div>
			<ul class="info">
				<li class="info__item">
					임시 비밀번호는 직원정보에 등록된 핸드폰번호와 동일할 경우 자동 발행됩니다.
				</li>
				<li class="info__item">
					 핸드폰번호가 변경된 경우 직원인사정보를 먼저 수정하신 뒤 재시도 부탁드립니다.
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- body 끝 -->
<%- include('../_inc/_tabbar1'); %>
<%- include('../_inc/_footer'); %>
